/*
  This module defines the sass directives used
  to style Section 106 Process Step pages.
  */
  $gutter: 0em !global;
  @import "../../bourbon/bourbon";
  @import "../../neat/neat";
  @import "../../global";

  #content_region {	
  	max-width: 100%;
  	margin: 0 auto;
  	padding: 50px 0px;
  }

  .section_106_process {
    background-color: $color-lightblue3;
  }

  .step-container {
  	@include outer-container;
  	max-width: $max-content-width;
  }

  .step-content {
  	@include span-columns(8);
  	@include shift(2);
  	position: relative;
  	text-align: left;
  }

  .step-number {
  	position: relative;
  	font-family: $sans-text;
  	color: rgba(149, 3, 6, 1);	
  	@include rem('font-size', 24px);
  	@include rem('line-height', 33.6px);   
  	text-transform: uppercase;
  	div {
     display: inline-block;
   }
 }

 .step-title {
   font-family: $sans-text;
   color: rgba(4, 59, 98, 1);	
   @include rem('font-size', 36px);
   @include rem('line-height', 50.4px);
 }

 .determination-section-title {
   font-family: $sans-text;
   color: rgba(0, 58, 94, 1);	
   @include rem('font-size', 22px);
   @include rem('line-height', 30.8px);
 }

 div.step-content > hr {
  background-color: #CCC;  
}

.determination-prompt {
  display: inline-block;
  white-space: nowrap;
  padding: 20px 0px;
  div {
    display: inline-block;
    vertical-align: middle;    
  }
  div.determination-image + div {
    position: relative;
    display: inline-block;
    color: rgba(74, 74, 74, 1);
    background-color: rgba(232, 248, 255, 1);    
    font-family: $sans-text;
    font-size: 18px;
    line-height: 51px;    
    width: 630px;    
    padding: 0px 30px;
  }
}

.determination-image {
  background-color: rgba(1, 59, 94, 1);
  background-image: url("/themes/achp/sass/pages/section_106_process/images/split-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 51px;
  width: 53px;
  margin-right: -4px;
}

.determination-yes-wrapper {
  display: inline-block;
  white-space: nowrap;
  padding-top: 20px;
  div {
    display: inline-block;
    vertical-align: middle;    
  }
  div.determination-prompt-yes + div {
    position: relative;
    display: inline-block;
    color: rgba(74, 74, 74, 1);
    background-color: rgba(208, 239, 215, 1);    
    font-family: $sans-text;
    font-size: 18px;
    line-height: 51px;    
    width: 630px;    
    padding: 0px 30px;
  }
}

.determination-prompt-yes {
  font-family: $sans-text;
  font-size: 18px;
  line-height: 51px; 
  color: rgba(255, 255, 255, 1);
  background-color: rgba(43, 136, 63, 1);
  height: 51px;
  width: 53px;
  margin-right: -4px;
  text-transform: uppercase;
  text-align: center;
}

.yes-explaination-and-action {
  div:first-child {
    margin-left: 53px;
    padding: 30px;
    background-color: rgba(242, 255, 245, 1); 
  }
}

.determination-no-wrapper {
  display: inline-block;
  white-space: nowrap;
  padding-top: 20px;
  div {
    display: inline-block;
    vertical-align: middle;    
  }
  div.determination-prompt-no + div {
    position: relative;
    display: inline-block;
    color: rgba(74, 74, 74, 1);
    background-color: rgba(229, 227, 228, 1);    
    font-family: $sans-text;
    font-size: 18px;
    line-height: 51px;    
    width: 630px;    
    padding: 0px 30px;
  }
}

.determination-prompt-no {
  font-family: $sans-text;
  font-size: 18px;
  line-height: 51px; 
  color: rgba(255, 255, 255, 1);
  background-color: rgba(74, 74, 74, 1);
  height: 51px;
  width: 53px;
  margin-right: -4px;
  text-transform: uppercase;
  text-align: center;
}

.no-explaination-and-action {
  div:first-child {
    margin-left: 53px;
    padding: 30px;
    background-color: rgba(244, 244, 244, 1); 
  }
}

.no-further-action {
  position: relative;
  background-image: url("/themes/achp/sass/pages/section_106_process/images/stop-icon.svg");
  background-repeat: no-repeat;
  background-position: left 30px center;
  font-family: $sans-text;
  font-size: 18px;
  line-height: 51px;   
  margin-left: 53px;
  padding: 5px 0px 0px 70px;
  text-transform: uppercase;
}

.no-explaination-and-action .no-further-action {
  background-color: rgba(244, 244, 244, 1);
  border-top: 1px solid rgba(229, 227, 228, 1);
}

.yes-explaination-and-action .no-further-action {
  background-color: rgba(242, 255, 245, 1);
  border-top: 1px solid rgba(208, 239, 215, 1);
}