/*
  This module defines the default styling for
  the Image Gallery feature.
*/
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* I. Global Variables */
/* II. Generic Flickity View Elements */
.flickity {
  background-color: #262626;
  width: 100%; }
  .flickity .flickity-prev-next-button {
    background-color: #0f0f0f;
    border: none;
    border-radius: 0;
    box-shadow: none;
    height: 100%;
    width: 20px;
    margin: 0;
    padding: 0; }
    .flickity .flickity-prev-next-button svg {
      height: 20px;
      left: 0;
      position: static;
      top: 0;
      width: 20px; }
      .flickity .flickity-prev-next-button svg .arrow {
        -webkit-transition: opacity 0.25s;
        -moz-transition: opacity 0.25s;
        transition: opacity 0.25s;
        fill: white; }
        .flickity .flickity-prev-next-button svg .arrow:disabled {
          background-color: #262626; }
    .flickity .flickity-prev-next-button:hover {
      background-color: #0f0f0f; }
    .flickity .flickity-prev-next-button.previous {
      left: 0; }
    .flickity .flickity-prev-next-button.next {
      right: 0; }
  .flickity .flickity-viewport {
    width: 100%; }
    .flickity .flickity-viewport .flickity-slider .gallery-cell {
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      top: 50%; }
      .flickity .flickity-viewport .flickity-slider .gallery-cell .field-content {
        padding: 10%; }
        .flickity .flickity-viewport .flickity-slider .gallery-cell .field-content img {
          height: auto;
          max-width: 100%; }

/* III. Carousel View Element */
.flickity.default_group .flickity-prev-next-button {
  display: none; }
.flickity.default_group .flickity-viewport .flickity-slider .gallery-cell {
  width: 100%; }
  .flickity.default_group .flickity-viewport .flickity-slider .gallery-cell .field-content {
    display: table;
    margin: 0 auto; }
    .flickity.default_group .flickity-viewport .flickity-slider .gallery-cell .field-content .news_carousel_image {
      text-align: center; }
    .flickity.default_group .flickity-viewport .flickity-slider .gallery-cell .field-content .news_carousel_caption {
      caption-side: bottom;
      color: #F4F4F4;
      font-size: 0.875rem; }

.flickity.default_group.flickity-enabled.is-draggable .flickity-viewport {
  cursor: default; }

/* IV. Nav Elements */
.flickity.navigator {
  border-top: 1px solid #4F4F4F;
  min-height: 125px; }
  .flickity.navigator .flickity-viewport {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    top: 50%; }
    .flickity.navigator .flickity-viewport .flickity-slider .gallery-cell {
      float: left;
      display: block;
      margin-right: 0%;
      width: 33.33333%; }
      .flickity.navigator .flickity-viewport .flickity-slider .gallery-cell:last-child {
        margin-right: 0; }
      .flickity.navigator .flickity-viewport .flickity-slider .gallery-cell img {
        height: auto;
        max-height: 100px;
        max-width: 90%; }
      .flickity.navigator .flickity-viewport .flickity-slider .gallery-cell.item-0 img {
        padding-left: 40px; }
      .flickity.navigator .flickity-viewport .flickity-slider .gallery-cell.last-item img {
        padding-right: 40px; }
