/*
** This Sass file defines the styles for the 
** Issues in Preservation module.
*/
/* Global variables: widths, heights, & breakpoints */
/* Global variables: text */
/* Global variables: colors */
/* Variables for homepage cards */
/* Grid variables */
/* Mixin for centering horizontally */
/* Mixin for centering vertically */
/* Mixin for centering vertically & horizontally */
/* Mixin for generating solid-colored hr elements*/
/* Mixin for centering and cropping to fit images*/
/* Mixin for attaching icons as right after-elements */
/* Same mixin as above, except for use where the icon should not change color upon hover*/
/* Mixins for hover effects on buttons etc. Will not show .25s transition on IE9, just jump directly to hover state*/
/* Mixin for responsive type size */
/* Maps for type changes*/
/**
 * Useful mixin that onverts property in px to property in REM
 * pulled from https://github.com/bitmanic/rem by bitmanic
 * 
 * Example usage:
 * 
 *  .element {
 *    @include rem('padding',10px 0 2px 5px);
 *  }
 * 
 * Output:
 * 
 *  .element {
 *    padding: 10px 0 2px 5px;
 *    padding: 1rem 0 0.2rem 0.5rem;
 *  }
 */
/**
 * Baseline, measured in pixels
 * The value should be the same as the font-size value for the html element
 * If the html element's font-size is set to 62.5% (of the browser's default font-size of 16px),
 * then the variable below would be 10px.
 */
#block-issuesinpreservationblock {
  width: 100%;
  height: auto; }

.issues_in_preservation {
  display: block;
  padding-top: 20px;
  height: auto; }
  .issues_in_preservation .issues_in_preservation_feature_tabs_navigation {
    position: relative; }
    .issues_in_preservation .issues_in_preservation_feature_tabs_navigation .issues_in_preservation_feature_tabs_navigation_previous {
      display: block;
      position: absolute;
      background-color: #E8F8FF;
      background-image: url("../images/left-arrow-icon-black.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      transition: background-image 0.25s;
      z-index: 100;
      top: 0px;
      left: 0px;
      height: 62px;
      width: 30px;
      cursor: pointer; }
    .issues_in_preservation .issues_in_preservation_feature_tabs_navigation .issues_in_preservation_feature_tabs_navigation_previous.disabled {
      background-image: url("../images/left-arrow-icon-grey.svg"); }
    .issues_in_preservation .issues_in_preservation_feature_tabs_navigation .issues_in_preservation_feature_tabs_navigation_next {
      display: block;
      position: absolute;
      background-color: #E8F8FF;
      background-image: url("../images/right-arrow-icon-black.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      transition: background-image 0.25s;
      z-index: 100;
      top: 0px;
      right: 0px;
      height: 62px;
      width: 30px;
      cursor: pointer; }
    .issues_in_preservation .issues_in_preservation_feature_tabs_navigation .issues_in_preservation_feature_tabs_navigation_next.disabled {
      background-image: url("../images/right-arrow-icon-grey.svg"); }
    @media (max-width: 730px) {
      .issues_in_preservation .issues_in_preservation_feature_tabs_navigation .issues_in_preservation_feature_tabs_navigation_previous,
      .issues_in_preservation .issues_in_preservation_feature_tabs_navigation .issues_in_preservation_feature_tabs_navigation_next {
        display: none; } }
  .issues_in_preservation .issues_in_preservation_feature_body {
    position: relative;
    height: auto;
    width: 100%;
    background-color: #043B62; }
    .issues_in_preservation .issues_in_preservation_feature_body .issues_in_preservation_feature_tabs_wrapper {
      position: relative;
      background-color: #E8F8FF;
      position: relative; }
      .issues_in_preservation .issues_in_preservation_feature_body .issues_in_preservation_feature_tabs_wrapper .issues_in_preservation_feature_tabs {
        display: table;
        table-layout: fixed;
        list-style-type: none;
        margin: 0px auto;
        border: none; }
      @media (max-width: 414px) {
        .issues_in_preservation .issues_in_preservation_feature_body .issues_in_preservation_feature_tabs_wrapper .issues_in_preservation_feature_tabs {
          width: 1200px;
          padding-left: 50px;
          padding-right: 50px; } }
      .issues_in_preservation .issues_in_preservation_feature_body .issues_in_preservation_feature_tabs_wrapper .issues_in_preservation_feature_tab {
        display: table-cell;
        vertical-align: bottom;
        height: 100%;
        border-collapse: separate;
        border-spacing: 30px 0px; }
        .issues_in_preservation .issues_in_preservation_feature_body .issues_in_preservation_feature_tabs_wrapper .issues_in_preservation_feature_tab a.issues_in_preservation_feature_tab_link {
          display: table-cell;
          font-family: "p22-underground", sans-serif;
          color: #4a4a4a;
          font-size: 16px;
          line-height: 22.4px;
          font-weight: 500;
          text-transform: uppercase;
          text-align: center;
          text-decoration: none;
          max-width: 140px;
          height: 100%;
          padding-bottom: 15px;
          border-bottom: 3px solid #E8F8FF; }
      .issues_in_preservation .issues_in_preservation_feature_body .issues_in_preservation_feature_tabs_wrapper .issues_in_preservation_feature_tab.active a.issues_in_preservation_feature_tab_link {
        color: #0990FE;
        border-bottom: 3px solid #0990FE; }
      .issues_in_preservation .issues_in_preservation_feature_body .issues_in_preservation_feature_tabs_wrapper .issues_in_preservation_feature_tab:not(.active):hover a.issues_in_preservation_feature_tab_link {
        color: #0990FE;
        border-bottom: 3px solid #0990FE; }
    .issues_in_preservation .issues_in_preservation_feature_body .issues_in_preservation_feature_content_container {
      position: relative;
      width: 100%;
      min-height: 265px;
      background-color: #043B62;
      padding: 20px;
      margin: auto auto; }
      .issues_in_preservation .issues_in_preservation_feature_body .issues_in_preservation_feature_content_container .issues_in_preservation_feature_tab_content {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: left;
        width: 650px;
        min-height: 230px;
        padding: 20px;
        border-top: 5px solid #950306;
        background-color: #FFF;
        box-sizing: border-box; }
        .issues_in_preservation .issues_in_preservation_feature_body .issues_in_preservation_feature_content_container .issues_in_preservation_feature_tab_content .issues_in_preservation_feature_tab_content_image {
          position: relative;
          display: inline-block;
          height: 185px;
          width: 185px;
          background-color: grey;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: auto 100%;
          box-sizing: border-box; }
          .issues_in_preservation .issues_in_preservation_feature_body .issues_in_preservation_feature_content_container .issues_in_preservation_feature_tab_content .issues_in_preservation_feature_tab_content_image .issues_in_preservation_feature_tab_content_image_link {
            display: block;
            text-decoration: none;
            height: 100%;
            width: 100%; }
        @media (max-width: 730px) {
          .issues_in_preservation .issues_in_preservation_feature_body .issues_in_preservation_feature_content_container .issues_in_preservation_feature_tab_content .issues_in_preservation_feature_tab_content_image {
            display: none; } }
        .issues_in_preservation .issues_in_preservation_feature_body .issues_in_preservation_feature_content_container .issues_in_preservation_feature_tab_content .issues_in_preservation_feature_tab_content_container_right {
          position: relative;
          display: inline-block;
          vertical-align: top;
          min-height: 185px;
          width: 380px;
          margin-left: 20px; }
          .issues_in_preservation .issues_in_preservation_feature_body .issues_in_preservation_feature_content_container .issues_in_preservation_feature_tab_content .issues_in_preservation_feature_tab_content_container_right .issues_in_preservation_feature_tab_content_title_link {
            position: relative;
            display: block;
            font-family: "p22-underground", sans-serif;
            color: #043b62;
            font-size: 20px;
            font-size: 1.25rem;
            line-height: 28px;
            line-height: 1.75rem;
            text-decoration: none; }
          .issues_in_preservation .issues_in_preservation_feature_body .issues_in_preservation_feature_content_container .issues_in_preservation_feature_tab_content .issues_in_preservation_feature_tab_content_container_right .issues_in_preservation_feature_tab_content_body_link {
            position: relative;
            display: block;
            font-family: "minion-pro", serif;
            color: #1e1e1e;
            font-size: 16px;
            font-size: 1rem;
            line-height: 22.4px;
            line-height: 1.4rem;
            text-decoration: none;
            text-align: left;
            margin-bottom: 20px; }
          @media (max-width: 730px) {
            .issues_in_preservation .issues_in_preservation_feature_body .issues_in_preservation_feature_content_container .issues_in_preservation_feature_tab_content .issues_in_preservation_feature_tab_content_container_right .issues_in_preservation_feature_tab_content_body_link {
              text-align: center; } }
          .issues_in_preservation .issues_in_preservation_feature_body .issues_in_preservation_feature_content_container .issues_in_preservation_feature_tab_content .issues_in_preservation_feature_tab_content_container_right .issues_in_preservation_feature_tab_content_read_more_link {
            position: absolute;
            bottom: 0px;
            max-width: 100%;
            color: #4F4F4F;
            font-family: "p22-underground", sans-serif;
            font-size: 14px;
            font-size: 0.875rem;
            line-height: 19.2px;
            line-height: 1.2rem;
            font-weight: 500;
            text-align: left;
            text-decoration: none;
            text-transform: uppercase;
            transition: color 0.25s; }
          .issues_in_preservation .issues_in_preservation_feature_body .issues_in_preservation_feature_content_container .issues_in_preservation_feature_tab_content .issues_in_preservation_feature_tab_content_container_right .issues_in_preservation_feature_tab_content_read_more_link:after {
            position: absolute;
            top: 50%;
            right: -45px;
            content: "";
            background-image: url("../images/right-arrow-icon.svg");
            background-repeat: no-repeat;
            background-position: center;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            padding-left: 15px;
            margin-right: 20px;
            cursor: pointer; }
          @media (max-width: 730px) {
            .issues_in_preservation .issues_in_preservation_feature_body .issues_in_preservation_feature_content_container .issues_in_preservation_feature_tab_content .issues_in_preservation_feature_tab_content_container_right .issues_in_preservation_feature_tab_content_read_more_link {
              text-align: center;
              left: 50%;
              -webkit-transform: translateX(-50%);
              -moz-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
              -o-transform: translateX(-50%);
              transform: translateX(-50%);
              text-align: left;
              width: 200px; }
            .issues_in_preservation .issues_in_preservation_feature_body .issues_in_preservation_feature_content_container .issues_in_preservation_feature_tab_content .issues_in_preservation_feature_tab_content_container_right .issues_in_preservation_feature_tab_content_read_more_link:after {
              position: absolute;
              top: 50%;
              right: -45px;
              content: "";
              background-image: url("../images/right-arrow-icon.svg");
              background-repeat: no-repeat;
              background-position: center;
              transition: background-image 0.25s;
              -webkit-transform: translateY(-50%);
              -moz-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              -o-transform: translateY(-50%);
              transform: translateY(-50%);
              width: 20px;
              height: 20px;
              padding-left: 15px;
              cursor: pointer; } }
          .issues_in_preservation .issues_in_preservation_feature_body .issues_in_preservation_feature_content_container .issues_in_preservation_feature_tab_content .issues_in_preservation_feature_tab_content_container_right .issues_in_preservation_feature_tab_content_read_more_link:hover {
            color: #0990FE; }
          .issues_in_preservation .issues_in_preservation_feature_body .issues_in_preservation_feature_content_container .issues_in_preservation_feature_tab_content .issues_in_preservation_feature_tab_content_container_right .issues_in_preservation_feature_tab_content_read_more_link:hover:after {
            background-image: url("../images/right-arrow-icon-blue.svg"); }
        @media (max-width: 730px) {
          .issues_in_preservation .issues_in_preservation_feature_body .issues_in_preservation_feature_content_container .issues_in_preservation_feature_tab_content .issues_in_preservation_feature_tab_content_container_right {
            text-align: center;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
            width: 90%;
            height: 90%;
            margin: 0px;
            padding: 0px;
            text-align: center; } }
      @media (max-width: 730px) {
        .issues_in_preservation .issues_in_preservation_feature_body .issues_in_preservation_feature_content_container .issues_in_preservation_feature_tab_content {
          width: 90%;
          height: 90%; } }
    @media (max-width: 500px) {
      .issues_in_preservation .issues_in_preservation_feature_body .issues_in_preservation_feature_content_container {
        height: 320px; } }
    @media (max-width: 415px) {
      .issues_in_preservation .issues_in_preservation_feature_body .issues_in_preservation_feature_content_container {
        height: 340px; } }
    @media (max-width: 320px) {
      .issues_in_preservation .issues_in_preservation_feature_body .issues_in_preservation_feature_content_container {
        height: 380px; } }

/*# sourceMappingURL=issues_in_preservation.css.map */
