#page[data-page-path-alias='/success-stories'] #content #content_region #block-success-stories-list .success_stories_list_container .views-exposed-form .js-form-item select {
  background-image: none;
  padding: 0 0 0 5px;
}

#page[data-page-path-alias='/about/staff'] #content #content_region #block-staff-list .views-exposed-form .js-form-item select {
  background-image: none;
  padding: 0 0 0 5px;
}

#page[data-page-node-type="page_with_banner"] #content #content_region .subscribe-container .subscribe-form-field label {
  top: -10px;
}

#page[data-page-node-type="page_with_banner"] #content #content_region .unsubscribe-container .unsubscribe-form-field label {
  top: -10px;
}

#page[data-page-node-type="page_with_banner"] #content #content_region .subscribe-container .subscribe-form-field-name input {
  margin-bottom: 20px;
}

#page[data-page-node-type="page_with_banner"] #content #content_region .newsletter_info .subscribe_header {
  margin-bottom: 20px;
} 

#page[data-page-node-type="page_with_banner"] #content #content_region .newsletter_disclaimer .unsubscribe_header {
  margin-bottom: 20px;
}