$sans-text: 'P22 Underground', sans-serif;
$serif-text: 'Minion Pro', serif;
$color-darkblue: #043B62;
$color-blue: #0990FE;
$color-lightblue: #309AEE;
$color-red: #950306;
$color-grey: #4F4F4F;
$color-lightgrey: #4A4A4A;
$background-color-darkblue: #043B62;
$background-color-grey: #F4F4F4;
$background-color-lightblue: #E8F8FF;
$base-text-size: 16px;