a {
  color: rgb(1,60,94);
  text-decoration: none;
} 

h1, h2, h3, h4, h5 {
  margin: 0;
}

th {
  color: rgb(1,60,94);
}

body {
  background-color: rgb(244,244,244);
  background-color: pink;
  margin: 0;
}

fieldset {
  margin: 2%; 
}

ul {
  list-style: none;
  margin: 0 !important;
}

#header {
  background-color: rgb(1,60,94);
  color: white;
  height: 175px;
}

#header a {
  color: white;
  text-decoration: none;
}

#header-logo {
  float: left;
  height: 100%;
  margin: 0px;
  width: 12%;
}

#header-logo img {
  height: 100%;
}
#header-title {
  float: left;
  padding: 2% 1% 0% 0%;
  width: 35%;
}
#header-right {
  float: left;
  padding: 2% 1% 1% 0%;
  width: 51%;
}
#header-right #block-achp-login h2 {
  display: none;
}
#header-right #block-achp-login ul {
  float: right;
  margin: 0;
}
#header-right #block-achp-login ul li {
  float: left;
  margin: 0em 1em;
}
.form-item {
  margin-top: 0;
}
#header-right #user-login-form {
  float: right;
}
#header-right #user-login-form div {
  float: left;
  padding: 0em 1em 0em 0em;
}
#header-right #user-login-form #edit-actions {
  display: none;
}
#header-right #block-achp-search h2 {
  display: none;
}
#header-right #search-block-form {
  float: left;
}
#header-right #search-block-form #edit-actions {
  display: none;
}
#sign-in-section {
  float: right;
  padding-bottom: 1em;
  text-align: right;
  width: 100%;
}
#form-section {
  float: right;
}
#menu {
  overflow: hidden;
  padding: 1% 0%;
  width: 100%;
}
#menu .menu-item {
  float: left;
  padding: 0% 2% 0% 2%;
  text-align: center;
  width: 10%;
}
#main {
  background-color: white;
  padding: 2%;
}

#first-section {
  background-image: url('/themes/achp/images/National_Building_Museum_-_columns.jpg');
  background-size: cover;
  height: 25em;
  padding: 2em 10%;
  width: 80%;
}
#first-section-inset {
  background-color: rgba(8,50,75,.7);
  color: white;
  height: 16em;
  padding: 2em 10% 2em 10%;
  text-align: center;
  width: 80%;
}
#second-section {
  height: 30em;
  padding: 0 2% 2% 2%; 
}
.second-section-insert {
  background-color: white;
  border-top-color: rgb(148,4,4);
  border-top-style: solid;
  border-top-width: .5em;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
  float: left;
  margin: -5em 2% 2% 2%;
  width: 29%;
}
.second-section-insert img {
  padding: 4% 4% 2% 4%;
  width: 92%
}
.second-section-insert h2 {
  color: rgb(8,50,75);
  padding: 2% 4% 2% 4%;
}
.second-section-insert h3 {
  color: rgb(8,50,75);
  padding: 2% 4% 2% 4%;
}
.second-section-insert ul {
  padding: 0 !important;
}
.second-section-insert li {
  border-top: solid 1px gray;
  margin: 0 !important;
  padding: 2% 4% !important;
}
#third-section {
  align: center;
  background-color: white;
  padding: 4%;
  text-align: center;
}
#third-section h2 {
  border-bottom-color: rgb(148,4,4);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: rgb(1,60,94);
  margin: 0 40% 2% 40%; 
  width: 20%;
}
#third-section .impact-stat {
  float: left;
  padding: 2%;
  width: 29%;
}
#third-section button {
  background-color: rgb(7,152,235);
  border-width: 0;
  color: white;
  padding: .5em 1em .5em 1em;
}
#fourth-section {
  background-color: white;
}
#fourth-section-header {
  background-color: rgba(8,50,75,.5);
  color: white;
  height: 5em;
  padding: 2em;
  position: relative;
  text-align: center;
}
#fourth-section h3 {
  text-decoration: underline;
}
#fourth-section iframe {
  margin-top: -9em;
}
#fifth-section {
  padding: 1em 27% 1em 27%;
  text-align: center;
}
#fifth-section h2 {
  color: rgb(1,60,94);
  margin: 0;
  padding-right: 1em;
}
#fifth-section button {
  background-color: rgb(7,152,235);
  border-width: 0;
  color: white;
  margin: 0.5em 0em;
  padding: 0.5em 1em;
}
#sixth-section {
  background-color: white;
  overflow: hidden;
  padding: 1em 4%;
}
#sixth-section-header {
  height: 5em;
  padding: 1em 0em;
  width: 100%;
}
#sixth-section-header-left {
  float: left;
}
#sixth-section-header-left h2 {
  color: rgb(1,60,94);
}
#sixth-section-header-right {
  float: right;
}
#sixth-section-header-right a {
  float: right;
}
#sixth-section .item-list li {
  border-top-color: rgb(148,4,4);
  border-top-style: solid;
  border-top-width: .5em;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
  float: left;
  margin: 0em 2% 2% 2%;
  padding: 1%;
  width: 27%;
}
#sixth-section .item-list h2 {
  color: rgb(1,60,94);
}
#seventh-section {
  background-image: url('/themes/achp/images/blue-columns-background.jpg');
  background-size: cover;
  height: 35em;
  width: 100%;
}
#eighth-section {
  background-color: white;
  overflow: hidden;
  padding: 1em 29%;
  width: 42%;
}
#eighth-section h2 {
  border-bottom-color: rgb(148,4,4);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: rgb(1,60,94);
}
.eighth-section-insert {
  float: left;
  padding: 2%;
  width: 46%;
}
.eighth-section-insert img {
  float: left;
  padding: 1em;
}
#footer {
  padding: 2%;
}
#content h2, #content h3, #content h4, #content h5 {
  color: rgb(1,60,94);
  padding: 1%;
}
#content table {
  width: 100%;
}
.collapse-processed {
  display: none;
}
.field {
  padding-top: 1%;
}
.field-item {
  padding-top: 1%;
}
.field-label {
  color: rgb(1,60,94);
}
.views-field {
  padding: 1%;
}
.views-field-title a {
  color: rgb(1,60,94);
}
.views-exposed-form {
  padding: 1%;
  border-bottom: solid rgb(1,60,94) 1px;
  margin: 1%;
}
.views-exposed-form .form-item {
  display: inline;
  padding-left: 1%;
}
.views-exposed-form .form-actions {
  display: inline;
  padding-left: 1%;
}
@media only screen and (min-device-width: 980px) {
  #header-title {
    height: 100%;
  }
}
@media only screen and (min-device-width : 0px) and (max-device-width: 1300px) {
  #header-logo {
    width: 15%;
  }
  #header-title {
    width: 31%;
  }
}
@media only screen and (min-device-width : 0px) and (max-device-width : 980px) {
  #header {
    height: 250px;
  }
  #header-logo {
    width: 25%;
  }
  #header-title {
    width: 74%;
  }
  #header-right #block-achp-login ul {
    float: left;
  }
  #second-section {
    display: none;
  }
}
@media only screen and (min-device-width : 0px) and (max-device-width : 800px) {
  #header-logo {
    width: 225px;
  }
  #header-title {
    display: none;
  }
  #menu .menu-item {
    float: none;
    padding: 2%;
    width: 96%;
  }
  #third-section .impact-stat {
    float: none;
    width: 96%;
  }
  #fifth-section {
    padding: 1em 2%;
  }
  #sixth-section .item-list li {
    float: none;
    width: 94%;
  }
  #eighth-section {
    overflow: hidden;
    padding: 1em 2%;
    width: 96%;
  }
  .eighth-section-insert {
    padding: 2%;
    width: 46%;
  }
}
@media only screen and (min-device-width : 0px) and (max-device-width : 500px) {
  #header {
    width: 100%;
  }
  #header-logo {
    width: 100%;
  }
  #header-logo img {
    display: block;
    margin: auto;
  }
  #header-right {
    display: none;
  }
  #fourth-section {
    padding: 2%;
  }
  .eighth-section-insert {
    float: none; 
    width: 96%;
  }
}
