@import "features";
@import "global";

html, body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  box-sizing: border-box;
  /*min-width: 300px;*/
}

.content_wrapper {
  max-width: $max-content-width;
  margin: 0 auto;
}

h1, h2 {
  font-family: $sans-text; 
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1 {
  font-size: 2.5rem;

  &.heading_subtitle {
    font-size: 2.25rem;
    font-weight: lighter;
  }
}

h2 {
  color: $color-darkblue;
  font-size: 2rem;
}

hr {
  @include hr($color-red);
}

p {
  text-align: center;
}

#homepage_hero_region {
  padding: 25px 50px;
  height: 500px;
  position: relative;
  background-image: url('../images/columns-banner-bg.png');
  background-size: cover;
  /* Holding for real image */

  #homepage_hero_content {
    @include center-xy;
    color: #FFFFFF;
    text-shadow: 0px 1px 3px rgba(0,0,0,0.50);
    width: 75%;

    p {
      font-size: 1.375rem;
    }

    hr {
      width: 500px;
      @include hr(#FFFFFF);
    }
  }
}

button {
  font-size: $base-text-size;
  color: #FFFFFF;
  line-height: 1rem;
  background-color: $color-blue;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.26);
  border: none;
  border-radius: 2px;
  padding: 10px 40px;
  margin: 0 auto;
  display: block;
}

/* Above is Rebecca's new SASS; code from Larry's old style.css starts here */
/*fieldset {
  margin: 2%; 
}

ul {
  list-style: none;
  margin: 0 !important;
}

#menu {
  overflow: hidden;
  padding: 1% 0%;
  width: 100%;

 .menu-item {
    float: left;
    padding: 0% 2% 0% 2%;
    text-align: center;
    width: 10%;
  }
}*/

#homepage_quicklinks_region {
  padding: 25px 50px;
  height: 200px;
  background-color: $background-color-grey;

  hr {
    width: 50px;
  }
}

#homepage_news_region {
  padding: 25px 50px;
  text-align: left;

  hr {
    width: 50px;
  }

  button {
    /*clear: both;*/
    margin-top: 20px;
  }
}

#homepage_events_region {
  padding: 25px 50px;
  background-image: url('../images/blue-columns-background.jpg');
  background-size: cover;
  height: 200px;

  h2 {
    color: #FFFFFF;
  }

  hr {
    @include hr(#FFFFFF);
    width: 50px;
  }
}

#homepage_flowchart_region {
  padding: 25px 50px;
  height: 200px;
  background-color: $background-color-lightblue;

  hr {
    width: 100px;
  }
}

#homepage_map_region {
  padding: 25px 50px;
  height: 200px;
  background-color: $color-darkblue;

  h2 {
    color: #FFFFFF;
  }
  hr {
    @include hr(#FFFFFF);
    width: 100px;
  }
}

#homepage_success_region {
  padding: 25px 50px;
  height: 200px;
  background-color: $background-color-grey;

  hr {
    width: 100px;
  }
}

#homepage_issues_region {
  padding: 25px 50px;
  height: 200px;
  background-color: $background-color-lightblue;

  hr {
    width: 100px;
  }
}

#homepage_impact_region {
  padding: 25px 50px;

  hr {
    width: 15%;
  }

  .impact_item {
    float: left;
    width: 300px;
    text-align: center;
    box-sizing: border-box;
    margin-right: 50px;

    &.impact_item_3 {
      margin-right: 0;
      &:after {
        clear: both;
      }
    }
  }

  .impact_number {
    color: $color-lightblue;
    font-family: $sans-text;
    font-size: 1.625rem;
  }

  p {
    color: $color-grey;
    margin-bottom: 25px;
  }

  button {
    clear: both;
  }
}


#homepage_preserveamerica_region {
  padding: 25px 50px;
  height: 200px;
  background-color: $background-color-grey;

  hr {
    width: 100px;
  }
}
