$header-text: 'Open Sans', sans-serif;
$body-text: 'Georgia', serif;
$main-color: #043B62; /* dark blue */
$accent-color-blue: #0990FE;
$accent-color-lightblue: #309AEE;
$accent-color-red: #950306;
$accent-color-grey: #4F4F4F;
$base-text-size: 16px;

/* Mixin for centering horizontally */
@mixin center-x {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* Mixin for centering vertically */
@mixin center-y {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Mixin for centering vertically & horizontally */
@mixin center-xy {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

/* Mixin for generating solid-colored hr elements*/
@mixin hr ($color) {
  color: $color;
  background-color: $color;
  border: 1px solid $color;
  height: 0;
}

html, body {
  max-width: 100%;
  font-family: $body-text; 
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  /*min-width: 300px;*/
}

h1, h2 {
  font-family: $header-text; 
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1 {
  font-size: 2.5rem;

  &.heading_subtitle {
    font-size: 2.25rem;
    font-weight: lighter;
  }
}

h2 {
  color: $main-color;
  font-size: 2rem;
}

p {
  text-align: center;
}

#homepage_hero_region {
  background-image: url('../images/blue-columns-background.jpg');
  background-size: cover;
  height: 500px;
  position: relative;

  #homepage_hero_content {
    @include center-xy;
    color: #FFFFFF;
    text-shadow: 0px 1px 3px rgba(0,0,0,0.50);
    width: 75%;

    p {
      font-size: 1.375rem;
    }

    hr {
      width: 40%;
      @include hr (#FFFFFF);
    }
  }
}

button {
  font-size: $base-text-size;
  color: #FFFFFF;
  line-height: 1rem;
  background-color: $accent-color-blue;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.26);
  border: none;
  border-radius: 2px;
  padding: 10px 40px;
  margin: 0 auto;
  display: block;
}

/* Above is Rebecca's new SASS; code from Larry's old style.css starts here */
fieldset {
  margin: 2%; 
}

ul {
  list-style: none;
  margin: 0 !important;
}

#menu {
  overflow: hidden;
  padding: 1% 0%;
  width: 100%;

 .menu-item {
    float: left;
    padding: 0% 2% 0% 2%;
    text-align: center;
    width: 10%;
  }
}

#homepage_impact {
  margin: 50px;

  hr {
    @include hr ($accent-color-red);
    width: 15%;
  }

  .impact_item {
    float: left;
    width: 33%;
    text-align: center;
    box-sizing: border-box;
    padding: 0 7%;

    &.impact_item_1 {
      padding-left: 0;
    }

    &.impact_item_3 {
      padding-right: 0;
      &:after {
        clear: both;
      }
    }

  }

  .impact_number {
    color: $accent-color-lightblue;
    font-family: $header-text;
    font-size: 1.625rem;
  }

  p {
    color: $accent-color-grey;
    margin-bottom: 25px;
  }
}


/* Below are leftovers from old .css file*/

#header {
  background-color: rgb(1,60,94);
  color: white;
  height: 175px;

  a {
    color: white;
    text-decoration: none;
  }

  &-logo {
    float: left;
    height: 100%;
    margin: 0px;
    width: 12%;

    img {
      height: 100%;
    }
  }

  &-title {
    float: left;
    padding: 2% 1% 0% 0%;
    width: 35%;
  }

  #header-right {
    float: left;
    padding: 2% 1% 1% 0%;
    width: 51%;

    #block-achp-login {
      h2 {
        display: none;
      }

      ul {
        float: right;
        margin: 0;

        li {
          float: left;
          margin: 0em 1em;         
        }
      } 
    }

    #user-login-form {
      float: right;

      div {
        float: left;
        padding: 0em 1em 0em 0em;       
      }

      #edit-actions {
        display: none;
      }
    }

    #block-achp-search h2 {
      display: none;
    }

    #search-block-form {
      float: left;

      #edit-actions {
        display: none;
      }
    }
  }
}

#main {
  background-color: white;
  padding: 2%;
}

#sign-in-section {
  float: right;
  padding-bottom: 1em;
  text-align: right;
  width: 100%;
}

#form-section {
  float: right;
}

.form-item {
  margin-top: 0;
}