/*
** This Sass file defines the styles for the 
** Issues in Preservation module.
*/

@import "global";

#block-issuesinpreservationblock {
  width: 100%;
  height: auto;
}

.issues_in_preservation {
  position: relative;
  display: block;
  .issues_in_preservation_feature_tabs_navigation {
    position: relative;
    .issues_in_preservation_feature_tabs_navigation_previous {
      display: block;
      position: absolute;
      background-color: $background-color-lightblue;
      background-image: url("../images/left-arrow-icon-grey.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      transition: background-image 0.25s;
      z-index: 100;
      top: 0px;
      left: 0px;
      height: 64px;
      width: 30px;
      cursor: pointer;
    }
    .issues_in_preservation_feature_tabs_navigation_next {
      display: block;
      position: absolute;
      background-color: $background-color-lightblue;
      background-image: url("../images/right-arrow-icon-grey.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      transition: background-image 0.25s;
      z-index: 100;
      top: 0px;
      right: 0px;
      height: 64px;
      width: 30px;
      cursor: pointer;
    }
  }

  .issues_in_preservation_feature_body {
    min-height: 300px;
    width: 100%;
    background-color: $color-darkblue;
    .issues_in_preservation_feature_tabs_wrapper {
      background-color: $background-color-lightblue;
      .issues_in_preservation_feature_tabs {
        display: table;
        display: flex;
        list-style-type: none;
        margin: 0;
        border: none;
        background-color: $background-color-lightblue;
      }
      @media (max-width: 414px) {
        .issues_in_preservation_feature_tabs {
          width: 1200px;
          padding-left: 50px;
          padding-right: 50px;
        }
      }
    
      .issues_in_preservation_feature_tab {      
        display: inline-block;
        box-sizing: border-box;
        height: 64px;
        margin: auto 30px;
        .issues_in_preservation_feature_tab_link {      
          display: table-cell;
          vertical-align: bottom;
          font-family: $sans-text;
          color: rgba(74, 74, 74, 1);
          @include rem('font-size', 16px);
          @include rem('line-height', 22.4px);
          font-weight: 500;
          text-transform: uppercase;
          text-align: center;
          text-decoration: none;
          max-width: 140px;
          height: 100%;
          box-sizing: border-box;
          padding-bottom: 15px;      
          border-bottom: 3px solid $background-color-lightblue;
        }  

        @media (max-width: 414px) {
          .issues_in_preservation_feature_tab_link {
            @include rem('font-size', 12px);
            @include rem('line-height', 16.8px);
          }     
        }
      }

      .issues_in_preservation_feature_tab.active {    
        a.issues_in_preservation_feature_tab_link {
          color: $color-blue;
          border-bottom: 3px solid $color-blue;
        }
      }

      .issues_in_preservation_feature_tab:not(.active):hover {   
        a.issues_in_preservation_feature_tab_link { 
          color: $color-blue;
          border-bottom: 3px solid $color-blue;      
        }
      }
    }
    .issues_in_preservation_feature_content_container {
      display: flex;
      justify-content: center;
      width: 100%;
      min-height: 265px;
      background-color: $color-darkblue;
      padding: 20px;
      .issues_in_preservation_feature_tab_content {
        display: flex;
        flex-direction: row;
        align-self: center;
        max-width: 650px;
        min-height: 230px;
        padding: 20px;
        border-top: 5px solid $color-red3;
        background-color: #FFF;
        box-sizing: border-box;
        .issues_in_preservation_feature_tab_content_image_link {
          display: block;
          text-decoration: none;
          .issues_in_preservation_feature_tab_content_image {
            height: 185px;
            width: 185px;
            background-color: grey;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: auto 100%;
            box-sizing: border-box;
          }
        }
        .issues_in_preservation_feature_tab_content_container_left {
          position: relative;
          min-height: 185px;
          margin-left: 20px;
          width: auto;
          .issues_in_preservation_feature_tab_content_title_link {
            display: block;
            font-family: $sans-text;
            color: rgba(4, 59, 98, 1);
            @include rem('font-size', 20px);
            @include rem('line-height', 28px);
            text-decoration: none;
            text-align: left;
          }
          .issues_in_preservation_feature_tab_content_body_link {
            display: block;
            font-family: $serif-text;
            color: rgba(30, 30, 30, 1);
            @include rem('font-size', 16px);
            @include rem('line-height', 22.4px);
            text-decoration: none;
            text-align: left;
          }
          .issues_in_preservation_feature_tab_content_read_more_link {
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            text-decoration: none;

            .issues_in_preservation_feature_tab_content_read_more_text {
              display: block;
              color: $color-grey;
              font-family: $sans-text;
              @include rem('font-size', 14px);
              @include rem('line-height', 19.2px);          
              font-weight: 500;
              text-align: left;          
              text-decoration: none;
              text-transform: uppercase;
            }
            .issues_in_preservation_feature_tab_content_read_more_text:after {
              content: "";
              background-image: url("../images/right-arrow-icon.svg");
              background-repeat: no-repeat;
              background-position: center;
              width: 20px;
              height: 20px;            
              padding-left: 25px;
              cursor: pointer;
              transition: background-image 0.25s;
            }
          }
        }
      }
    }
    @media (max-width: 414px) {
      .issues_in_preservation_feature_content_container {
        min-height: 285px;
        .issues_in_preservation_feature_tab_content {
          min-height: 250px;          
          .issues_in_preservation_feature_tab_content_image_link {
            display: none;
          }
          .issues_in_preservation_feature_tab_content_container_left {            
            min-height: 220px;
            margin-left: 0px;
            .issues_in_preservation_feature_tab_content_title_link {
              text-align: center;
              margin-bottom: 10px;
              @include rem('font-size', 18px);
              @include rem('line-height', 24px);
            }
            .issues_in_preservation_feature_tab_content_body_link {
              text-align: center;
            }
            .issues_in_preservation_feature_tab_content_read_more_link {
              .issues_in_preservation_feature_tab_content_read_more_text {
                
              }
            }              
          }
        }     
      }
    }
  }
}
