html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Global variables */
/* Grid variables */
/* Mixin for centering horizontally */
/* Mixin for centering vertically */
/* Mixin for centering vertically & horizontally */
/* Mixin for generating solid-colored hr elements*/
/* Mixin for responsive type size */
/* Maps for type changes*/
#block-views-block-latest-news-block .card {
  height: 350px;
  margin-top: 25px;
  margin-bottom: 25px; }
  #block-views-block-latest-news-block .card .homepage_news_item {
    padding: 10px;
    position: relative;
    height: 320px; }
    #block-views-block-latest-news-block .card .homepage_news_item .news_item_date {
      color: #C6C6C6;
      margin-top: 15px; }
    #block-views-block-latest-news-block .card .homepage_news_item .news_item_body p {
      text-align: left;
      font-family: "minion-pro", serif;
      margin-top: 10px;
      color: #4F4F4F; }
    #block-views-block-latest-news-block .card .homepage_news_item .news_item_link {
      position: absolute;
      bottom: 0; }
      #block-views-block-latest-news-block .card .homepage_news_item .news_item_link img {
        margin-left: 5px;
        vertical-align: -1px; }
    #block-views-block-latest-news-block .card .homepage_news_item .news_item_link_mobile {
      display: none; }
@media (min-width: 1024px) {
  #block-views-block-latest-news-block .card {
    height: 350px;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    #block-views-block-latest-news-block .card:last-child {
      margin-right: 0; } }
@media (max-width: 1023px) {
  #block-views-block-latest-news-block .card {
    height: 325px;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    #block-views-block-latest-news-block .card:last-child {
      margin-right: 0; }
    #block-views-block-latest-news-block .card.view-item-2 {
      margin-right: 0; }
    #block-views-block-latest-news-block .card.view-item-3 {
      margin-top: 0;
      margin-left: 25.58941%; }
    #block-views-block-latest-news-block .card .homepage_news_item {
      height: 295px; } }
@media (max-width: 775px) {
  #block-views-block-latest-news-block .card {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    height: 250px; }
    #block-views-block-latest-news-block .card:last-child {
      margin-right: 0; }
    #block-views-block-latest-news-block .card .homepage_news_item {
      height: 220px; }
    #block-views-block-latest-news-block .card.view-item-2 {
      margin-top: 0; }
    #block-views-block-latest-news-block .card.view-item-3 {
      margin-left: 0%; } }
@media (max-width: 650px) {
  #block-views-block-latest-news-block {
    height: 240px;
    border-top: 6px solid #950306;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.26);
    margin: 25px 0 25px; }
    #block-views-block-latest-news-block .card {
      height: 80px;
      margin: 0;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      box-shadow: none;
      border-top: 1px solid rgba(0, 0, 0, 0.26);
      position: relative; }
      #block-views-block-latest-news-block .card:last-child {
        margin-right: 0; }
      #block-views-block-latest-news-block .card .homepage_news_item {
        height: 60px;
        margin: 0 20px;
        padding: 0;
        width: 100%;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%); }
        #block-views-block-latest-news-block .card .homepage_news_item .news_item_date, #block-views-block-latest-news-block .card .homepage_news_item .news_item_body, #block-views-block-latest-news-block .card .homepage_news_item .news_item_link {
          display: none; }
        #block-views-block-latest-news-block .card .homepage_news_item .news_item_title {
          width: 75%;
          line-height: 24px;
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%); }
        #block-views-block-latest-news-block .card .homepage_news_item .news_item_link_mobile {
          font-size: 0.875rem;
          right: 60px;
          display: inline-block;
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%); }
          #block-views-block-latest-news-block .card .homepage_news_item .news_item_link_mobile a {
            text-decoration: none; }
    #block-views-block-latest-news-block .view-item-1 {
      border-top: none; } }

/* Global variables */
/* Grid variables */
/* Mixin for centering horizontally */
/* Mixin for centering vertically */
/* Mixin for centering vertically & horizontally */
/* Mixin for generating solid-colored hr elements*/
/* Mixin for responsive type size */
/* Maps for type changes*/
#block-views-block-homepage-success-stories-block-1 {
  margin: 0 auto;
  /* On wide screens, all 3 cards are on one row*/
  height: 450px;
  width: 940px;
  /* Last card has no margin-right */ }
  #block-views-block-homepage-success-stories-block-1 .card {
    height: 400px;
    margin: 25px 0;
    text-align: center;
    /*@include span-columns (4 of $grid-columns);*/
    background-color: #ffffff;
    width: 300px;
    float: left;
    margin-right: 20px; }
    #block-views-block-homepage-success-stories-block-1 .card.view-item-3 {
      margin-right: 0; }
    #block-views-block-homepage-success-stories-block-1 .card .success_story {
      padding: 5px 10px;
      position: relative;
      height: 370px; }
      #block-views-block-homepage-success-stories-block-1 .card .success_story_image {
        height: 185px;
        overflow: hidden;
        margin-bottom: 15px; }
        #block-views-block-homepage-success-stories-block-1 .card .success_story_image img {
          height: auto;
          min-height: 185px;
          width: 100%; }
      #block-views-block-homepage-success-stories-block-1 .card .success_story_title h3 {
        text-align: inherit; }
      #block-views-block-homepage-success-stories-block-1 .card .success_story_location {
        color: #7C7C7C; }
      #block-views-block-homepage-success-stories-block-1 .card .success_story_body p {
        font-family: "minion-pro", serif;
        margin: 5px; }
      #block-views-block-homepage-success-stories-block-1 .card .success_story_link {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: 0; }
        #block-views-block-homepage-success-stories-block-1 .card .success_story_link img {
          margin-left: 5px;
          vertical-align: -1px; }
  @media (max-width: 1023px) {
    #block-views-block-homepage-success-stories-block-1 {
      /* At this width 2 cards are on the first row, and the third is on the second */
      /* First card has a margin-right, but second no longer does */
      height: 875px;
      /* Top 2 cards have both top and bottom margin, whereas the 3rd has only bottom */
      width: 620px; }
      #block-views-block-homepage-success-stories-block-1 .card {
        /*@include span-columns (6 of 12);*/ }
        #block-views-block-homepage-success-stories-block-1 .card.view-item-2 {
          margin-right: 0; }
        #block-views-block-homepage-success-stories-block-1 .card.view-item-3 {
          /*margin-top: 0;*/
          /*@include shift(3);*/
          /*margin: 0 auto;*/
          margin: 0 160px; } }
  @media (max-width: 700px) {
    #block-views-block-homepage-success-stories-block-1 {
      /* At this width every card is in its own row */
      height: 1300px;
      width: 300px; }
      #block-views-block-homepage-success-stories-block-1 .card {
        margin: 25px 0 0;
        height: 425px; }
        #block-views-block-homepage-success-stories-block-1 .card .success_story {
          height: 395px; }
        #block-views-block-homepage-success-stories-block-1 .card.view-item-3 {
          margin: 25px 0 25px; } }
  @media (max-width: 650px) {
    #block-views-block-homepage-success-stories-block-1 {
      /* At this width cards 2 and 3 disappear, so the block only contains 1 card */
      height: 450px;
      width: 300px; }
      #block-views-block-homepage-success-stories-block-1 .card {
        margin: 25px 0;
        height: 400px;
        /*@include span-columns (12 of 12);*/ }
        #block-views-block-homepage-success-stories-block-1 .card.view-item-2, #block-views-block-homepage-success-stories-block-1 .card.view-item-3 {
          display: none; }
        #block-views-block-homepage-success-stories-block-1 .card .success_story {
          height: 370px; } }

/* Global variables */
/* Grid variables */
/* Mixin for centering horizontally */
/* Mixin for centering vertically */
/* Mixin for centering vertically & horizontally */
/* Mixin for generating solid-colored hr elements*/
/* Mixin for responsive type size */
/* Maps for type changes*/
html, body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  box-sizing: border-box;
  font-family: "minion-pro", serif;
  overflow-x: hidden; }

#outer_container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  #outer_container::after {
    clear: both;
    content: "";
    display: table; }

.region_container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .region_container:last-child {
    margin-right: 0; }

.content_wrapper {
  max-width: 1024px;
  margin: 0 auto;
  position: relative; }

h1, h2, h3 {
  font-family: "p22-underground", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: normal; }

h1 {
  font-size: 1.25rem; }
  @media screen and (min-width: 650px) {
    h1 {
      font-size: 2rem; } }
  @media screen and (min-width: 925px) {
    h1 {
      font-size: 2.5rem; } }
  h1.heading_subtitle {
    font-size: 1.25rem;
    font-weight: 300; }
    @media screen and (min-width: 650px) {
      h1.heading_subtitle {
        font-size: 2rem; } }
    @media screen and (min-width: 925px) {
      h1.heading_subtitle {
        font-size: 2.25rem; } }

/* Section titles */
h2 {
  color: #043B62;
  font-size: 1.25rem; }
  @media screen and (min-width: 650px) {
    h2 {
      font-size: 2rem; } }

/* Card titles/headlines */
h3 {
  font-size: 1.125rem;
  color: #043B62;
  text-align: left;
  font-weight: 500; }
  @media screen and (min-width: 650px) {
    h3 {
      font-size: 1.25rem; } }
  h3 a {
    color: inherit;
    text-decoration: none; }

hr {
  color: #950306;
  background-color: #950306;
  /*border: 1px solid $color;*/
  border: none;
  height: 1px;
  min-width: 50px; }

p {
  text-align: center; }

button {
  font-family: "p22-underground", sans-serif;
  font-size: 0.75rem;
  color: #FFFFFF;
  line-height: 1.4rem;
  background-color: #0990FE;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.26);
  border: none;
  border-radius: 2px;
  padding: 12px 35px 8px;
  margin: 0 auto 30px auto;
  display: block; }
  @media screen and (min-width: 650px) {
    button {
      font-size: 16px; } }
  @media (max-width: 650px) {
    button {
      padding: 8px 20px;
      margin-bottom: 0; } }

.card {
  padding: 10px;
  font-family: "p22-underground", sans-serif;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.26);
  border-top: 6px solid #950306;
  box-sizing: border-box;
  text-align: left; }

/* For 'READ MORE >' buttons at bottom of */
.read_more a {
  color: #4F4F4F;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500; }

#homepage_hero_region {
  padding: 25px 50px;
  height: 400px;
  position: relative;
  background-image: url("../images/columns-banner-bg.png");
  background-size: cover; }
  #homepage_hero_region #homepage_hero_content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    color: #FFFFFF;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 1024px;
    padding: 0 42px; }
    #homepage_hero_region #homepage_hero_content hr {
      width: 60%;
      color: #FFFFFF;
      background-color: #FFFFFF;
      /*border: 1px solid $color;*/
      border: none;
      height: 1px;
      margin-top: 20px; }
    #homepage_hero_region #homepage_hero_content p {
      font-size: 16px;
      margin-top: 0; }
      @media screen and (min-width: 650px) {
        #homepage_hero_region #homepage_hero_content p {
          font-size: 1.25rem; } }
      @media screen and (min-width: 925px) {
        #homepage_hero_region #homepage_hero_content p {
          font-size: 1.375rem; } }
    #homepage_hero_region #homepage_hero_content button {
      margin-top: 40px;
      margin-bottom: 0;
      font-size: 0.75rem; }
      @media screen and (min-width: 650px) {
        #homepage_hero_region #homepage_hero_content button {
          font-size: 16px; } }
      @media (max-width: 925px) {
        #homepage_hero_region #homepage_hero_content button {
          font-size: 0.875rem;
          margin-top: 20px; } }

#homepage_quicklinks_region {
  padding: 25px 50px;
  height: 200px;
  background-color: #F4F4F4; }
  #homepage_quicklinks_region hr {
    width: 50px; }

/* See latest_news feature file for more */
#homepage_news_region {
  padding: 25px 50px;
  height: auto; }
  #homepage_news_region hr {
    width: 5%; }
  #homepage_news_region #block-morenewsbutton {
    padding: 0 25px; }
    #homepage_news_region #block-morenewsbutton button {
      clear: both; }
  @media (max-width: 650px) {
    #homepage_news_region {
      padding: 25px 0; } }

#homepage_events_region {
  padding: 25px 50px;
  background-image: url("../images/blue-columns-background.jpg");
  background-size: cover;
  height: 200px; }
  #homepage_events_region h2 {
    color: #FFFFFF; }
  #homepage_events_region hr {
    color: #FFFFFF;
    background-color: #FFFFFF;
    /*border: 1px solid $color;*/
    border: none;
    height: 1px;
    width: 50px; }

#homepage_flowchart_region {
  padding: 25px 50px;
  height: 200px;
  background-color: #E8F8FF; }
  #homepage_flowchart_region hr {
    width: 100px; }

#homepage_map_region {
  padding: 25px 50px;
  height: 200px;
  background-color: #043B62; }
  #homepage_map_region h2 {
    color: #FFFFFF; }
  #homepage_map_region hr {
    color: #FFFFFF;
    background-color: #FFFFFF;
    /*border: 1px solid $color;*/
    border: none;
    height: 1px;
    width: 100px; }

#homepage_success_region {
  padding: 25px 50px;
  height: auto;
  background-color: #F4F4F4; }
  #homepage_success_region hr {
    width: 25%; }
  #homepage_success_region p {
    margin-bottom: 0; }
  #homepage_success_region button {
    clear: both; }
  @media (max-width: 384px) {
    #homepage_success_region {
      padding: 25px 10px; }
      #homepage_success_region #block-preservationsuccessstories {
        padding: 0 40px; }
      #homepage_success_region #block-moresuccessstoriesbutton {
        padding: 0 40px; } }

#homepage_issues_region {
  padding: 25px 50px;
  height: 200px;
  background-color: #E8F8FF; }
  #homepage_issues_region hr {
    width: 100px; }

#homepage_impact_region {
  padding: 25px 50px;
  margin: 0 auto; }
  #homepage_impact_region #block-ourimpact {
    margin: 0 auto; }
  #homepage_impact_region hr {
    width: 20%; }
  #homepage_impact_region .impact_item {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    height: 300px;
    text-align: center;
    box-sizing: border-box;
    padding: 25px;
    margin-bottom: 15px;
    /* Temporary solution to blocks being off-center */ }
    #homepage_impact_region .impact_item:last-child {
      margin-right: 0; }
    #homepage_impact_region .impact_item_1 {
      margin-left: 2.35765%; }
    #homepage_impact_region .impact_item img {
      height: 120px; }
    #homepage_impact_region .impact_item .impact_number {
      color: #309AEE;
      font-family: "p22-underground", sans-serif;
      font-size: 1.25rem;
      margin-top: 20px;
      font-weight: 500; }
      @media screen and (min-width: 650px) {
        #homepage_impact_region .impact_item .impact_number {
          font-size: 1.625rem; } }
    #homepage_impact_region .impact_item p {
      color: #4F4F4F;
      margin: 5px 0 25px; }
  @media (max-width: 750px) {
    #homepage_impact_region #block-ourimpact {
      margin-bottom: 25px; }
    #homepage_impact_region .impact_item {
      margin-bottom: 25px;
      height: auto;
      padding: 0;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      #homepage_impact_region .impact_item:last-child {
        margin-right: 0; }
      #homepage_impact_region .impact_item_1 {
        margin-left: 0; }
      #homepage_impact_region .impact_item_3 {
        margin-bottom: 25px; }
      #homepage_impact_region .impact_item .impact_number, #homepage_impact_region .impact_item p {
        margin: 0; }
      #homepage_impact_region .impact_item img {
        height: 60px; } }
  #homepage_impact_region button {
    clear: both; }

#homepage_preserveamerica_region {
  padding: 25px 50px;
  height: 200px;
  background-color: #F4F4F4; }
  #homepage_preserveamerica_region hr {
    width: 100px; }

/* Admin menu overlay */
body.toolbar-tray-open.toolbar-vertical.toolbar-fixed {
  margin: 0px; }

/*# sourceMappingURL=style.css.map */
