/* dark blue */
/* Mixin for centering horizontally */
/* Mixin for centering vertically */
/* Mixin for centering vertically & horizontally */
/* Mixin for generating solid-colored hr elements*/
html, body {
  max-width: 100%;
  font-family: "Georgia", serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  /*min-width: 300px;*/ }

h1, h2 {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: normal; }

h1 {
  font-size: 2.5rem; }
  h1.heading_subtitle {
    font-size: 2.25rem;
    font-weight: lighter; }

h2 {
  color: #043B62;
  font-size: 2rem; }

p {
  text-align: center; }

#homepage_hero_region {
  background-image: url("../images/blue-columns-background.jpg");
  background-size: cover;
  height: 500px;
  position: relative; }
  #homepage_hero_region #homepage_hero_content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    color: #FFFFFF;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    width: 75%; }
    #homepage_hero_region #homepage_hero_content p {
      font-size: 1.375rem; }
    #homepage_hero_region #homepage_hero_content hr {
      width: 40%;
      color: #FFFFFF;
      background-color: #FFFFFF;
      border: 1px solid #FFFFFF;
      height: 0; }

button {
  font-size: 16px;
  color: #FFFFFF;
  line-height: 1rem;
  background-color: #0990FE;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.26);
  border: none;
  border-radius: 2px;
  padding: 10px 40px;
  margin: 0 auto;
  display: block; }

/* Above is Rebecca's new SASS; code from Larry's old style.css starts here */
fieldset {
  margin: 2%; }

ul {
  list-style: none;
  margin: 0 !important; }

#menu {
  overflow: hidden;
  padding: 1% 0%;
  width: 100%; }
  #menu .menu-item {
    float: left;
    padding: 0% 2% 0% 2%;
    text-align: center;
    width: 10%; }

#homepage_impact {
  margin: 50px; }
  #homepage_impact hr {
    color: #950306;
    background-color: #950306;
    border: 1px solid #950306;
    height: 0;
    width: 15%; }
  #homepage_impact .impact_item {
    float: left;
    width: 33%;
    text-align: center;
    box-sizing: border-box;
    padding: 0 7%; }
    #homepage_impact .impact_item.impact_item_1 {
      padding-left: 0; }
    #homepage_impact .impact_item.impact_item_3 {
      padding-right: 0; }
      #homepage_impact .impact_item.impact_item_3:after {
        clear: both; }
  #homepage_impact .impact_number {
    color: #309AEE;
    font-family: "Open Sans", sans-serif;
    font-size: 1.625rem; }
  #homepage_impact p {
    color: #4F4F4F;
    margin-bottom: 25px; }
  #homepage_impact button {
    clear: both; }

/* Below are leftovers from old .css file*/
#header {
  background-color: #013c5e;
  color: white;
  height: 175px; }
  #header a {
    color: white;
    text-decoration: none; }
  #header-logo {
    float: left;
    height: 100%;
    margin: 0px;
    width: 12%; }
    #header-logo img {
      height: 100%; }
  #header-title {
    float: left;
    padding: 2% 1% 0% 0%;
    width: 35%; }
  #header #header-right {
    float: left;
    padding: 2% 1% 1% 0%;
    width: 51%; }
    #header #header-right #block-achp-login h2 {
      display: none; }
    #header #header-right #block-achp-login ul {
      float: right;
      margin: 0; }
      #header #header-right #block-achp-login ul li {
        float: left;
        margin: 0em 1em; }
    #header #header-right #user-login-form {
      float: right; }
      #header #header-right #user-login-form div {
        float: left;
        padding: 0em 1em 0em 0em; }
      #header #header-right #user-login-form #edit-actions {
        display: none; }
    #header #header-right #block-achp-search h2 {
      display: none; }
    #header #header-right #search-block-form {
      float: left; }
      #header #header-right #search-block-form #edit-actions {
        display: none; }

/*#main {
  background-color: white;
  padding: 2%;
}

#sign-in-section {
  float: right;
  padding-bottom: 1em;
  text-align: right;
  width: 100%;
}

#form-section {
  float: right;
}

.form-item {
  margin-top: 0;
}*/

/*# sourceMappingURL=style.css.map */
