/* dark blue */
/* Mixin for centering horizontally */
/* Mixin for centering vertically */
/* Mixin for centering vertically & horizontally */
/* Mixin for generating solid-colored hr elements*/
html, body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  /*min-width: 300px;*/ }

h1, h2 {
  font-family: "P22 Underground", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: normal; }

h1 {
  font-size: 2.5rem; }
  h1.heading_subtitle {
    font-size: 2.25rem;
    font-weight: lighter; }

h2 {
  color: #043B62;
  font-size: 2rem; }

hr {
  color: #950306;
  background-color: #950306;
  border: 1px solid #950306;
  height: 0; }

p {
  text-align: center; }

#homepage_hero_region {
  padding: 25px 50px;
  height: 500px;
  position: relative;
  background-image: url("../images/columns-banner-bg.png");
  background-size: cover;
  /* Holding for real image */ }
  #homepage_hero_region #homepage_hero_content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    color: #FFFFFF;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    width: 75%; }
    #homepage_hero_region #homepage_hero_content p {
      font-size: 1.375rem; }
    #homepage_hero_region #homepage_hero_content hr {
      width: 500px;
      color: #FFFFFF;
      background-color: #FFFFFF;
      border: 1px solid #FFFFFF;
      height: 0; }

button {
  font-size: 16px;
  color: #FFFFFF;
  line-height: 1rem;
  background-color: #0990FE;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.26);
  border: none;
  border-radius: 2px;
  padding: 10px 40px;
  margin: 0 auto;
  display: block; }

/* Above is Rebecca's new SASS; code from Larry's old style.css starts here */
fieldset {
  margin: 2%; }

ul {
  list-style: none;
  margin: 0 !important; }

#menu {
  overflow: hidden;
  padding: 1% 0%;
  width: 100%; }
  #menu .menu-item {
    float: left;
    padding: 0% 2% 0% 2%;
    text-align: center;
    width: 10%; }

#homepage_quicklinks_region {
  padding: 25px 50px;
  height: 200px;
  background-color: #F4F4F4; }
  #homepage_quicklinks_region hr {
    width: 50px; }

#homepage_news_region {
  padding: 25px 50px;
  text-align: left; }
  #homepage_news_region hr {
    width: 50px; }
  #homepage_news_region .homepage_news_content {
    padding: 10px;
    font-family: "P22 Underground", sans-serif;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.26);
    border-top: 4px solid #950306;
    float: left;
    width: calc(33% - 20px * 2 / 3);
    box-sizing: border-box;
    margin: 20px;
    margin-left: 0;
    height: 275px;
    text-align: left; }
    #homepage_news_region .homepage_news_content:last-of-type {
      margin-right: 0; }
    #homepage_news_region .homepage_news_content .news_item_title {
      font-size: 1.25rem;
      color: #043B62; }
    #homepage_news_region .homepage_news_content .news_item_date {
      color: #4A4A4A; }
    #homepage_news_region .homepage_news_content .news_item_body p {
      text-align: left;
      font-family: "Minion Pro", serif; }
  #homepage_news_region button {
    clear: both;
    /*display: inline-block;*/ }

#homepage_events_region {
  padding: 25px 50px;
  background-image: url("../images/blue-columns-background.jpg");
  background-size: cover;
  height: 200px; }
  #homepage_events_region h2 {
    color: #FFFFFF; }
  #homepage_events_region hr {
    color: #FFFFFF;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    height: 0;
    width: 50px; }

#homepage_flowchart_region {
  padding: 25px 50px;
  height: 200px;
  background-color: #E8F8FF; }
  #homepage_flowchart_region hr {
    width: 100px; }

#homepage_map_region {
  padding: 25px 50px;
  height: 200px;
  background-color: #043B62; }
  #homepage_map_region h2 {
    color: #FFFFFF; }
  #homepage_map_region hr {
    color: #FFFFFF;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    height: 0;
    width: 100px; }

#homepage_success_region {
  padding: 25px 50px;
  height: 200px;
  background-color: #F4F4F4; }
  #homepage_success_region hr {
    width: 100px; }

#homepage_issues_region {
  padding: 25px 50px;
  height: 200px;
  background-color: #E8F8FF; }
  #homepage_issues_region hr {
    width: 100px; }

#homepage_impact_region {
  padding: 25px 50px; }
  #homepage_impact_region hr {
    width: 15%; }
  #homepage_impact_region .impact_item {
    float: left;
    width: 33%;
    text-align: center;
    box-sizing: border-box;
    padding: 0 7%; }
    #homepage_impact_region .impact_item.impact_item_1 {
      padding-left: 0; }
    #homepage_impact_region .impact_item.impact_item_3 {
      padding-right: 0; }
      #homepage_impact_region .impact_item.impact_item_3:after {
        clear: both; }
  #homepage_impact_region .impact_number {
    color: #309AEE;
    font-family: "P22 Underground", sans-serif;
    font-size: 1.625rem; }
  #homepage_impact_region p {
    color: #4F4F4F;
    margin-bottom: 25px; }
  #homepage_impact_region button {
    clear: both; }

#homepage_preserveamerica_region {
  padding: 25px 50px;
  height: 200px;
  background-color: #F4F4F4; }
  #homepage_preserveamerica_region hr {
    width: 100px; }

/*# sourceMappingURL=style.css.map */
