/*#block-eventsmeetings {
  .event_calendar_feature {
    padding-top: 30px;
  }

  h3 {
    color: #FFFFFF;
    font-size: 1.75rem;
    font-weight: 300;
    color: pink;
  }

  .event_calendar_calendar {
    font-family: $sans-text;
    @extend .card;
    background-color: #fff;
    @include span-columns (4 of 12);
    color: $color-grey2;

    .clndr-controls {
      .month {
        font-size: 1.5625rem;
        text-transform: uppercase;
      }
    }

      .clndr-table {
        border: none;
        width: 100%;
        text-align: center;
        font-size: 0.75rem;

        thead {
          font-family: $serif-text;
        }

        tbody {
          .adjacent-month {
            color: $color-lightgrey;
          }

          .today {
            color: #fff;
            background-color: $color-blue;
          }

        }

        .day, .header-day {
          line-height: 3.5;
        }
      }
  }

  .event_calendar_grid {
    @include span-columns (8 of 12); 
    padding-left: 20px;   
  }

  .event_calendar_feature_footer {
    margin-top: 30px;
    @include span-columns (12 of 12);  
  }
}*/