/*
  This module provides styling for breadcrumbs
  created using the Easy Breadcrumb module.
*/
#block-breadcrumbs {
  $breadcrumb-font-size: 14px;
  font-family: $sans-text;
  font-size: rem($breadcrumb-font-size);
  text-transform: uppercase;

  .mobile_breadcrumb {
    display: none;
    text-align: center;

    &:before {
      background-image: url('../images/left-arrow-icon.svg');
      background-position: center;
      background-repeat: no-repeat;
      content: "";
      cursor: pointer;
      height: 20px;
      padding: 3px 0 0 15px;
      transition: background-image 0.25s;
      width: 20px;
    }
    &:hover:before {
      background-image: url('../images/left-arrow-icon-blue.svg')
    }
    a {
      color: $color-grey;
      &:hover {
        color: $color-blue-primary;
      }
    }
  }
  .achp-breadcrumb {
    font-family: $sans-text;
    font-size: rem($breadcrumb-font-size);
    min-height: 50px;
    text-transform: uppercase;

    ol {
      color: $color-blue-primary;
      list-style-type: none;
      max-height: $default-line-height * $breadcrumb-font-size;
      overflow: hidden;
      padding-left: 0;
      position: relative;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-wrap: normal;
   
      .breadcrumb_link {
        display: inline;
        padding-left: 5px;
        position: relative;

        a {
          color: $color-grey;
          text-decoration: none;
          transition: color 0.25s;
        }
        .achp-breadcrumb-icon {
          display: inline-block;

          &[data-achp-breadbrumb-icon-name='arrow'] {
            padding: 0 20px;
          }
          &[data-achp-breadbrumb-icon-name='home'] {
            padding: 0 10px 0 0;
          }
        }
        &:hover {
          a {
            color: $color-blue-primary;
          }
        }
      }
      .breadcrumb_page {
        /*color: $color-blue-primary;*/
      }
      .breadcrumb_link_home {
        [data-achp-breadbrumb-icon-name='home'] {
          #home-icon {
            transition: fill 0.25s;
          }
        }
        &:hover {
          [data-achp-breadbrumb-icon-name='home'] {
            #home-icon {
              fill: $color-blue-primary !important;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  #block-breadcrumbs {
    height: 50px;

    .achp-breadcrumb {
      display: none;
    }
    .mobile_breadcrumb {
      display: block;
    }
  }
}
