/*
  This stylesheet provides default styling for
  the Digital Library search form blocks.
*/
#block-digital-library-form,
#block-digital-library-native-form,
#block-exposedformdigital-librarypage-1,
#block-exposedformdigital-librarypage-2,
#block-exposedformdigital-librarypage-3 {
  $input-height: 30px;
  $item-height: 100px;
  $margin-xsmall: 5px;
  $margin-small: 10px;
  $margin-med: 20px;

  border-top: $margin-xsmall solid $color-red2;
  box-shadow: 0px 1px 1px $color-lightgrey;
  padding: $margin-med 0 $margin-med $margin-med;

  a {
    color: $color-blue-primary;
  }
  input {
    border: 1px solid $color-grey2;
    border-radius: 2px;
    box-shadow: none;
    color: $color-darkgrey2;
    font-size: rem(18px);
    font-family: $sans-text;
  }
  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid $color-grey2;
    border-radius: 2px;
    color: $color-darkgrey2;
    font-size: rem(18px);
    font-family: $sans-text;
    padding: $margin-xsmall - 1;
  }
  .chosen-container-multi {
    .chosen-choices {
      background-image: none;
      border: 1px solid $color-grey2;
      border-radius: 2px;
      margin: 0;
      min-height: $input-height;
      padding: 0 0 0 $margin-small;

      li {
        line-height: $input-height !important;
      }
    }
    .chosen-results {
      li {
        color: $color-darkgrey2;
        font-family: $sans-text !important;
        font-size: rem(16px) !important;
        line-height: 1.4 !important;
      }
    }
    .search-choice {
      background: transparent;
      border: none;
      box-shadow: none;
      font-family: $sans-text !important;
      font-size: rem(16px) !important;
      line-height: 1.4 !important;
      margin: 0;
      padding: 0 $margin-med 0 0;

      .search-choice-close {
        top: 9px; // fine-tuned.
      }
    }
  }
  .form-item {
    float: left;
    min-height: $item-height;
    padding: 0 $margin-med $margin-med 0;

    label {
      display: block;
      font-family: $sans-text;
      font-size: rem(16px);
      font-weight: 500;
      padding: $margin-small 0;
    }
    input {
      width: 100%;
    }
    
    select {
      width: 100%;
    }
    #edit-type {
      width: 100%;
    }
  }
  .form-actions {
    clear: both;
    float: left;

    .form-submit {
      @include hover-transition-background($color-lightblue-primary);
      background-color: $color-blue-primary;
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.26);
      color: white;
      cursor: pointer;
      border: none;
      border-radius: 2px;
      font-size: rem(16px);
      font-family: $sans-text;
      font-weight: 600;
      padding: 10px 35px 6px;
      text-transform: uppercase;
    }
  }
  .form-item-keys {
    width: 65%;

    .form-text {
      padding: 5px 10px;
    }
  }
  .form-item-field-tags-target-id-2 {
    width: 35%;
  }
  .form-item-type {
    width: 50%;
  }
  .form-item-field-tags-target-id {
    width: 50%;
  }
  &:before {
    clear: both;
    color: $color-darkblue2;
    content: 'Search';
    display: block;
    font-family: $sans-text;
    font-size: rem(20px);
    font-weight: 400;
  }
  &:after {
    clear: both;
    content: '';
    display: block;
  }
}
