/*
  This stylesheet defines the default styles
  for the e106 Submissions block table, which
  lists the status of the e106 notifications
  submitted by the current user.
*/
[data-derivative-plugin-id="contact_messages-block_1"] {
  @import "../styleguide";

  h2 {
    @include h2;
  }
  header {
    background-color: transparent;
  }
  table {
    @include table;
    width: 100%;

    thead {
      tr {
        th {
          @include header-text($color: black, $font-weight: 500, $center: false);
          font-size: rem(16px);
          padding: $margin-small 0 $margin-xsmall;
        }
      }
    }
    tbody {
      tr {
        td {
          border: 1px solid $background-color-grey2;
          padding: $margin-med;

          &.views-field-field-e106-notification-status {
            font-style: italic;
          }
        }
      }
    }
  }
}
