/*
  This stylesheet defines the default styles
  for the e106 content type.
*/
[data-page-path="/contact/e106_submission_form"] {
  @import "../styleguide";

  #main {
    #secondary_header_region {
      margin: 0 auto;
      max-width: $max-content-width;
      padding: 0 $margin-large;

      [data-plugin-id="page_title_block"] {
        h1 {
          font-family: $sans-text;
          font-size: rem(36px);
          color: $color-darkblue;
          line-height: 1.2;
          text-align: center;

          &:after {
            border-bottom: 1px solid $color-red;
            content: "";
            display: block;
            margin: $margin-med auto $margin-large;
            width: 60%;
          }
        }
      }
      [data-plugin-id="share_this_page_block"] {
        margin-bottom: $margin-large;
      }
    }
    #content_region {
      margin-bottom: $margin-large;

      .field--type-prompt-field {
        color: $color-grey2;

        p:first-of-type {
          color: $color-darkgrey2;
        }
        p:nth-of-type(n+2) {
          padding: $margin-small $margin-med;
        }
        strong {
          color: black;
        }
      }
      .field--type-text-long {
        margin-bottom: $margin-large;
      }
      .field--type-file {
        summary {
          display: none;
        }
        .tabledrag-toggle-weight-wrapper {
          display: none;
        }
        thead {
          display: none;
        }
        input[type="text"] {
          height: 35px;
          margin: $margin-med 0;
        }
        input[type="submit"] {
          @include achp-button();
        }
        input[type="file"] {
          &::-ms-browse,
          &::-webkit-file-upload-button {
            @include achp-button();
          }
        }
        .description {
          font-size: 14px;
        }
      }
      .form-item > label {
        display: none;
      }
      .filter-wrapper {
        display: none;
      }
    }
  }
}
