/*
  This module contains styles used by the Event
  Calendar feature.
*/

$event-calendar-width: 100% / 3;
$event-grid-width: 100% - $event-calendar-width;
$event-card-border-color: rgba(93,0,2,1);
$event-card-height: 250px;
$event-card-footer-height: 20px;
$event-calendar-spacing: 20px;
$event-card-footer-margin: 15px;

.event_calendar {
  .event_calendar_feature {
    padding: 0 40px;
  }
  .event_calendar_calendar {
    display: inline-block;
    height: 420px;
    padding: 0px $event-calendar-spacing 0px 0px;
    vertical-align: top;
    width: $event-calendar-width;

    .clndr {
      padding: 5px;
    }
    &_header .event_calendar_calendar_title {
      color: #fff;
      font-size: rem(28);
      font-weight: 300;      
      margin-bottom: 5px; 
    }
    &_body {
      @extend .card;
      background-color: #fff;
      color: $color-lightgrey-2;
      font-family: $sans-text;

      .clndr-controls {
        height: 40px;
        position: relative;

        .month-container {
          @include center-x;
          font-size: 1.5625rem;
          text-align: center;
          text-transform: uppercase;
          top: 0;
          width: 250px;

          .month {
            @include hover-transition-content($color-blue-primary);
            cursor: pointer;
            display: inline-block;
            padding-top: 4px;
            width: 80%;
          }
        }
        .clndr-previous-button, .clndr-next-button {
          @include center-y;
          background-position: center;
          background-repeat: no-repeat;
          cursor: pointer;
          height: 100%;
          transition: background-image 0.25s;
          width: 15%;
          z-index: 50;
        }
        .clndr-previous-button {
          background-image: url('../images/left-calendar-arrow.svg');
          left: 0;

          &:hover {
            background-image: url('../images/left-calendar-arrow-blue.svg');
          }
        }
        
        .clndr-next-button {
          background-image: url('../images/right-calendar-arrow.svg');
          right: 0;

          &:hover {
            background-image: url('../images/right-calendar-arrow-blue.svg');
          }
        }
      }
      .clndr-table {
        border: none;
        font-size: 0.75rem;
        text-align: center;
        width: 100%;

        thead {
          font-family: $serif-text;
          font-weight: bold;
        }
        tbody {
          .adjacent-month {
            color: $color-lightgrey;

            &.event {
              background-color: #fff;

              &:hover {
                background-color: #fff;
                color: $color-lightgrey;
                cursor: default;
              }
            }
          }
          .event {
            background-color: $color-lightblue3;
            cursor: pointer;
          }          
          .today {
            background-color: $color-darkblue3;
            color: #fff;
          }
          .event:hover {
            background-color: $color-blue-primary; 
            color: #fff;
          }
        }
        .day, .header-day {
          line-height: 3.5;
        }
      }
    }
  }
  .event_calendar_grid {
    display: inline-block;
    vertical-align: top;
    width: $event-grid-width;

    &_header .event_calendar_grid_title {
      color: #FFFFFF;
      font-size: rem(28);
      font-weight: 300;      
      margin: 0 0 5px $event-calendar-spacing;
    }
    &_body {
      text-align: left;

      .event_calendar_grid_message {
        @include font-size($button-font-sizes);
        color: #fff;
        margin-left: 20px;
        font-style: italic;
        font-family: $sans-text;
        text-align: left;
      }

      $event-card-margin: 20px;
      
      .event_calendar_grid_card {
        @extend .card;  
        background-color: #fff;
        display: inline-block;
        margin: 0px 0px $event-card-margin $event-card-margin;
        min-height: $event-card-height;
        overflow-wrap: break-word;
        padding: 10px 10px ($event-card-footer-height + $event-card-footer-margin) 10px;
        position: relative;
        vertical-align: top;

        &_short_title, &_full_title {
          @include hover-transition-content($color-blue-primary);
          cursor: pointer;
          font-size: 1rem;
        }
        &_date {
          @extend .card_date;
        }
        &_mobile_date {
          display: none;
        }
        &_location {
          @extend .card_body;
          margin-bottom: 10px;

          p {
            margin: 0;
            text-align: left;
          }
        }
        &_description {
          display: none;
        }
        &_footer {
          height: $event-card-footer-height;
          width: 100%;
          position: absolute;
          bottom:  $event-card-footer-margin;

          .read_more {
            position: absolute;
          }
          .event_calendar_grid_card_google_calendar {
            display: block;
            background-image: url('../images/add-calendar-icon.svg');
            float: right;
            background-repeat: no-repeat;
            height: 20px;
            width: 20px;
            cursor: pointer;
            transition: background-image 0.25s;
            margin-right: 25px;
            margin-top: 1px;

            &:hover {
              background-image: url('../images/add-calendar-icon-lightblue.svg');
            }
          }
        }
      }
    }
  }
  .event_calendar_feature_footer {
    margin-top: 20px;
    width: 100%;
  }
}

#block-eventcalendarblock .event_calendar .event_calendar_feature .event_calendar_grid .event_calendar_grid_body .event_calendar_grid_card {
  $event-card-margin: 20px;
  width: calc( (100% - #{$event-card-margin} * 2) / 2);

  &_full_title {
    display: none;
  }
}

/* Mobile styles scoped to homepage calendar only, because
the events landing page is different */
@media (max-width: $max-content-width) {
  #block-eventcalendarblock .event_calendar {
    .event_calendar_calendar {
      width: 50%;
    }
    .event_calendar_feature .event_calendar_grid {
      padding: 0px 0px 0px 20px;
      width: 50%;

      .event_calendar_grid_header {
        .event_calendar_grid_title {
          margin: 0 0 5px;
        }
      }
      .event_calendar_grid_body {
        .event_calendar_grid_card {
          border: none;
          height: $mobile-card-item-height;
          margin: 0 0 15px;
          max-width: 100%;
          min-height: $mobile-card-item-height;
          padding: 0;
          width: 100%;

          &_header {
            background-color: #fff;
            border-bottom: 1px solid $event-card-border-color;
            height: $mobile-card-item-height;
            margin-left: 60px;
            position: relative;
          }
          &_title {
            @include after-element-icon-with-hover('../images/right-arrow-icon.svg', '../images/right-arrow-icon-blue.svg', -14px, $color-blue-primary);
            @include center-y;
            cursor: pointer;
            font-size: .9rem;
            width: 95%;
          
            &:after {
              width: 40px;
            }
            a {
              display: block;
              padding: 25px 25px 25px 15px;
              width: 100%;
            }
          }
          &_date, &_location, &_footer {
            display: none;
          }
          &_mobile_date {
            background-color: $color-red;
            border-bottom: solid 1px $event-card-border-color;
            color: #fff;
            display: inline-block;
            float: left;
            height: $mobile-card-item-height;
            line-height: 1.1;
            padding: 15px 5px;
            position: absolute;
            text-align: center;
            top: 0;
            width: 60px;

            &_month {
              font-size: 1.125rem;
              text-transform: uppercase;
            }

            &_day {
              font-size: 2.125rem;
            }
            &_day {
              font-size: 2rem;    
              font-weight: 300;          
            }
          }
        }
      }
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  #block-eventcalendarblock .event_calendar .event_calendar_feature {
    padding: 0px 20px;

    .event_calendar_calendar {
      display: none;

      &_header {
        .event_calendar_calendar_title {
          font-size: rem(18);
          margin-left: 20px;
        }
      }
    }
    .event_calendar_grid {
      padding: 0px;
      width: 100%;

      .event_calendar_grid_header {
        display: none;
      }
      .event_calendar_grid_body .event_calendar_grid_card .event_calendar_grid_card_short_title {
        font-size: 1rem;
      }
    }
  }
}
