/*
  This stylesheet defines the default styles
  for the Header Search block.
*/

/* Header Search styles */
#header_search_region,
#subheader_mobile_search {
  #block-header-search-filter {
    height: 30px;
    position: relative;

    @media (min-width: 1150px) {
      display: none;
    }
    form {
      height: 100%;

      .js-form-item {
        height: 30px;
      }
      .js-form-type-select, label {
        display: none;
        height: 100%;
      }
      .js-form-type-textfield input {
        border: 1px solid #979797;
        font-size: rem(12px);
        height: 100%;
        padding: 15px 11px;
        outline: none;
        width: 100%;
      }
      .form-actions input[type="submit"] {
        @include hover-transition-background($color-lightblue-primary);
        background-color: $color-blue-primary;
        background-image: url(../images/search-icon.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 63%;
        border: none;
        border-radius: 0 2px 2px 0;
        color: transparent;
        cursor: pointer;
        position: absolute;
        height: 32px;
        right: 0;
        top: 0;
        width: 32px;
        appearance: none;
        -webkit-appearance: none;
      }
    }
  }
}
