#header_region {
  height: $header-region-height;
  width: $header-region-widescreen-width;
  margin: 0 auto;
}

#header_menu {
  font-family: $sans-text;
  font-size: 0.875rem;
  position: relative;
  border-bottom: $color-darkblue;
  z-index: 900;
  height: $header-region-height;
  width: 1024px;

  ul {
    margin: 0 auto;
    padding-left: 0;
    z-index: 901;
  }

  ul[data-menu-level="0"] {
    margin: 0 auto;
    height: $header-region-height;    
    -js-display: flex;
    display: flex;
    justify-content: space-between;
    width: 100%;

    li[data-menu-level="0"] {
      border: $header-region-border-width solid rgba(0,0,0,0);
      list-style-type: none;
      text-align: center;
      margin: 0 20px 0 0;
      text-align: center;
      height: $header-region-height + $header-region-border-width;
      padding: 0 10px;      

      &.menu_selected {
        border: $header-region-border-width solid $color-red2;
        border-bottom: none;
        background: white;

        a {
          color: $color-lightblue2;
        }
      }

      > a {
        padding: 0;
        margin: 0;
        display: block;
      }

      a {
        text-decoration: none;
        color: $color-medblue;
        width: 100%;
        text-align: center;
      }
    }

    ul[data-menu-level="1"] {
      display: none;
    }
  }
}


#subheader_widescreen {
  position: relative;
  @include outer-container;

  #subheader_widescreen_submenu_region {
    width: 100%;
    position: absolute;
    top: $header-region-height;
    @include span-columns(5);

    #subheader_widescreen_submenu {
      width: 1024px;
      margin: 0 auto;
      padding: 0;

      ul {
        padding: 5px 25px 20px 25px;
        position: relative;
        z-index: 600;

        li {
          list-style-type: none;

          a {
            font-family: $sans-text;
            text-decoration: none;
            margin-bottom: 5px;
          }
        }
      }

      ul[data-menu-level="1"] {
        background-color: white;
        margin: 0;
        padding: 0 5px 10px 15px;

        &.menu_selected {
          border: $header-region-border-width solid $color-red2;
          box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.15);
          min-height: 200px;
        }

        li[data-menu-level="1"] {
          padding: 22px 15px 0 0;
          font-size: 1.25rem;

          > a {
            color: $color-darkblue;
            line-height: 1.25;      
          }
        }
      }

      ul[data-menu-level="2"] {
        padding-left: 0;
        padding-bottom: 0;
        top: -22px;
        display: inline-block;
        width: 100%;

        > li {
          line-height: 0.93rem;
          margin-bottom: 0.5rem;

          a {
            font-size: 0.875rem;
            color: $color-grey;        
          }
        }

        &:before {
          content: "";
          height: 1px;
          width: 100%;
          background-color: $color-red2;
          display: inline-block;
        }
      }

      ul[data-menu-level="1"][data-menu-num-children="1"] {
        @include span-columns(1 of 5);

        li[data-menu-level="1"] {
          @include span-columns(1 of 1);
        }
      }
      ul[data-menu-level="1"][data-menu-num-children="2"] {
        @include span-columns(2 of 5);

        li[data-menu-level="1"] {
          @include span-columns(1 of 2);
        }
      }
      ul[data-menu-level="1"][data-menu-num-children="3"] {
        @include span-columns(3 of 5);

        li[data-menu-level="1"] {
          @include span-columns(1 of 3);
        }
      }
      ul[data-menu-level="1"][data-menu-num-children="4"] {
        @include span-columns(4 of 5);

        li[data-menu-level="1"] {
          @include span-columns(1 of 4);
        }
      }
      ul[data-menu-level="1"][data-menu-num-children="5"] {
        @include span-columns(5 of 5);

        li[data-menu-level="1"] {
          @include span-columns(1 of 5);
        }
      }

/*      ul[data-menu-column-shift="1"] {
        @include shift(1 of 5);
      }

      ul[data-menu-column-shift="2"] {
        @include shift(2 of 5);
      }

      ul[data-menu-column-shift="3"] {
        @include shift(3 of 5);
      }

      ul[data-menu-column-shift="4"] {
        @include shift(4 of 5);
      }*/
    }
  }
}

#header_search_region {
  display: none;
}

#subheader {
  font-family: $sans-text;

  #subheader_mobile_header {
    cursor: pointer;
    display: none;
    width: 100%;

    #subheader_mobile_title {
      /* TODO: BG image Currently white, so invisible */
      background-image: url('../images/menu-icon.svg');
      background-position: 0px 18px;
      background-repeat: no-repeat;
      text-align: center;
      padding: 15px 0px;
      color: $color-darkblue2;
    }
  }  

  #subheader_mobile {
    #subheader_mobile_collapsible {
      display: none;
      padding: 0 24px 12px;

      #subheader_mobile_body {
        width: 100%;
        height: auto;

        .menu_slide_container .menu_slide {
          display: none;

          &[data-menu-slide-index="0"] {
            display: block;
          }

          .menu_slide_header_back_button {
            cursor: pointer;
            color: $color-grey;
            font-size: 0.875rem;
          }

          .menu_slide_list_item, li[data-menu-level="2"], li[data-menu-level="1"] {
            cursor: pointer;
            padding: 16px 0;
            border-bottom: 1px solid $color-grey3;
            font-size: 0.875rem;

            &:hover {
              color: $color-lightblue;
              background-color: $background-color-lightblue;
            }
          }

          .menu_slide_list_item:after {
            content: ">";
            float: right;
          }

          ul {
            list-style-type: none;
            padding: 0;

            a {
              text-decoration: none;
              color: $color-darkgrey2;
              padding-left: 0;
            }
          }
        }

        #block-achp-main-menu {
          height: 100%;
          width: 100%;
          display: block;

          ul {
            margin: 0px;
            padding: 0px;
            width: 100%;

            li {
              height: 100%;
              border-bottom: 1px solid #4A4A4A;
              display: block;
              margin: 0px;
              padding: 10px 0px;
              text-align: center;
              list-style-type: none;

              a {
                text-decoration: none;
                color: #4A4A4A;
              }
            }
          }

          ul[data-menu-level="1"] {
            display: none;
          }
        }
      }

      #subheader_mobile_footer {
        #subheader_mobile_close_button {
          background-color: #FF7F20;
          border-radius: 3px;
          box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.26);
          color: white;
          cursor: pointer;
          margin: 13px auto 0px auto;
          padding: 10px 0px;
          text-align: center;
          width: 100px;
        }
      }
    }
  }
}

#block-achp-search {
  height: 50px;
  margin: 0px;
  width: 100%;

  #search-block-form {
    height: 100%;

    .form-item {
      float: left;
      height: 100%;
      margin: 10px 0;
      width: 100%;

      input.form-search {
        /* TODO: Add mag glass*/
        border: 1px solid #979797;
        border-radius: 2px;
        height: 100%;
        outline: none;
        padding: 15px 11px 11px;
        width: 100%;
      }
    }

    /* TODO: This is (currently inactive) code for the search icon as form submission - 
    need to confirm on which screens we want this behavior */
    .form-actions {
      display: none;
      float: right;
      height: 100%;
      margin: 0px;
      width: 10%;

      input.form-submit {
        background: url('../images/search-icon.svg') no-repeat 50% 50%;
        border: none;
        height: 100%;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  #header_region {
    height: auto;
    width: auto;
  }

  #header_menu {
    height: 20px;
  }
}