#header_region {
  height: 100px;
}

#header_menu {
  font-family: $sans-text;
  font-size: 0.875rem;
  position: relative;
  border-bottom: $color-darkblue;
  z-index: 99;
  max-height: 100px;

  ul {
    margin: 0 auto;
    padding-left: 0;
    width: 800px;

    li[data-menu-level="0"].selected {
      border: 3px solid $color-red;
      border-bottom: none;
      box-shadow: 0px -3px 0 0 white inset;
      a {
        color: $color-lightblue;
      }

    }

    ul[data-menu-level="1"] {
      display: none;
    }


    li[data-menu-level="0"] {
      float: left;
      list-style-type: none;
      width: 150px;
      display: inline-block;
      text-align: left;
      padding: 0;
      height: 103px;
      position: relative;

      > a {
        padding: 10px;
      }

      a {
        text-decoration: none;
        color: $color-medblue;
        @include center-y;
        width: 100%;
        text-align: center;
      }
    }
  }

  #header_menu_search_toggle_button {
    $button_height: 20px;
    height: $button_height;
    width: $button_height;
    background: url("../images/search-icon.svg") no-repeat;
    background-size: $button_height;
    cursor: pointer;
    margin: 40px 0;
    float: left;
  }
}

#header_dropdown_submenu {
  display: none;
  width: 500px;
  border: 3px solid $color-red;
  left: 40px;
  height: 250px;
  position: relative;
  z-index: 60;
  background-color: white;
  padding: 5px 25px 20px;

  ul[data-menu-level="1"] {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 90%;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;

    li[data-menu-level="1"] {
      list-style-type: none;
      padding-top: 15px;
/*      border-bottom: 1px solid $color-red;*/
      font-size: 1.25rem;
      width: 100%;
      /*padding: 0;*/

      a {
        text-decoration: none;
        height: auto;
        position: static;
        font-family: $sans-text;
        color: $color-darkblue;
      }

      > a {
        border-bottom: 1px solid $color-red;
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;
      }

      ul[data-menu-level="2"] {
        list-style-type: none;
          color: $color-darkgrey;
        font-size: $base-text-size;
        text-decoration: none;
        padding-left: 0;
      }
    }
  }
}

#subheader_widescreen_submenu {
  float: left;
}

#header_search_region {
  display: none;
}

#subheader {
  font-family: $sans-text;

  #subheader_mobile_header {
    cursor: pointer;
    display: none;
    width: 100%;

    #subheader_mobile_title {
      /* TODO: Currently white, so invisible */
      background-image: url('../images/menu-icon.svg');
      background-position: 0px 18px;
      background-repeat: no-repeat;
      text-align: center;
      padding: 15px 0px;
    }
  }

  #subheader_mobile {
    #subheader_mobile_collapsible {
      display: none;
      padding-bottom: 12px;

      #subheader_mobile_body {
        width: 100%;
        height: auto;

        .menu_slide_container .menu_slide{
          display: none;

          &[data-menu-slide-index="0"] {
            display: block;
          }

          ul {
            list-style-type: none;

            a {
              text-decoration: none;
            }
          }
        }

        #block-achp-main-menu {
          height: 100%;
          width: 100%;
          display: block;

          ul {
            margin: 0px;
            padding: 0px;
            width: 100%;

            li {
              height: 100%;
              border-bottom: 1px solid #4A4A4A;
              display: block;
              margin: 0px;
              padding: 10px 0px;
              text-align: center;
              list-style-type: none;

              a {
                text-decoration: none;
                color: #4A4A4A;
              }
            }
          }

          ul[data-menu-level="1"] {
            display: none;
          }
        }
      }

      #subheader_mobile_footer {
        #subheader_mobile_close_button {
          background-color: #FF7F20;
          border-radius: 3px;
          box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.26);
          color: white;
          cursor: pointer;
          margin: 13px auto 0px auto;
          padding: 10px 0px;
          text-align: center;
          width: 100px;
        }
      }
    }
  }
}

#block-achp-search {
  height: 50px;
  margin: 0px;
  width: 100%;

  #search-block-form {
    height: 100%;

    .form-item {
      float: left;
      height: 100%;
      margin: 0px;
      width: 100%;

      input.form-search {
        background-color: #E8F8E0;
        border: none;
        height: 100%;
        outline: none;
        padding: 0px 1%;
        width: 100%;
      }
    }

    /* TODO: This is (currently inactive) code for the search icon as form submission - 
    need to confirm on which screens we want this behavior */
    .form-actions {
      display: none;
      float: right;
      height: 100%;
      margin: 0px;
      width: 10%;

      input.form-submit {
        background: url('../images/search-icon.svg') no-repeat 50% 50%;
        border: none;
        height: 100%;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  #header_region {
    height: auto;
  }

  #header_menu {
    height: 20px;

    #header_menu_search_toggle_button {
      float: right;
      margin: 23px 40px;
    }
  }
}