header {
  background-color: $color-darkblue;
  overflow: hidden;
  height: $header-height;
  width: 100%;
  @include outer-container(100%);
  /*display: none;*/

  #header-container {
    max-width: $max-content-width;
    height: $header-height;

    @media (min-width: 1100px) {
      margin: 0 auto;
    }

    @media (max-width: 1099px) {
      margin: 0 50px;
    }

    @media (max-width: 500px) { 
      margin: 0 auto;
      width: $header-title-small-width + $header-logo-small-width;
    }
  }

  #header_region {
    display: inline-block;
    /*@include span-columns (12);*/
  }

  #header_left_container, #header_right_container {
    /*@include span-columns(6 of 12);*/
    max-height: $header-height;
  }

  #block-headerbranding, #block-headerbranding3 {
    max-height: $header-height;
  }

  #header_branding_logo {
    /*@include span-columns(1 of 12);*/

    img {
      height: 140px;

      @media (max-width: 500px) {
        height: 100px;
      }
    }
  }

  #header_branding_title {
    color: #fff;
    text-shadow: 0;
    font-weight: 300;
    font-size: 2rem;
    display: inline-block;
    text-shadow: none;
    /*@include span-columns(8 of 12);*/
    max-width: 400px;
    text-align: left;
    padding: 25px;
    padding-left: 40px;

    @media (max-width: 500px) {
      font-size: 1.25rem;
      width: $header-title-small-width;
      padding: 20px 0 20px 20px;
    }
  }

  #block-headercontactlinks {
    color: white;
    font-weight: 300;
    padding: 10px 0;
    float: right;

    a {
      color: white;
      font-family: $sans-text;
      font-size: 0.875rem; 
      text-decoration: none;
      padding: 10px;
      transition: color 0.25s;

      &:hover {
        color: #71bffe;
      }
    }

    .text_links a {
      padding: 5px 15px;
      border-right: 1px solid rgba(9, 144, 254, 0.6);
    }

    .social_icons {
      vertical-align: sub;
      padding-left: 15px;

      .social_media {
        padding: 10px;

        &:last-of-type {
          padding-right: 0;
        }
      }
    }

    .social_icons {
      padding-left: 10px;
    }

    img {
      vertical-align: text-bottom;
    }
  }
  
  #block-headertextdropdown, #block-headertextdropdown-3 {
    /*@include span-columns(3 of 12);*/
    color: white;
    font-weight: 300;
    font-family: $sans-text;
    font-size: 0.875rem;
    height: 30px;

    .header_dropdown_text {
      vertical-align: text-top;
    }

    select.header_dropdown_menu {
      font-family: $sans-text;
      border: 1px solid #979797;
      font-size: 0.75rem;
      border-radius: 2px;
      height: 100%;
      line-height: 1.25;
      outline: none;
      padding: 7px;
      width: 50%;
      margin: 0 10px;
      color: $color-lightgrey;
      margin-top: 1px;
      padding: 6px 7px;

      option {
        font-family: $sans-text;

        &.selection {
          color: #000;
        }
      }

    }
  }

  #header_widescreen_search_bar {
    height: 30px;
    float: right;

    #block-achp-search {
      height: auto;

/*      &:after {
        content: "";
        background: url('../images/search-icon.svg');
        background-repeat: no-repeat;
        background-color: $color-blue;
        background-position: center;
        background-size: 50%;
        width: 30px;
        height: 32px;
        padding: 0;
        float: right;
        bottom: 30px;
        position: relative;
        border-radius: 0 2px 2px 0;
      }*/
    }

    .form-item {
      height: 30px;
      width: 90%;

      input.form-search {
        border: 1px solid #979797;
        font-size: 0.75rem;
        border-radius: 2px;
        height: 100%;
        line-height: 1.25;
        outline: none;
        padding: 15px 11px;
        width: 100%;
      }
    }

    .form-actions {
      display: none;
      float: right;
      height: 100%;
      margin: 0px;
      width: 10%;

      input.form-submit {
        border: none;
        height: 100%;
        width: 100%;
      }
    }   
  }
}

@media (min-width: 1150px) {
  header {
    #header_region {
      @include span-columns (12);
    }
    #header_branding_logo {
      @include span-columns(1 of 12);
    }
    #header_branding_title {
      @include span-columns(8 of 12);    
    }
    #block-headertextdropdown, #block-headertextdropdown-3 {
      @include span-columns(3 of 12);
    }

    #header_widescreen_search_bar {
      @include span-columns(3 of 12);
      @include shift(3);
      float: right;
    }
  }
}

@media (max-width: 1150px) {
  #header_left {
    margin: 0 auto;
    text-align: center;
    width: $header-logo-width + 400px;
  }

  #header_branding_logo {
    float: left;
  }

  #header_branding_title {
    text-align: center;
    float: left;
    padding: 25px 0;
  }

  #block-headercontactlinks {
    display: none;
  }
}

@media (max-width: 500px) {
  header {
    height: 100px;

    #header_container {
      margin: 0 20px;

      #header_left {
        margin: 0 auto;
        text-align: center;
        width: $header-logo-width + $header-title-small-width;
        width: 100%;
      }
    }
  }
}
