/*
  This module defines the default styling for
  the Image Gallery feature.
*/
.flickity {
  width: 100%;
  
  .flickity-prev-next-button {
    background-color: $color-blue-primary;
    border: none;
    border-radius: 0;
    box-shadow: none;
    height: 100%;
    width: 20px;
    margin: 0;
    padding: 0;

    svg {
      height: 20px;
      left: 0;
      position: static;
      top: 0;
      width: 15px;

      .arrow {
        fill: white;

        &:disabled {
          background-color: $color-darkgrey;
        }
      }
    }
    &.previous {
      left: 0;
    }
    &.next {
      right: 0;
    }
  }
  .flickity-viewport {
    width: 100%;
  }
  .gallery-cell {
    @include transform(translateY(-50%));
    top: 50%;

    .field-content {
      img {
        height: auto;
        max-width: 100%;
      }
    }
  }
}

/* III. Carousel View Element */
.flickity.default_group {
  border: 1px solid $background-color-grey2;
  padding: 20px;

  .flickity-prev-next-button {
    display: none;
  }

  /*
    Hide the gallery cells until flickity loads
    and inserts the flickity-viewport container
    element.
    */
  .gallery-cell {
    display: none;
  }
  .flickity-viewport {
    .gallery-cell {
      display: block;
      width: 100%;
    }
  }
  .carousel_image {
    text-align: center;

    img {
      border: none;
      max-height: 400px;
      // max-width: 100%;
      object-fit: contain;
      // width: 100%;
    }
  }
  .carousel_caption {
    caption-side: bottom;
    font-family: $sans-text;
    font-size: rem(14);
    padding: 10px 25px;
  }
}
.flickity.default_group.flickity-enabled.is-draggable {
  .flickity-viewport {
    cursor: default;
  }
}

/* IV. Nav Elements */
.flickity.navigator {
  border-bottom: 1px solid $background-color-grey2;
  min-height: 125px;

  /*
    Hide the gallery cells until flickity loads
    and inserts the flickity-viewport container
    element.
    */
  .gallery-cell {
    display: none;
  }
  .flickity-viewport {
    @include transform(translateY(-50%));
    position: absolute;
    top: 50%;

    .gallery-cell {
      @include span-columns(4 of 12);
      display: block;
      text-align: center;
    
      img {
        height: auto;
        max-height: 100px;
        max-width: 90%;
      }
      &.item-0 {
        img {
          padding-left: 40px;
        }
      }
      &.last-item {
        img {
          padding-right: 40px;
        }
      }
    }
  }
}

