/*
  This module defines the default styling for
  the Image Gallery feature.
*/
.flickity {
  @import "../styleguide";
  @include styleguide;
  @include body-text;

  $navigator-height: 125px;
  $navigator-item-margin: $margin-large;
  $navigator-item-image-width: 125px;
  $navigator-button-width: $margin-med;
  $navigator-button-icon-width: $margin-small;

  border: 1px solid $background-color-grey2;
  width: 100%;
  
  /*
    Hide the gallery cells until flickity loads
    and inserts the flickity-viewport container
    element.
    */
  .gallery-cell {
    display: none;
  }
  .flickity-prev-next-button {
    display: none;
  }
  .flickity-viewport {
    cursor: default;

    .gallery-cell {
      display: block;
      padding: $margin-med;
      width: 100%;
    }
    .carousel_image {
      text-align: center;

      img {
        border: none;
        max-height: 350px;
        object-fit: contain;
        font-family: 'object-fit: contain;'; // Used by Object Fit Images to Shim support for object-fit in IE and Edge.
        width: 100%;
      }
    }
    .carousel_caption {
      caption-side: bottom;
      font-family: $sans-text;
      font-size: rem(16px);
      font-weight: 600;
    }
  }
  .image-gallery-navigator {
    border-top: 1px solid $background-color-grey2;
    height: $navigator-height;
    overflow: hidden;
    position: relative;
    width: 100%;

    .image-gallery-slide-container {
      height: 100%;
      position: relative;
      width: 100%;

      .image-gallery-slide {
        cursor: -webkit-grab;
        cursor: grab;
        height: 100%;
        padding: $margin-med 0;

        .image-gallery-item {
          float: left;
          height: 100%;
          margin-right: $navigator-item-margin;
          position: relative;

          .image-gallery-item-image {
            max-height: 100%;
            object-fit: contain;
            font-family: 'object-fit: contain;'; // Used by Object Fit Images to Shim support for object-fit in IE and Edge.
            position: relative;
            top: 50%;
            @include transform(translateY(-50%));
            width: $navigator-item-image-width;
          }
          &:first-of-type {
            margin-left: $navigator-item-margin;
          }
        }
      }
    }
    .image-gallery-button {
      background-color: $color-blue-primary;
      cursor: pointer;
      display: none;
      height: 100%;
      position: absolute;
      top: 0;
      width: $navigator-button-width;
    }
    .image-gallery-button-disabled {
      background-color: $background-color-grey2;
    }
    .image-gallery-button-left {
      background-image: url('../images/image-gallery-left-arrow-icon.svg');
      background-position: 50%;
      background-size: $navigator-button-icon-width;
      background-repeat: no-repeat;
      left: 0;
    }
    .image-gallery-button-right {
      background-image: url('../images/image-gallery-right-arrow-icon.svg');
      background-position: 50%;
      background-size: $navigator-button-icon-width;
      background-repeat: no-repeat;
      right: 0;
    }
  }


  .flickity-prev-next-button {
    background-color: $color-blue-primary;
    border: none;
    border-radius: 0;
    box-shadow: none;
    height: 100%;
    width: 20px;
    margin: 0;
    padding: 0;

    svg {
      height: 20px;
      left: 0;
      position: static;
      top: 0;
      width: 15px;

      .arrow {
        fill: white;

        &:disabled {
          background-color: $color-darkgrey;
        }
      }
    }
    &.previous {
      left: 0;
    }
    &.next {
      right: 0;
    }
  }
  .flickity-viewport {
    width: 100%;
  }
  .gallery-cell {
    @include transform(translateY(-50%));
    top: 50%;

    .field-content {
      img {
        height: auto;
        max-width: 100%;
      }
    }
  }
}
#lightbox {
  @import "../styleguide";
  @include styleguide;
  @include body-text;
  
  .lb-caption {
    font-family: $sans-text;
    font-size: rem(16px);
    font-weight: 600;
  }
}
