/*
  This stylesheet defines the default styles
  for the Internship Application Form.
*/
form.contact-message-internship-form {
  @import "../styleguide";

  .form-item {
    label {
      display: none;
      // @include achp-label;
    }
    input.form-text {
      @include achp-textfield;
    }
    input.form-email {
      @include achp-textfield;
    }
    input.form-tel {
      @include achp-textfield;
    }
    .description {
      display: none;
    }
    input.field-add-more-submit {
      @include achp-button;
    }
  }
  .field--type-boolean {
    float: left;

    .form-item {
      input.form-checkbox {
        float: left;
      }
      label {
        float: left;
      }
    }
  }
  .field--type-prompt-field {
    clear: both;
  }
  .field--name-field-intern-degrees {
    margin-bottom: $margin-large;
  }
  .tabledrag-toggle-weight-wrapper {
    display: none;
  }
  .form-actions {
    margin-bottom: $margin-large;

    input[type="submit"] {
      @include achp-button;
      padding-top: 9px;
    }
  }
}
