/*
  This stylesheet defines the default styles
  for the Internship Application Form.
*/
form.contact-message-internship-form {
  @import "../styleguide";

  .form-item {
    label {
      @include achp-label;
    }
    input.form-text {
      @include achp-textfield;
    }
    input.form-email {
      @include achp-textfield;
    }
    .description {
      display: none;
    }
  }
  .form-actions {
    margin-bottom: $margin-large;

    input[type="submit"] {
      @include achp-button;
      padding-top: 9px;
    }
  }
}
