@import "../global";

$card-margin-vert: 25px;
$card-margin-horiz: 20px;
$card-height: 400px;
$card-width: 300px;

#homepage_news_content {
  #block-views-block-latest-news-block {
    .homepage_news_item {
      height: $card-height - 30px;
      padding: 10px;
      position: relative;

      .news_item {
        &_date {
          @extend .card_date;
        }
        &_body p {
          @extend .card_body;
        }
        &_link {
          bottom: 0;
          position: absolute;

          img {
            margin-left: 5px;
            vertical-align: -1px;
          }
        }

        &_link_mobile {
          display: none;
        }
      }
    }
    @media (max-width: 700px) {
      /* At this width, the cards turn into just the headlines */
      $card-height: 80px;
      border-top: 6px solid $color-red;
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.26);
      height: 240px;
      margin: 25px 0 25px;
      width: 100%;

      .card.view-item-1, .card.view-item-2, .card.view-item-3 {
        box-shadow: none;
        border-top: 1px solid rgba(0, 0, 0, 0.26);
        height: $card-height;
        margin: 0;
        position: relative;
        width: 100%;

        &.view-item-1 {
          border-top: none;
        }
        &.view-item-3 {
          margin-left: 0;
        }
        .homepage_news_item {
          @include center-y;
          height: 60px;
          padding: 0;
          position: relative;
          width: 100%;

          .news_item {
            &_date, &_body, &_link {
              display: none;
            }
            &_title {
              @include after-element-icon-with-hover('../images/right-arrow-icon.svg', '../images/right-arrow-icon-blue.svg', 0, $color-blue-primary);
              @include center-y;
              cursor: pointer;
              line-height: 24px;
              padding: 15px;
              width: 95%;
            }
          }
        }
      }
    }
  }
}