 @import "../global";

$news_item_num: 3;
$news_item_height: 375px;
$news_item_width: 300px;
$news_item_margin_horiz: 15px;
$news_item_margin_vert: 25px;

#block-views-block-latest-news-block {
  .homepage_news_item {
    padding: 10px;
    position: relative;
    height: $news_item_height - $news_item_margin_vert * 2;

    .news_item {

      &_date {
        color: $color-lightgrey;
        margin-top: 20px;

        &_mobile {
          display: none;
        }
      }

      &_body p {
        text-align: left;
        font-family: $serif-text;
        margin-top: 10px;
        color: $color-grey;
      }

      &_link {
        position: absolute;
        bottom: 0;
      }
    }
  }

  @media (min-width: 1024px) {
    width: $news_item_width * 3 + $news_item_margin_horiz * ($news_item_num - 1);
    margin: 0 auto;
    height: $news_item_height + $news_item_margin_vert * 2;

    .card {   
      @include cardgroup ($news_item_height, $news_item_width, $news_item_margin-vert, $news_item_margin-horiz);
    
        &.view-item-3 {
          margin-right: 0;

          &:after {
            clear: both;
          }
        }
    }     
  }

   @media (max-width: 1023px) {   
    width: $news_item_width * 2 + $news_item_margin_horiz;
    @include center-x;
    margin: 0 auto;

    .card {
      $news_item_width: 45%;
      width: $news_item_width;
      float: left;
      margin: $news_item_margin_vert $news_item_margin_horiz;

      &.view-item-2 {
        margin-right: 0;
      }
 
      &.view-item-3 {
        float: none;
        clear: both;
        margin: 0 auto;
      }
    }

    @media (max-width: 700px) {
      .news_item_date {
        display: none;
        
        &_mobile {
         
        }
      }
    }
  }
}