/*
  This stylesheet defines default styling for
  the Page Menu feature.
*/
[data-plugin-id="page_menu_block"] {
  @import "../styleguide";

  $page-widescreen-padding: 50px;
  $page-menu-block-margin: 20px;
  $page-menu-instance-margin: 50px;
  $page-menu-instance-width: 300px;
  $page-menu-instance-menu-color: $background-color-grey;
  $page-menu-instance-menu-header-color: $color-blue-primary;
  $page-menu-instance-menu-header-text-color: white;
  $page-menu-instance-menu-header-icon-height: 15px;
  $page-menu-instance-menu-item-arrow-size: 10px;
  $page-menu-instance-menu-item-border: 1px solid rgb(225,225,225);
  $page-menu-instance-menu-item-padding: 10px 20px;
  $page-menu-instance-menu-item-selected-color: $color-blue-primary;

  height: 100%;
  padding-top: $page-menu-block-margin;
  position: relative;

  .page-menu-instance-container {
    height: 100%;

    .page-menu-instance {
      height: 100%;
      margin-right: $page-widescreen-padding;
      width: $page-menu-instance-width;

      .page-menu-instance-menu {
        background-color: $page-menu-instance-menu-color;
        width: 100%;

        .page-menu-instance-menu-header {
          background-color: $page-menu-instance-menu-header-color;
          color: $page-menu-instance-menu-header-text-color;
          cursor: pointer;
          display: none;
          font-family: $header-font-family;
          margin-bottom: $margin-med;
          padding: 0 $margin-med;
          position: relative;
          text-transform: uppercase;

          .page-menu-instance-menu-header-title {
            line-height: $margin-large;
          }
          &:after {
            background-image: url('../images/plus-icon.svg');
            background-position: center;
            background-repeat: no-repeat;
            content: '';
            display: block;
            height: $page-menu-instance-menu-header-icon-height;
            position: absolute;
            right: $page-menu-instance-menu-header-icon-height;
            top: $margin-small;
            width: $page-menu-instance-menu-header-icon-height;
          }
        }
        .page-menu-instance-menu-list {
          list-style-type: none;
          margin: 0;
          padding: 0;
          width: 100%;

          .page-menu-instance-menu-item {
            border-bottom: $page-menu-instance-menu-item-border;
            cursor: pointer;
            padding: $page-menu-instance-menu-item-padding;
            position: relative;
            width: 100%;

            &:last-of-type {
              border-bottom: none;
            }
          }
        }
      }
      &.page-menu-instance-menu-expanded {
        .page-menu-instance-menu {
          .page-menu-instance-menu-header:after {
            background-image: url('../images/minus-icon.svg');
            background-position: center;
            background-repeat: no-repeat;
            content: '';
            display: block;
            height: $page-menu-instance-menu-header-icon-height;
            position: absolute;
            right: $page-menu-instance-menu-header-icon-height;
            top: $margin-small;
            width: $page-menu-instance-menu-header-icon-height;
          }
        }
      }
    }
  }
  @media screen and (min-width: $hero-breakpoint) {
    .page-menu-instance-container {
      .page-menu-instance {
        .page-menu-instance-menu {
          .page-menu-instance-menu-collapsible {
            display: block !important;

            .page-menu-instance-menu-item.page-menu-instance-menu-item-selected {
              background-color: $page-menu-instance-menu-item-selected-color;
              color: white;

              &:after {
                border: 10px solid $page-menu-instance-menu-item-selected-color;
                border-top-color: transparent;
                border-right-color: transparent;
                border-bottom-color: transparent;
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: -18px
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: $hero-breakpoint) {
    width: 100%;

    .page-menu-instance-container {
      .page-menu-instance {
        margin: 0;
        position: static;
        width: 100%;

        .page-menu-instance-menu {
          margin: 0px;
          position: static;

          .page-menu-instance-menu-header {
            display: block;
          }
          .page-menu-instance-menu-collapsible {
            display: none;

            .page-menu-instance-menu-list {
              .page-menu-instance-menu-item {
              }
            }
          }
        }
      }
    }
  }
}
