#block-success-stories-list, #block-achp-content, #block-list-cases-open {
  nav {
    @include span-columns (12 of 12);
    color: $color-darkgrey;
    font-family: $sans-text;
    font-size: rem(14px);

    ul {
      list-style-type: none;
      padding: 0;
      text-align: center;

      li {
        display: inline-block;
        line-height: 27px;
        padding: 0 8px;

        &.pager__item--last, &.pager__item--first {
          display: none;
        }
        &.pager__item.is-active {
          background-color: $color-blue-primary;
          border-radius: 50%;
          cursor: default;
          height: 25px;
          padding: 0;
          width: 25px;

          a {
            @include hover-transition-content(#fff);              
            color: #fff;
            cursor: default;
          }
        }
        a {
          @include hover-transition-content($color-blue-primary);            
          color: $color-darkgrey;
          text-decoration: none;
        }
      }
    }
  }
}
