@import "../global";

#homepage_quicklinks_region {
  #block-quicklinks {
    @include span-columns(12 of 12);
  }

  #homepage_quicklinks_content {
    $card-container-width: $card-width * 3 + $card-margin-horiz * 2;
    width: $card-container-width;

    .views-element-container {
      @extend .card;
      padding: 0;
      @include span-columns(4 of 12);
      background-color: #FFFFFF;
      margin-right: 20px;
      height: 518px;
      width: $card-width;
      margin: $card-margin-vert 0;
      margin-right: $card-margin-horiz;
      float: left;
      position: relative;

      header {
        background-color: #fff;
        height: $quicklink-image-height + 100px;

        .views-row {
          border-top: none;
          padding: 0;
          height: 100%;
          padding: 15px 15px 5px;
          position: static;
          color: pink;
          transform: none;
        }

        .views-field-field-quicklink-image {
          @include fit-and-center-image($quicklink-image-height);    
        }

        h3 {
          padding-top: 20px;
        }
      }

      .quicklinks-column > .views-row {
        border-top: 1px solid $color-grey3;
        width: 100%;
        height: $quicklink-item-height;
        position: relative;
        transition: background-color 0.25s;

        &:hover {
          background-color: #E8F8FF;
        }

        .views-field {
          @include center-y;
          position: relative;

          a {
            text-decoration: none;
            color: $color-grey;
            line-height: 22.39px;
            display: block;
            padding: 20px 25px;
            width: 95%;
            height: 100%;
            position: relative;
            transition: color 0.25s;

            &:hover {
              color: $color-blue-primary;
            }

            @media (min-width: 701px) {
              @include after-element-icon-with-hover('../images/right-arrow-icon.svg', '../images/right-arrow-icon-blue.svg', -2px, $color-blue-primary);
/*              transition: color 0.25s, background-image 0.25s;

              &:after {
                ;*/

            }
          }
        }  
      }
    }

    .quicklinks-column {
      footer {
        background: $color-lightgrey;
        font-weight: 500;
        color: #4F4F4F;
        font-size:  0.875rem;
        border: none;
        position: absolute;
        bottom: 0;
        height: $more-quicklinks-height;
        width: 100%;
        @include after-element-icon-with-hover('../images/more-dots-icon.svg', '../images/more-dots-icon-white.svg', 13px, #fff);
        @include hover-transition-content-and-background(#fff, $color-blue-primary);

        a {
          display: inline-block;
          text-decoration: none;
          width: 100%;
          color: inherit;
          padding: 0 25px;
          @include center-y;
        }
      }
    }      
  }
}


#homepage_quicklinks_region > #homepage_quicklinks_content {
/*  At this width 2 cards are on the first row, and the third is on the second.
    First card has a margin-right, but second no longer does:*/
  @media (max-width: 1023px) {   
    $card-container-width: $card-width * 2 + $card-margin-horiz; 
    width: $card-container-width; 
    /* Top 2 cards have both top and bottom margin, whereas the 3rd has only bottom */
    height: $card-height * 2 + $card-margin-vert * 3; /* Top 2 cards have both top and bottom margin, whereas the 3rd has only bottom */

    .views-element-container {
      &:nth-last-of-type(2) {
        margin-right: 0px;
      }

      &:last-of-type {
        $horiz-margin: ($card-container-width - $card-width) / 2;
        margin: 0 $horiz-margin;
      }
    }
  }
  @media (max-width: 700px) {
    height: auto;
    width: 100%;

    .views-element-container {
      @include span-columns(12 of 12);
      margin: 15px auto 0;
      height: auto;

      &:last-of-type {
        margin: 15px auto 0;
      }

      .quicklinks-column > .views-row, .views-field-field-quicklink-image, footer {
        display: none;
      }

      .views-row a {
        @include after-element-icon-with-hover('../images/right-arrow-icon.svg', '../images/right-arrow-icon-blue.svg', 8px, $color-blue-primary);
      }

      header {
        height: 75px;

        .views-row {
          height: 75px;
          padding: 10px;
        }

        .views-field {
          height: 100%;
          width: 100%;
          position: relative;
        }

        h3 {
          height: auto;
          top: 0;
          @include center-y;
          padding: 15px;
          width: 95%;
          position: absolute;
          cursor: pointer;
          @include after-element-icon-with-hover('../images/down-arrow-icon.svg', '../images/down-arrow-icon-blue.svg', 0, $color-blue-primary);

          &.open {
            color: $color-blue-primary;
            @include after-element-icon-with-hover('../images/up-arrow-icon.svg', '../images/up-arrow-icon-blue.svg', 0, $color-blue-primary);
          }
        }
      }
    }
  }
}