@import "../global";

#homepage_quicklinks_region {
  $section-padding: 50px;

  #homepage_quicklinks_content {
    max-width: $max-content-width;
    text-align: center;

    $top-border-width: 6px;
    $quicklink-header-height: $quicklink-image-height + 100px;
    $card-height: $top-border-width + $quicklink-item-height * 3 + $more-quicklinks-height + $quicklink-header-height;
    $max-width-3-cards: 7px + $card-width * 3 + $card-margin-horiz * 2 + $section-padding * 2;
    $max-width-2-cards: $card-width * 2 + $card-margin-horiz + $section-padding * 2;

    #block-quicklinks-column-1, 
    #block-quicklinks-column-2,
    #block-quicklinks-column-3 {
      @extend .card;
      background-color: #FFFFFF;
      display: inline-block;
      height: $card-height;
      margin: $card-margin-vert $card-margin-horiz 0 0;
      padding: 0;
      position: relative;
      width: $card-width;

      .quicklinks-column {
        position: absolute;
        width: 100%;

        header {
          background-color: #fff;
          height: $quicklink-header-height;

          .views-row {
            border-top: none;
            height: 100%;
            padding: 15px 15px 5px;
            position: static;
            transform: none;
          }
          .views-field-field-quicklink-image {
            height: $quicklink-image-height;
            width: $quicklink-image-width; 

            .field-content {
              height: $quicklink-image-height;

              img {
                height: $quicklink-image-height;
                object-fit: cover;
                width: $quicklink-image-width;
              }
            }         
          }
          h3 {
            padding-top: 20px;
          }
        }
        footer {
          @include after-element-icon-with-hover-aligned('../images/more-dots-icon.svg', '../images/more-dots-icon-white.svg', 13px, #fff);
          @include hover-transition-content-and-background(#fff, $color-blue-primary);
          background: $color-lightgrey;
          border: none;
          bottom: 0;
          color: #4F4F4F;
          font-size:  0.875rem;
          font-weight: 500;
          height: $more-quicklinks-height;
          position: relative;
          width: 100%;

          a {
            @include center-y;
            color: inherit;
            display: inline-block;
            padding: 0 25px;
            text-decoration: none;
            width: 100%;
          }
        }
        & > .views-row {
          border-top: 1px solid $color-grey3;
          height: $quicklink-item-height;
          position: relative;
          transition: background-color 0.25s;
          width: 100%;
          line-height: 1.3;

          &:hover {
            background-color: $background-color-lightblue;
          }
          .views-field, .quicklink-item-title {
            @include center-y;
            position: relative;

            a {
              @include after-element-icon-with-hover-aligned('../images/right-arrow-icon.svg', '../images/right-arrow-icon-blue.svg', 8px, $color-blue-primary);
              color: $color-grey;
              display: block;
              height: 100%;
              line-height: 1.3;
              padding: 20px 25px;
              position: relative;
              text-decoration: none;
              transition: color 0.25s;
              width: 95%;

              &:hover {
                // color: $color-blue-primary;
              }
            }
          }  
        }  
      }
    }

    #block-quicklinks-column-3 {
      margin-right: 0;
    }

    @media (max-width: $max-width-3-cards) {
      max-width: 800px;

      #block-quicklinks-column-2 {
        margin-right: 0;
      }
    }
    @media (max-width: $max-width-2-cards) {
      #block-quicklinks-column-1,
      #block-quicklinks-column-2,
      #block-quicklinks-column-3 {
        display: block;
        height: auto;
        margin: 10px auto;
        width: 100%;

        .quicklinks-column {
          position: relative;

          & > .views-row, .views-field-field-quicklink-image, footer {
            display: none;
          }
        }
        .views-row a {
          @include after-element-icon-with-hover-aligned('../images/right-arrow-icon.svg', '../images/right-arrow-icon-blue.svg', 8px, $color-blue-primary);
          padding-left: 0 !important;
          margin-left: 25px;
        }
        header {
          height: 75px !important;
          position: relative;

          .views-field {
            height: 100%;
            width: 100%;
            position: relative;
            width: 100%;
          }
          h3 {
            @include center-y;
            @include after-element-icon-with-hover-aligned('../images/down-arrow-icon.svg', '../images/down-arrow-icon-blue.svg', 0, $color-blue-primary);
            cursor: pointer;
            height: auto;
            padding: 15px 15px 15px 10px;
            width: 95%;

            &.open {
              @include after-element-icon-with-hover-aligned('../images/up-arrow-icon.svg', '../images/up-arrow-icon-blue.svg', 0, $color-blue-primary);
              color: $color-blue-primary;
            }
          }
        }
      }
    }
  }
}
