/*
  This stylesheet provides the default styling
  for the Related Resources block.
*/
[data-derivative-plugin-id^="related_resources"] {
  @import "../styleguide";

  h2 {
    border-bottom: $separator;
    color: $color-red2;
    margin-bottom: $margin-med;
    padding-bottom: $margin-xsmall;
    text-align: left;
    text-transform: uppercase;
  }
  .views-field-title {
    font-size: rem(18px);
    margin-bottom: $margin-xsmall;

    a {
      color: $color-blue-primary;
    }
  }
  .views-field-body {
    color: $color-grey2;
    font-size: rem(18px);
    margin-bottom: $margin-med;
  }
}
