/*
  This stylesheet provides the default styling
  for the Related Resources block.
*/
[data-derivative-plugin-id^="related_resources"] {
  $margin-xsmall: 5px;
  $margin-small: 10px;
  $margin-med: 20px;
  $margin-large: 40px;

  h2 {
    border-bottom: 2px solid $color-lightgrey;
    color: $color-red2;
    font-size: rem(20px);
    font-weight: 500;
    margin-bottom: $margin-med;
    padding-bottom: $margin-xsmall;
    text-align: left;
    text-transform: uppercase;
  }
  .views-field-title {
    font-size: rem(18px);
    margin-bottom: $margin-xsmall;

    a {
      color: $color-blue-primary;
    }
  }
  .views-field-body {
    color: $color-grey2;
    font-size: rem(18px);
    margin-bottom: $margin-med;
  }
}
