/*
** This Sass file defines the styles for the 
** Section 106 Process module.
*/

#homepage_flowchart_region {
  padding: 25px 0px 0px 0px;
  width: 100%;
  height: auto;
  background-color: $background-color-lightblue;
}

.flowchart_content_wrapper {
  margin: 0 auto;
  text-align: center;
}

.header_container {
  width: auto;
  display: inline-block;
  padding: 0px 20px;
  hr {
    width: 60%;
  }
}

#homepage_flowchart_region {
  padding: 25px 0px 0px 0px;
}

#block-readmoreaboutthefederalpreservationprocess {
  div {
  	margin: 20px 20px 30px 20px;
    button {    
      text-transform: uppercase;
    }
  }
}
