@import "../global";
.flowchart_content_wrapper {
  margin: 0 auto;
  position: relative;
  text-align: center;
  .header_container {
    padding: 0px 25px;
    width: auto;
    display: inline-block;
    hr {
      width: 60%;
    }
  }
}

#block-readmoreaboutthefederalpreservationprocess {
  div {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    button {
      margin: 20px auto 30px auto;
      text-transform: uppercase;
    }
  }
}