/*
** This Sass file defines the styles for the 
** Section 106 Process module.
*/

.flowchart_content_wrapper {
  margin: 0 auto;
  text-align: center;
}

#block-readmoreaboutthefederalpreservationprocess {
  div {
    button {
      margin: 20px auto 30px auto;
      text-transform: uppercase;
    }
  }
}