/*
  This module defines the styles for the Share
  This Page block element.
*/

.share_this_page {
  border-color: $color-grey;

  .share_this_page_label {
    color: $color-red;
    font-family: $sans-text;
  }
  .share_this_page_buttons {
    @media (max-width: 500px) {
      .share_this_page_button_print {
        display: none;
      }
    }
    .share_this_page_button_icon {
      svg path {
        transition: fill 0.25s;
      }
      &:hover {
        svg {
          path {
            fill: $color-blue-primary;
          }
        }
      }
    }
  }
}

