/*
  This module defines BLM-specific styling
  for Slide menus created using the Slide
  Menu module.
*/
$blm-menu-header-font-size: 30px;
$slide-menu-menu-background-color: #fff;
$slide-menu-menu-text-color: $color-grey2;
$slide-menu-menu-focus-width: 1024px;
$slide-menu-menu-slide-button-icon-size: 12px;
$slide-menu-menu-item-active-text-color: $color-blue-primary;
$slide-menu-menu-highlight-color: $slide-menu-menu-item-active-text-color;
$slide-menu-menu-highlight-thickness: 5px;
$slide-menu-bottom-positioning: 15px;

.slide-menu-menu {
  border-bottom: 1px solid $background-color-grey2;
  
  .slide-menu-menu-slide-container {
    .slide-menu-menu-focus {
      max-width: $slide-menu-menu-focus-width;
    }
    .slide-menu-menu-slide {
      .slide-menu-menu-item {
        font-family: $sans-text;
        font-weight: 600;
        text-align: center;

        a {
          @include center-x;
          bottom: $slide-menu-bottom-positioning;
          display: block;
          color: $slide-menu-menu-text-color;
          margin-top: 15px;
        }
        &:hover {
          a {
            color: $slide-menu-menu-item-active-text-color;
          }
        }
      }
      .slide-menu-menu-item.slide-menu-menu-item-active {
        border-bottom: $slide-menu-menu-highlight-color solid $slide-menu-menu-highlight-thickness;

        a {
          color: $slide-menu-menu-item-active-text-color;
          bottom: $slide-menu-bottom-positioning - $slide-menu-menu-highlight-thickness;
        }
      }
    }
  }
  .slide-menu-menu-slide-button {
  }
  .slide-menu-menu-left-slide-button {
    background-image: url('../images/prev-arrow.svg');
    background-position: 50%;
    background-size: $slide-menu-menu-slide-button-icon-size;
    background-repeat: no-repeat;
  }
  .slide-menu-menu-right-slide-button {
    background-image: url('../images/next-arrow.svg');
    background-position: 50%;
    background-size: $slide-menu-menu-slide-button-icon-size;
    background-repeat: no-repeat;
  }
  .slide-menu-menu-highlight {
  }
}
/*#block-resourcesmenu,
#block-publicationsmenu,
#block-problemsmenu,
#block-partners,
#block-aboutmenu {
  background-color: $slide-menu-menu-background-color;
  color: $slide-menu-menu-text-color;

  h2 {
    font-size: rem(18px);
  }
}
*/