@import "../global";

$success_card_margin_vert: 25px;
$success_card_height: 400px;

#block-views-block-homepage-success-stories-block-1 {
  .card {
    height: $success_card_height;
    margin-top: $success_card_margin_vert;
    margin-bottom: $success_card_margin_vert;
    text-align: center;
    @include span-columns (4 of $grid-columns);
    background-color: #ffffff;

    .success_story {
      padding: 5px 10px;
      position: relative;
      height: $success_card_height - 30px;     

      &_image {
        $success_story_image_height: 185px;
        height: $success_story_image_height;
        overflow: hidden;
        margin-bottom: 15px;

        img {
          height: auto;
          min-height: $success_story_image_height;
          width: 100%;
        }
      }

      &_title h3 {
        text-align: inherit;
      }

      &_location {
        color: $color-lightgrey-2;
      }

      &_body p {
        font-family: $serif-text;
        margin: 5px;
      }

      &_link {
        @include center-x;
        bottom: 0;

        img {
          margin-left: 5px;
          vertical-align: -1px;
        }
      }
    }
  }

  @media (max-width: 1023px) {  
    .card {
      @include span-columns (6 of 12);

      &.view-item-2 {
        margin-right: 0;
      }
 
      &.view-item-3 {
        margin-top: 0;
        @include shift(3);
      }
    }
  }

  @media (max-width: 700px) {  
    .card {
      $success_card_height: 425px;
      height: $success_card_height;

      .success_story {
        height: $success_card_height - 30px;     
      }
    }
  }

  @media (max-width: $mobile-breakpoint) {   
    .card {
      $success_card_height: 400px;
      height: $success_card_height;
      @include span-columns (12 of 12);

      &.view-item-2, &.view-item-3 {
        display: none;
      }

      .success_story {
        height: $success_card_height - 30px;     
      }
    }
  }
}