/*
  This stylesheet defines the default styles
  for the Contact Us page.
*/

[data-page-path="/contact/feedback"] {
  @import "../styleguide";

  #secondary_header_region {
    max-width: $max-content-width;
    margin: 0 auto;
    padding: 0 $margin-large;
  }
  #block-contactuspagetitle {
    h1 {
      @include h1($center: false);
      text-align: center;

      &:after {
        content: "";
        display: block;
        border-bottom: 1px solid $color-red;
        margin: $margin-small auto $margin-large;
        width: 60%;
      }
    }
  }
  [data-plugin-id="share_this_page_block"] {
    margin-bottom: $margin-med;
  }
  #block-contactusinformationblock {
    @include responsive(float, right, none);
    border: 1px solid $color-lightgrey-2;
    padding: $margin-small;;
    margin-bottom: $margin-med;

    .contact-us-information-header-title {
      @include h2($center: false);
      font-size: rem(18px);

      &:after {
        content: "";
        display: block;
        border-bottom: 1px solid $color-red;
        margin: $margin-small 0;
        width: 60%;
      }
    }
    .contact-us-information-body-section {
      margin-bottom: $margin-med;

      a {
        @include a;
      }
      p {
        @include strip-margins;
      }
      .contact-us-information-body-section-label {
        @include achp-label($margin-bottom: 0);
      }
    }
  }
  #block-contactusintroduction {
    @include styleguide;
  }
}
