/*
  This stylesheet provides styling for the
  Digital Library Landing pages.
*/
[data-page-node-type="digital_library_landing_page"] {
  $margin-xsmall: 5px;
  $margin-small: 10px;
  $margin-med: 20px;

  #content_region {
    margin: 0 auto;
    max-width: $max-content-width;

    .views-element-container {
      h2 {
        color: $color-red2;
        font-size: rem(22px);
        margin: $margin-small 0;
        text-align: left;
      }
      header {
        background-color: transparent;
        font-weight: 300;
        height: auto;
        margin: 0 0 $margin-med;
      }
      .item-list {
        box-shadow: 0px 1px 3px $color-lightgrey;

        ol {
          margin: 0;
          padding: 0;

          li {
            border-bottom: 1px solid $color-lightgrey;
            list-style-type: none;
            padding: $margin-med 0 $margin-med $margin-med;

            .views-field-title {
              a {
                color: $color-blue-primary;
              }
            }
            .views-field-type {
              color: $color-grey3;
            }
          }
        }
      }
    }
  }
}
