@import "../global";

#events_landing_page {
  height: 100%;

  #outer_container {
    background-color: #fff;
  }
  #main-wrapper {
    @include outer-container(100%);
    background-color: $background-color-grey;
  }
  #content {
    box-shadow: inset 0 3px 5px -3px $color-grey;    
    width: 100%;

    #content_region {
      background-color: transparent;
      margin: 0 auto;
      max-width: $max-content-width;
      padding: 0 50px; 

      #block-eventslandingpageheader {
        background-color: $background-color-grey;
        position: relative;

        .header_container {
          @include center-xy;
          display: inline-block;
          margin-top: 50px;
          width: auto;       
        }
      }
      #block-eventcalendarpage-block {
        padding-top: 100px;

        h3 {
          color: $color-darkblue;
        }
        .event_calendar_feature {
          padding: 0 0 40px;

          $view-event-link-height: 35px;
          $card-padding-x: 20px;

          .event_calendar_grid {
            padding-left: 20px;

            &_title {
              margin-left: 0;

              &:before {
                content: 'Upcoming ';
              }
            }

            &_message {
              color: #000;
            }

            &_card {
              border-bottom: $view-event-link-height solid $background-color-grey;
              height: auto;
              margin-left: 0;
              min-height: 250px;
              padding: 15px $card-padding-x;
              width: 100%;

              &_full_title {
                font-size: rem(20px);
              }

              &_short_title {
                display: none;
              }

              &_description {
                display: block;
                font-family: $serif-text;
                margin-bottom: 50px;
              }
              &_footer {
                bottom: 0px;
                height: auto;
              }
              &_google_calendar {
                float: none;
                font-size: rem(14px);
                font-weight: 500;
                margin: $card-padding-x 0;
                padding-top: 2px;
                width: 100%;

                &:after {
                  color: $color-blue-primary;
                  content: 'ADD TO YOUR CALENDAR';
                  margin-left: 30px;
                  transition: color 0.25s;
                }

                &:hover:after {
                  color: $color-lightblue-primary;
                }
              }
              &_link {
                @include hover-transition-background ($background-color-lightblue);
                background-color: $background-color-grey2;
                bottom: -$view-event-link-height;
                height: $view-event-link-height;
                left: -$card-padding-x;
                position: absolute;
                width: 100%;

                a {
                  @include center-xy;
                  color: $color-grey;
                  font-weight: 500;
                  text-align: center;
                  text-decoration: none;
                  transition: color 0.25s;
                  width: 100%;

                  &:after {
                    background-image: none;
                  }
                }
                &:hover a {
                  color: $color-blue-primary;
                }        
              }
            }
          }
          &_footer {
            display: none;
          }
        }
      }
      #block-achp-content {
        display: none;
      }
    }

    @media (max-width: 900px) {
      #content_region #block-eventcalendarpage-block .event_calendar .event_calendar_feature {
        .event_calendar_calendar {
          padding-right: 0;
          width: 100%;
        }
        .event_calendar_grid {
          padding-left: 0;
          width: 100%;

          &_title, &_card {
            margin-left: 0;
          }
        }
      } 
    }
    
    @media (max-width: $mobile-breakpoint) {
      #content_region {
        padding: 0;
        
        #block-eventslandingpageheader .header_container h2 {
          font-size: 2rem;
        }
        #block-eventcalendarpage-block {
          .event_calendar {
            h3:not(.event_calendar_grid_card_title) {
              text-align: center;
            }
            .event_calendar_feature .event_calendar_grid {
              padding: 0 50px;
            }
          }
        }
      }
    }
  }
}