#page[data-page-path-alias^="/protecting-historic-properties/fpo-list/"] {
  @import "../styleguide";

  $vertical-padding: 35px;
  $container-padding: 50px;
  $success-card-margin-vert: 25px;
  $success-card-margin-horiz: 17px;
  $success-card-height: 400px;
  $success-card-width: 300px;
  $section-padding-horiz: 40px;
  $three-card-max-width: $success-card-width * 3 + $success-card-margin-horiz * 2 + $section-padding-horiz * 2;
  $two-card-max-width: $success-card-width * 2 + $success-card-margin-horiz + $section-padding-horiz * 2;

  // $success-card-shadow-width: 3px;
  // $success-card-width: calc((1024px - #{$container-padding} * 2 - #{$success-card-margin-horiz} * 2 - #{$success-card-shadow-width} * 3)/ 3);
  // $two-card-container-width: calc(#{$success-card-width} * 2 + #{$success-card-margin-horiz} + #{$success-card-shadow-width} * 2 + #{$container-padding} * 2);

  @mixin create-header($label) {
    content: $label;
    color: #000;
    display: block;
    font-size: rem(16px);
    font-family: $sans-text;
    font-weight: 500;
    left: -35px;
    position: absolute;
    top: -30px;
  }

  @extend #page[data-page-node-type="page"];
  
  #secondary_header_region {
    #block-php-shareblock {
      @include content-container;
      margin: 0 auto 30px;
    }
  }
  #content {
    max-width: 100%;
    padding: 0;

    #content_region {
      text-align: center;

      h2 {
        display: inline-block;

        &:after {
          @include hr($color-red);
          content: "";
          display: block;
          margin: 10px auto 25px;
          /*min-width: 150px;*/
          width: 60%;
        }
      }

      #block-fpo-agency-success-stories {
        background-color: $background-color-grey2;
        clear: both;
        height: auto;
        padding-bottom: $vertical-padding;

        [data-view-id="homepage_success_stories"] {
          @include content-container;
          margin: 0 auto;
          padding-bottom: 25px;
          text-align: center;

          header {
            background-color: $background-color-grey2;
            height: auto;
            padding-top: $vertical-padding;

            p {
              font-size: rem(18px);
              margin: 0 0 40px;
              text-align: center;
            }
          }
          .success-story.card {
            background-color: #fff;
            display: inline-block;
            height: $success-card-height;
            margin-bottom: 25px;
            position: relative;
            text-align: center;
            width: $success-card-width;

            & + .success-story.card {
              margin-left: $success-card-margin-horiz;
            }

            .success_story {
              @include center-xy;
              height: $success-card-height - 30px; 
              width: calc(100% - 20px);

              &_image {
                $success-card-image-height: 185px;
                max-height: $success-card-image-height;
                @include fit-and-center-image($success-card-image-height);    
                margin-bottom: 15px;

                img {
                  border: none !important;
                }
              }
              &_title h3 {
                text-align: inherit;
              }
              &_location {
                color: $color-lightgrey-2;
              }
              &_body p {
                font-family: $serif-text;
                font-size: rem(16px);
                margin: 5px;
                text-align: center;
              }
              .read_more {
                @include center-x;
                bottom: 0;
                padding-right: 5px;
              }
            }           
          }
        }
      }

      #block-agency-fpo-list, #block-agency-fpo-list-2 {
        @include content-container;
        padding-bottom: 25px;
        padding-top: 15px;

        .item-list {
          background-color: $background-color-lightblue;
          border-top: 2px solid $color-lightblue-primary;
          margin-top: 30px;
          padding: 30px 25px 0 40px;
          position: relative;
          text-align: left;

          &:before {
            @include create-header('POSITION');
            left: 25px;
          }
          &:after {
            @include create-header('STAFF MEMBER');
            left: calc(50% - 15px);
          }
          ul {
            margin: 0;
            padding: 0;
            position: relative;

            li {
              color: $color-grey2;
              font-family: $sans-text;
              font-size: rem(18px);
              list-style: none;
              padding: 0 0 30px;
              position: relative;
              top: 0;

              a {
                color: $color-blue-primary;
              }

              & + li {
                &:before {
                  background-color: $background-color-grey2;              
                  content: "";
                  display: block;
                  height: 1px;
                  margin: 10px 0;
                  width: 100%;
                }
              }
              .views-field {
                left: 50%; 
                position: relative;
                width: 50%;

                .field-content {
                  display: inline;
                }
                .field-value {
                  left: 100px;
                  position: absolute;
                }

                &-title {
                  color: $color-darkblue2;
                  font-weight: 500;
                }
                &-field-fpo-officer-type {
                  color: $color-red;
                  left: 0;
                  position: absolute;
                }
              }
            }
          }
        }
      }

      #block-achp-content {
        @include content-container;
        padding-bottom: 20px;
        font-size: rem(18px);

        h2 + p {
          margin-top: 0;
        }
      }

      #block-views-block-digital-library-block-12 {
        @include content-container;
        padding: 40px 0;

        .item-list {
          border: 1px solid $background-color-grey2;
          border-bottom: none;
          text-align: left;

          ol {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
              border-bottom: 1px solid $background-color-grey2;
              padding: 0;

              .views-field {
                font-size: rem(18px);
                line-height: 1.4;
              }
              .views-field-title {
                font-family: $sans-text;
                font-size: rem(18px);
                padding: 20px 20px 0;

                a {
                  color: $color-blue-primary;
                }
              }
              .views-field-type {
                color: $color-lightgrey-2;
                font-family: $sans-text;
                margin-bottom: $margin-xsmall;
                padding: 10px 20px 0;
              }
              .views-field-body {
                color: $color-grey2;
                padding: 0px 20px 20px;
              }
            }
          }
        }
      }

      #block-views-block-related-resources-block-1 {
        @include content-container;
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: left;

        h2 {
          display: block;

          &:after {
            display: none;
          }
        }
      }

      @media (max-width: $max-content-width) {
        #block-agency-fpo-list, #block-agency-fpo-list-2 {
          .item-list {
            margin-top: 0;

            &:before, &:after {
              display: none;
            }
            ul {
              text-align: center;

              li {
                display: inline-block;
                margin: 0 auto;
                text-align: left;

                .views-field  {
                  position: static;
                  width: 100%;   
                }
              }          
            }
          }
        }        
      }
      @media (max-width: $three-card-max-width + 9px) {
        #block-fpo-agency-success-stories [data-view-id="homepage_success_stories"] {
          max-width: 800px;
          
          .success-story.card:nth-of-type(3) {
            margin-left: 0 !important;
          }
        }
      }
      @media (max-width: $two-card-max-width + 5px) {
        #block-fpo-agency-success-stories [data-view-id="homepage_success_stories"] {
          max-width: 700px;
          
          .success-story.card {
            display: block;
            margin: 0 auto 25px !important;
            max-width: 100%;

            &:nth-of-type(3) {
              margin: 0 auto 25px !important;
            }
          }
        }
      }  
    }
  }
}