/*
  Styles for the news landing page
*/
/*@import "../global";*/

#news_landing_page {
  height: 100%;

  #outer_container {
    background-color: #fff;
  }
  #main-wrapper {
    @include outer-container(100%);
    background-color: $background-color-grey;
    padding-bottom: 25px;
  }
  #content {  
    width: 100%;

    #content_region {
      background-color: transparent;
      border-top: 2px solid transparent;   /*to allow box-shadow to appear*/     
      margin: 0 auto;
      max-width: $max-content-width;
      padding: 0 50px;     
    }
    .news-landing-container {
      @include span-columns (12);
      height: 100%;

      em {
        font-style: normal !important;
        /* If an item summary cuts off in the middle of emphasized
        text, the entire rest of the page is italicized too - this
        prevents that bug */
      }
      header {
        @include span-columns (12 of 12);
        background-color: $background-color-grey;
        position: relative;

        .header_container {
          @include center-xy;
          display: inline-block;
          width: auto;

          hr {
            @include hr($color-red);
            margin-top: 0;
            width: 60%;
          }  
        }
        .news_filter {
          display: none;
        }
      }
      $filter-padding-right: 20px;

      .views-exposed-form {
        @include span-columns (3 of 12);
        padding-bottom: 25px;
        padding-right: $filter-padding-right;
        position: relative;

        .date_filter_container {
          @include span-columns (12 of 12);
          margin-top: 10px;
          padding-bottom: 40px;
        }
        div[data-drupal-selector="edit-actions"] {
          bottom: 10px;
          position: absolute;
        }
        label {
          border-bottom: 1px solid $color-red;
          color: $color-darkblue;
          display: inline-block;
          font-family: $sans-text;
          font-size: rem(20px);
          width: 100%;
        }
        ul.view_term_list_list {
          color: $color-grey;
          font-family: $sans-text;
          margin: 0;
          padding: 0;
          margin-bottom: 20px;

          .view_term_list_item {
            border-bottom: 1px solid $color-grey;    
            display: block;
            position: relative;        
            width: 100%;

            .view_term_list_item_label {
              @include hover-transition-content($color-blue-primary);
              display: inline-block;
              padding: 10px 20px 10px 0;
              width: 100%;
            }
            .view_term_list_item_deselect_button {
              @include center-y;
              position: absolute;
              right: 0;
            }
          }
          .view_term_list_list_reset_button {
            @include hover-transition-content($color-blue-primary);
            cursor: pointer;
            padding: 10px 0;
            width: 100%;
          }
          .view_term_list_list_toggle_button {
            @include hover-transition-content($color-blue-primary);
            padding: 10px 0;
            text-transform: uppercase;
          }
        }
        .form-select {
          width: 100%;
        }
        .form-item-field-news-date-value-min {
          display: inline-block;
          width: 100%;

          label {
            margin-bottom: 10px;
          }
        }
        .form-item-field-news-date-value-max label {
          display: none;
        }
        .news_filter_reset_button {
          cursor: pointer;
          display: none;
          font-family: $sans-text;
          font-size: rem(16px);
          margin: 0;
        }        
        input[type="text"] {
          background-image: url('../images/calendar-icon.svg');
          background-position: 5px center;
          background-repeat: no-repeat;
          border: 1px solid $color-darkblue;
          color: $color-darkgrey2;
          font-family: $sans-text;
          font-size: rem(16px);
          margin-bottom: 10px;
          padding: 10px 0 5px 30px;
          width: 100%;

          @include placeholder {
            color: $color-lightgrey;
          }
        }
        input[type="submit"] {
          display: none;
        }

        #edit-field-tags-target-id {
          margin-bottom: 15px;
        }
      }
      $full-story-link-height: 35px;

      .news_no_results {
        font-family: $sans-text;
        font-style: italic;
      } 
      .news-item {
        @include span-columns (9 of 12);
        background-color: #fff;
        border-bottom: $full-story-link-height solid transparent;
        float: right;
        margin-bottom: 25px;
        padding: 5px 20px;
        position: relative;

        .views-field-title {
          display: inline-block;
          margin-top: 10px;
          padding: 0;

          a {
            color: $color-darkblue;
            font-size: rem(20px);
            text-decoration: none;
          }
        }
        .views-field-field-news-date {
          color: $color-lightgrey;
          margin-top: 0;
          padding: 10px 0;
        }
        .views-field-field-image img {
          float: left;
          height: auto;
          max-height: 300px;
          max-width: 300px;
          padding: 5px 15px 0 0;
        }
        .views-field-body {
          font-family: $serif-text;
          font-size: rem(18);

          p {
            margin-top: 5px;
          }
        }
        .views-field-field-tags {
          padding: 20px 0 5px;

          .views-label {
            color: $color-darkblue;
          }
          a {
            color: $color-blue-primary;
          }
        }
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;

          li {
            display: inline-block;

             a {
              color: $color-blue-primary;
              margin-right: 25px;
              text-decoration: none;
              transition: color 0.25s;

              &:hover {
                color: $color-lightblue-primary;
              }
            }
          }
        }
        .views-field-view-node {
          @include hover-transition-background ($background-color-lightblue);
          background-color: $background-color-grey2;
          bottom: -$full-story-link-height;
          font-size: rem(14px);
          height: $full-story-link-height;
          left: 0;
          position: absolute;
          width: 100%;

          a {
            @include center-xy;
            color: $color-grey;
            font-weight: 500;
            text-align: center;
            text-decoration: none;
            transition: color 0.25s;
            width: 100%;
          }
          &:hover a {
            color: $color-blue-primary;
          }  
        }      
      }
    }
  }

  @media (max-width: $max-content-width) {
    #content .news-landing-container {
      .views-exposed-form {
        @include span-columns (4 of 12);
      }
      .news-item {
        @include span-columns (8 of 12);
        float: right;
      }
    }
  }

  @media (max-width: 900px) and (min-width: 750px){
    #content .news-landing-container {
      .news-item {
        .views-field-field-news-photo .field-content {
          background-color: $color-darkgrey;
          margin-bottom: 10px;
          width: 100%;

          img {
            display: block;
            float: none;
            margin: 0 auto;
            max-height: 100%;
            max-width: 100%;
            padding: 0;
          }
        }
      }
    }
  }

  @media (max-width: 750px) {
    #content .news-landing-container {

      .views-exposed-form {
        @include span-columns (12 of 12);
        border-bottom: 1px solid $color-grey;
        display: none; 
        margin-bottom: 20px;
        padding-bottom: 20px;
        padding-right: 0;

        .view_term_list_list {
          @include span-columns (12 of 12);
        }
        .date_filter_container {
          @include span-columns (12 of 12);
          padding-bottom: 20px;
        }
      }
      .news_no_results {
        padding-bottom: 40px;
      }
      .news-item {
        @include span-columns (12 of 12);
      }
      header {
        height: 150px;

        .header_container {
          top: 35%;
        }
        .news_filter {
          @include span-columns (12 of 12);
          font-size: rem(14px);
          border-bottom: 1px solid $color-grey;
          bottom: 10px;
          color: $color-grey;
          cursor: pointer;
          display: block;
          font-family: $sans-text;
          font-weight: 500;
          position: absolute;
          padding-bottom: 5px;

          .news_filter_text {
            display: inline-block;
            line-height: 1;
            vertical-align: sub;
          }
          &:after {
            left: 85px;
            position: absolute;
            top: 3px;
          }
          &.news_filter_closed {
            @include after-element-icon-with-hover('../images/down-arrow-icon.svg', '../images/down-arrow-icon-dark-blue.svg', 0, $color-blue-primary);
          }
          &.news_filter_open {
            @include after-element-icon-with-hover('../images/up-arrow-icon.svg', '../images/up-arrow-icon-dark-blue.svg', 0, $color-blue-primary);
            border-bottom: none;
            bottom: 11px;
          }
        }
      }
    }
  }

  @media (max-width: 600px) {
    #content {
      #content_region {
        padding: 0;

        .news-landing-container {
          .news-item {
            .views-field-field-image .field-content {
              background-color: $color-darkgrey;
              margin-bottom: 10px;
              width: 100%;

              img {
                display: block;
                float: none;
                margin: 0 auto;
                max-height: 100%;
                max-width: 100%;
                padding: 0;
              }
            }
            .views-field-field-tags .field-content {
              height: auto;
              position: static;
            }      
            ul  {
              padding-top: 0;

              li {
                display: list-item;
                margin-top: 0;

                a {
                  margin: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
