@import "../global";

.page_outer_container {
  background-color: $background-color-grey;
  @include outer-container(100%);

  #main-wrapper #content {
    max-width: $max-content-width;
    margin: 0 auto;
    position: relative;
  }

  .news-landing-container {
    @include span-columns (12);
    height: 100%;
    background-color: $background-color-grey;

    header {
      @include span-columns (12 of 12);
      background-color: $background-color-grey;
      position: relative;

      .header_container {
        width: auto;
        display: inline-block;
        @include center-xy;

        h1 {
          text-shadow: none;
          font-weight: 500;
          font-size: 2.25rem;
          color: $color-darkblue;
        }
        
        hr {
          @include hr($color-red);
          margin-top: 0;
          width: 60%;
        }  
      }
    }

    .views-exposed-form {
      @include span-columns (3 of 12);
      padding-right: 20px;

      .form-select {
        WIDTH: 100%;
      }
    }

    .news-item {
      @include span-columns (9 of 12);
      float: right;
      background-color: #fff;
      margin-bottom: 25px;
      padding: 0;

      .views-field-title {
        margin-top: 10px;

        a {
          color: $color-darkblue;
          font-size: 1.25rem;
          text-decoration: none;
          padding: 10px 20px 0;
        }
      }

      .views-field-field-date {
        /*@extend .card_date;*/
        color: $color-lightgrey;
        padding: 10px 20px 0;
        margin-top: 0;
      }

      .views-field-field-news-photo img {
        max-width: 300px;
        max-height: 300px;
        float: left;
        margin: 10px 20px 10px 20px;
      }

      .views-field-body {
        font-family: $serif-text;
        margin: 5px 20px;

        p {
          margin-top: 5px;
        }
      }

      .views-field-field-tags {
        .views-label {
          display: block;
          color: $color-darkblue;
          margin-left: 20px;
        }

        .field-content {
          height: 20px;
          position: relative;
          bottom: 30px;
        }
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 10px 20px 0;

        li {
          display: inline-block;
          margin-top: 25px;
          position: relative;
          /*left: -35px;*/

           a {
            text-decoration: none;
            color: $color-blue-primary;
            margin-right: 25px;
          }
        }
      }

      .views-field-view-node {
        width: 100%;
        position: relative;
        margin-top: 20px;
        height: 30px;
        background-color: $background-color-grey;
        clear: both;
        @include hover-transition-background($background-color-lightblue);

        a {
          color: $color-grey;
          text-decoration: none;
          text-align: center;
          font-weight: 500;
          @include center-xy;
          transition: color 0.25s;
        }

        &:hover a {
          color: $color-blue-primary;
        }        
      }

      &:after {
        content: "";
        clear: both;
      }
    }
  }
}

label {
  font-size: 1.25rem;
  font-family: $sans-text;
  color: $color-darkblue;
  border-bottom: 1px solid $color-red;
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}

input {
  font-family: $sans-text;
  color: $color-lightgrey;
}

#edit-field-tags-target-id {
  margin-bottom: 15px;
}