/*
  Styles for ONAA office pages
*/

/* This selector encompasses all pages, including the overview*/
#page[data-page-path-alias^="/about/offices/onaa"] {
  @mixin create-header($label) {
    content: $label;
    color: #000;
    display: block;
    font-size: rem(16px);
    font-family: $sans-text;
    font-weight: 500;
    left: -15px;
    position: relative;
    top: -30px;
  }
  #content #content_region {
    #block-onaa-agency-assignments {
      margin: 50px 0 40px;

      .item-list {
        @include clear-float;
        padding: 30px 25px;

        &:first-of-type {
          border-top: 2px solid $color-lightblue-primary;
          padding-top: 0;

          &> ul:before {
            @include create-header('ONAA STAFF MEMBER');
          }
          &> ul:after {
            @include create-header('ASSIGNED ORGANIZATIONS');
            left: 50%;
            position: absolute;
          }
        }
        &:last-of-type {
          border-bottom: 2px solid $color-lightblue-primary;
        }
        &:nth-child(even) {
          background-color: $background-color-lightblue;
        }
        h3 {
          display: none;
        }
        & > ul {
          margin: 0;
          padding: 0;
          position: relative;
          width: 100%;

          li {
            color: $color-darkgrey;
            font-family: $sans-text;
            list-style: none;
            padding-bottom: 15px;
            position: relative;

            .views-field {
              /*float: none;*/
              width: 50%;

              &-title {
                color: $color-darkblue2;
                font-weight: 500;
              }
              &-field-staff-position {
                color: $color-lightgrey-2;
              }
              &-field-staff-phone,
              &-field-staff-fax,
              &-field-staff-email {
                position: relative;

                .field-content {
                  display: inline;
                  left: 75px;
                  position: absolute;   

                  a {
                    color: $color-blue-primary;
                  }             
                }
              }
              &-field-staff-agencies {
                float: right;
                width: 50%;

                ul {
                  margin-top: 0;
                  padding: 0;

                  li  {
                    padding: 0;
                  }
                }
              }
              &-field-staff-agencies-1 {
                display: none;
              }
            }
          }
        }
      }
    }
    @media (max-width: 825px) {
      #block-onaa-agency-assignments .item-list {
        &:first-of-type {
          padding-top: 30px;

          ul:before, ul:after {
            display: none;
          }
        }
        & > ul li .views-field {
          float: none;
          width: 100%;

          &-field-staff-agencies {
            display: none;
          }
          &-field-staff-agencies-1 {
            display: block;
            margin-top: 15px;

            .views-label {
              color: $color-grey2;
              font-weight: 500;
            }
            ul {
              padding-left: 25px;

              li {
                list-style-type: disc;
                padding: 0;
              }
            }
          }         
        }
      }        
    }
  }
}

/* These selectors encompasses all pages beyond the overview */
#page[data-page-path-alias^="/about/offices/onaa/"],
#page[data-page-path-alias^="/about/offices/ofap/"],
#page[data-page-path-alias^="/about/offices/ogc/"],
#page[data-page-path-alias^="/about/offices/oed/"],
#page[data-page-path-alias^="/about/offices/opi/"],
#page[data-page-path-alias^="/about/offices/ocea/"] {
  #secondary_header_region .achp-breadcrumb ol {
    li.breadcrumb_page {
      display: none;
    }
    li:nth-last-child(2) a {
      color: $color-blue-primary;
      cursor: text;
    }
  }
}