/*
  Styles that apply to the offices landing page, as well as 
  any page aliased within that URL
*/

#page[data-page-path-alias^="/about/offices"] {
  #secondary_header_region {
    #block-breadcrumbs {
      @include content-container;
      margin: 30px auto 0;
    }
    #block-views-block-image-carousel-block-1 {
      display: none;
    } 
    #block-about-achp-share {
      @include content-container;
      margin: 0 auto 30px;     
    }
  }
  #content #content_region #block-achp-content {
    padding-left: 0;
    padding-right: 0;

    article {
      .read_more a:after {
        position: static;
        padding-left: 30px;
      }
      h2 {
        margin-top: 30px;
        text-align: left;

        & + p {
          margin-top: 0;
        }
      }
      p + h2 {
        margin-top: 30px;
      }
    }
  }
}