/*
  Styles for the Section 106 Cases Open for Comment landing page
*/
[data-page-path="/node/7519"],
[data-page-path-alias="/protecting-historic-properties/open-cases"] {
$submit-button-width: 40px;
  #secondary_header_region {
    #block-breadcrumbs {
      @include content-container;
      margin: 30px auto 0;
    }
    #block-php-shareblock {
      @include content-container;
      margin: 0 auto 30px;
    }
  }

  #content #content_region {
    p a {
      color: $color-blue-primary;
    }
    #block-list-cases-open {
      .no_results {
        margin-bottom: 40px;
      }
      ol {
        color: $color-red;
        counter-reset: achp-theme-cases;
        font-family: $sans-text;
        padding-left: 15px;

        li {
          list-style-type: none;
          list-style-image: none;
          padding-left: 20px;
          position: relative;

          &:before {
            color: $color-red2;
            content: counter(achp-theme-cases);
            counter-increment: achp-theme-cases;
            font-size: rem(22px);
            left: -10px;
            position: absolute;
            text-align: right;
          }
        }
      }
      h4 {
        margin-bottom: 0;
        font-size: rem(22px);

        a {
          color: $color-darkblue2;
        }
      }
      .views-field-field-case-location {
        color: $color-red;
        font-family: $sans-text;
        font-size: rem(16px);
        font-weight: 400;
      }
      .views-field-body, .views-field-body p {
        color: #000;
        font-family: $serif-text;
        font-size: rem(18px);
        margin-top: 0;
      }
      .read-more {
        position: relative;

        a {
          // vertical-align: 0%;
        }
      }
    }
  }
}
