/*
  Styles for the Section 106 Cases Open for Comment landing page
*/

[data-page-path-alias="/protecting-historic-properties/open-cases"] {

  #secondary_header_region {
    #block-breadcrumbs {
      @include content-container;
      margin: 30px auto 0;
    }
    #block-php-shareblock {
      @include content-container;
      margin: 0 auto 30px;
    }
  }

  #content #content_region {
    p a {
      color: $color-blue-primary;
    }
    #block-list-cases-open {
      .views-exposed-form {
        $text-input-width: 450px;
        $submit-input-width: 40px;

        font-family: $sans-text;
        font-size: rem(16px);
        margin-bottom: 40px;
        position: relative;

        .js-form-item {
          display: inline-block;
          position: relative;

          label {
            display: block;
            font-weight: 500;
          }
          input[type="text"]  {
            border: 1px solid #CCCCCC;
            color: $color-darkgrey2;
            font-family: $sans-text;
            font-size: rem(16px);
            height: 40px;
            padding: 0 5px;
            position: relative;
            width: $text-input-width;
          }
        }
        .form-actions input[type="submit"] {
          background-color: blue;
          background-image: url("../images/down-arrow-icon.svg");
          background-position: center;
          background-repeat: no-repeat;
          border: 1px solid #CCCCCC;
          bottom: 0;
          color: transparent;
          cursor: pointer;
          height: $submit-input-width;
          left: 410px;
          position: absolute;
          width: $submit-input-width;
/*                width: calc(100% + 30px);
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;*/
        }
      
      }
      ol {
        color: $color-red;
        font-family: $sans-text;
        font-size: rem(22px);
        list-style-type: decimal-leading-zero;
        /*padding-left: 25px;*/

        li {
          padding-left: 5px;
        }
      }
      h4 {
        margin-bottom: 0;

        a {
          color: $color-darkblue2;
        }
      }
      .views-field-field-case-location {
        color: $color-red;
        font-family: $sans-text;
        font-size: rem(16px);
        font-weight: 300;
      }
      .views-field-body p {
        color: #000;
        font-family: $serif-text;
        font-size: rem(18px);
        margin: 10px 0;
      }
      .read-more {
        position: relative;

        a {
          vertical-align: 0%;
        }
      }
    }
    
  }
}