/*
  Styles for a general page that contains a banner image.
*/

#page[data-page-node-type="page_with_banner"] {

  @mixin main-column-positioning {
    border-right: 1px solid #E5E3E4;
    margin-bottom: $bottom-margin;
    padding: 0 40px $form-margin 0;

    @media (min-width: 800px) {
      $sidebar-width: 250px;  
      max-width: calc(100% - #{$sidebar-width} - #{$padding-between-columns});
    }
    @media (max-width: 800px) {
      $sidebar-width: 200px;
      max-width: calc(100% - #{$sidebar-width} - #{$padding-between-columns});
    }
    @media (max-width: $mobile-breakpoint) {
      border-right: none;
      max-width: 100%;
    }
  }

  $text-input-width: 220px;
  $form-margin: 15px;
  $newsletter-section-margin: 70px;
  $padding-between-columns: 30px;
  $bottom-margin: -15px;

  #content { 
    width: 100%;

    #content_region {
      margin: 0 auto 40px;
      max-width: $max-content-width;
      padding: 25px 50px;

      #block-pagetitle-2, 
      #block-relatedcontentmembersinthenews-mobile, 
      #block-relatedcontentsection106-mobile, 
      #block-relatedcontentpreserveamerica-mobile {
        display: none;
      }

      article {
        display: none;
      }

      .mobile_breadcrumb {
        display: none;
      }
      
      #block-sharethispage {
        margin: 15px auto 30px;

        .share_this_page_buttons:before {
          color: $color-red;
          content: 'SHARE';
          font-family: $sans-text;
          vertical-align: super;
        }
      }

      .newsletter_related {
        $sidebar-width: 250px;

        float: right;
        width: $sidebar-width;

        h4 {
          margin: 0 0 20px;
        }
        .related_item {
          font-size: rem(18px);
          margin-bottom: $form-margin;

          a {
            color: $color-blue-primary;
          }
        }
      }

      .newsletter_info {
        @include main-column-positioning;

        p {
          margin-top: 0;
        }
        .edition_links {
          padding-left: 30px;

          li {
            padding: 0 0 5px 10px;

            a {
              color: $color-blue-primary;
            }
          }
        }
        .subscribe_header {
          color: $color-darkgrey2;
          font-family: $sans-text;
          font-weight: 500;
          margin-bottom: 10px;
        }
      }

      .newsletter_disclaimer {
        @include main-column-positioning;
        margin-top: 5px;

        p {
          margin-top: 0;
        }
        .unsubscribe_header {
          color: $color-darkgrey2;
          font-family: $sans-text;
          font-weight: 500;
          margin: 40px 0 10px;
        }
      }

      .subscribe-container, .unsubscribe-container {
        @include main-column-positioning;

        .subscribe-form-field, .unsubscribe-form-field {
          position: relative;
        
          label {
            @include transition (all 0.2s);
            color: $color-darkgrey2;
            font-family: $sans-text;
            left: 15px;
            position: absolute;
            top: 25px;
            z-index: 5;
          }
          input {
            height: 40px;
            margin: $form-margin 0;

            &[type="text"], &[type="email"] {
              background-color: transparent;
              border: 1px solid $color-lightgrey-2;
              border-radius: 2px;
              font-family: $sans-text;
              font-size: rem(16px);
              padding: 0 0 0 15px;
              position: relative;
              width: $text-input-width;
              z-index: 20;

              &:focus {
                outline: none;

                  & ~ label {
                  /*font-size: rem(14px);*/
                  top: -10px;
                }
              }
              &:valid ~ label {
                /*font-size: rem(14px);*/
                top: -10px; 
              }
            }
            &[type="submit"] {
              @include font-size($button-font-sizes);
              @include hover-transition-background($color-lightblue-primary);
              background-color: $color-blue-primary;
              border: none;
              border-radius: 2px;  
              box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.26);
              color: #FFFFFF;
              cursor: pointer;
              display: block;
              height: 32px;
              font-family: $sans-text;
              letter-spacing: 0.02rem;
              line-height: 1.4rem;
              margin: $form-margin 0;
              padding: 7px 53px;
            }
          }
        }
      }

      .unsubscribe-container {
        margin-bottom: 0
      }

      #block-unsubscribeblock, #block-unsubscribeblock-2 {
        &:after {
          background-color: $background-color-grey2;
          content: " ";
          display: block;
          height: 1px;
          margin: $newsletter-section-margin 0;
          width: 100%;
        }
      }
    }
  }

/*  @media (max-width: $hero-breakpoint) {
    #content {
      box-shadow: none;
    }
  }*/

  @media (max-width: 800px) {
    #content #content_region {
      .newsletter_related {
        $sidebar-width: 200px;
        width: $sidebar-width;

        .related_item {
          font-size: 1rem;
        }
      }
      #block-sharethispage {
        .share_this_page_button {
          margin-left: 15px;

          &_print {
            display: none;
          }
        }
      }
    }
  }

  @media (max-width: $mobile-breakpoint) {
    #content #content_region {
      #block-breadcrumbs,
      #block-relatedcontentmembersinthenews, 
      #block-relatedcontentsection106, 
      #block-relatedcontentpreserveamerica,
      #block-unsubscribeblock:after, 
      #block-unsubscribeblock-2:after {
        display: none;
      }
      #block-relatedcontentmembersinthenews-mobile, 
      #block-relatedcontentsection106-mobile, 
      #block-relatedcontentpreserveamerica-mobile {
        display: block;
        margin-top: 20px;
        width: 100%;
        .newsletter_related {
          float: none;
          width: 100%;
        }
      }
      #block-relatedcontentmembersinthenews-mobile:after, 
      #block-relatedcontentsection106-mobile:after {
        background-color: $background-color-grey2;
        content: " ";
        display: block;
        height: 1px;
        margin: $newsletter-section-margin 0;
        width: 100%;
      }
      .newsletter_info, .subscribe-container, .newsletter_disclaimer, .unsubscribe-container {
        padding-right: 0;
      }
      .subscribe-container .subscribe-form-field  {
        input[type="text"], input[type="email"] {
          width: 100%;
        }
      }
      .unsubscribe-container .unsubscribe-form-field  {
        input[type="text"], input[type="email"] {
          width: 100%;
        }
      }
    }
  }

  @media (max-width: 400px) {
    #content #content_region #block-sharethispage .share_this_page {
      padding-left: 0;

      .share_this_page_buttons {
        text-align: left;

        &:before {
          padding-right: calc(100% - 215px);
        }
        .share_this_page_button {
          margin-left: 10px;
        }
      }
    }
  }
}
