/*
  Styles for a general page without a banner image.
*/

#page[data-page-node-type="page"] {
  #content {   
    width: 100%;

    #content_region {
      padding: 0;

      .addtoany_list{
        display: none;
      }
      h1 {
        color: $color-darkblue2;
      }
      #block-achp-content, #block-achp-local-tasks {
        @include content-container;
      }
      #block-breadcrumbs {
        @include content-container;
        /*margin-top: 20px;*/
      }
      [data-derivative-plugin-id="image_carousel-block_1"] {
        margin: 0 auto;
        max-width: $max-content-width;
      }
      #block-sharethispage {
        @include content-container;
        margin: 15px auto 30px;
      }
      #block-members-in-the-news-archives, #block-section-106-archives {
        @include content-container;
        .item-list ul li {
          a {
            color: $color-blue-primary;
          }
          &:first-of-type a:after {
            content: " - latest edition";
          }
        }
      }
    }
  }

  @media (max-width: $hero-breakpoint) {
    #content {
      box-shadow: none;
    }
  }

  @media (max-width: 800px) {
    #content #content_region {
      #block-sharethispage {
        .share_this_page_button {
          margin-left: 15px;

          &_print {
            display: none;
          }
        }
      }
    }
  }

  @media (max-width: $mobile-breakpoint) {
    #content #content_region {
      .achp-breadcrumb {
        display: none;
      }
      .mobile_breadcrumb {
        display: block;
      }
    }
  }

  @media (max-width: 400px) {
    #content #content_region #block-sharethispage .share_this_page {
      padding-left: 0;

      .share_this_page_buttons {
        text-align: left;

        &:before {
          padding-right: calc(100% - 215px);
        }
        .share_this_page_button {
          margin-left: 10px;
        }
      }
    }
  }
}
