/*#page[data-page-path-alias="/preserve-america/presidential-award/2008"],*/
#page[data-page-path-alias^="/preserve-america/presidential-award/2"] {
  $page-max-width: 750px;

  #secondary_header_region {
    #block-breadcrumbs {
      @include content-container;
      margin: 30px auto 0;
      max-width: $page-max-width;
    }
    #block-pagetitle-2{
      @include content-container;
      max-width: $page-max-width;
      text-align: center;

      h1 {
        color: $color-darkblue2;
        font-weight: normal;
        line-height: 1.2;

        &:after {
          background-color: $color-red;
          display: block;
          content: "";
          height: 1px;
          margin: 15px auto 25px;
          min-width: 50px;
          width: 15%;
        }
      }
    }
    #block-preserveamerica-shareblock {
      @include content-container;
      margin: 0 auto 30px;
      max-width: $page-max-width;
    }
  }
  #content #content_region {
    margin: 0 auto;
    max-width: $page-max-width;

    article div[data-achp-field-name="field_image"] {
      .achp-field-label, img {
        display: none;
      }
    }
  }
}