/*
  Styles for the preservation initiates landing page.
*/

[data-page-path-alias="/initiatives"] {
  $vertical-padding: 35px;
  $container-padding: 50px;

  #block-breadcrumbs {
    @include content-container;
    margin: 30px auto;
  }

  #content #content_region {
    #block-achp-content > article[about="/initiatives"] {
      display: none;
    }
    #block-preservation-initiatives-list, #block-youth-outreach-initiatives {
      $img-height: 200px;
      $img-width: 300px;
      $img-margin: 20px;

      header {
        background-color: white;
        height: auto;

        h2 {
          font-size: rem(36px);
          margin-bottom: 0;
        }
      }
      .views-row {
        margin-top: 50px;
        position: relative;

        .views-field-title h4 {
          margin-bottom: 5px;
          a {
            color: $color-red;
          }
        }
        .views-field-field-issue-thumbnail-image {
          @include clear-float;
          float: left;
          height: $img-height;
          margin-right: $img-margin;
          max-width: 100%;
          position: relative;
          width: $img-width;

          img {
            @include center-xy;
            height: $img-height;
            max-width: 100%;
            width: auto;
          }
        }
        .views-field-view-node {
          bottom: 5px;
          left: 395px;
          left: calc(#{$img-width} + #{$img-margin});
          position: absolute;

          .read-more {
            display: inline-block;
            vertical-align: 25%;

            a {
              @include after-element-icon-with-hover('../images/right-arrow-icon.svg', '../images/right-arrow-icon-blue.svg', -30px, $color-blue-primary);
              color: $color-grey;
              font-family: $sans-text;
              font-size: 0.875rem;
              font-weight: 500;
              text-decoration: none;
              text-transform: uppercase;
            }
            &:hover {
              color: $color-blue-primary;
            }
          }
        }

        &:after {
          background-color: $background-color-grey2;
          bottom: -$img-margin;
          clear: both;
          content: " ";
          display: block;
          height: 1px;
          margin: 20px 0 $vertical-padding;
          position: relative;
          width: 100%;
        }
      }

      @media (max-width: 850px) {
        .views-row {
          .views-field-title h4 {
            margin-bottom: 0;
          }
          .views-field-field-issue-thumbnail-image {
            float: none;
            margin: 0 auto $img-margin;

            img {
              max-height: 100%;
              max-width: 100%;
              width: auto;
            }
          }
          .views-field-field-issue-summary {
            padding-bottom: 20px;
          }
          .views-field-view-node {
            bottom: 0px;
            left: 0;

            .read-more a {
              padding-right: 30px;
              &:after {
                right: 0;
              }
            }
          }
        }
      }

      @media (max-width: 500px) {
        .views-row {
          .views-field-field-issue-thumbnail-image {
            img {
              height: auto;
              max-height: 100%;
              max-width: 100%;
              width: auto;
            }
          }
          .views-field-field-issue-summary {
            padding-bottom: 40px;
          }
          .views-field-view-node a {
            padding-right: 20px;
            &:after {
              right: 0;
            }
          }
        }
      }
    }
    #block-more-initiatives-list {
      padding: 20px 0;

      header {
        background-color: white;
        height: auto;
        margin-bottom: 20px;
      }
      .views-field-title {
        font-family: $sans-text;
        font-size: rem(18px);
        margin: 10px 0;
        text-transform: uppercase;

        a {
          color: $color-blue-primary;
        }
      }
    }
  }
}
