/*
  Styles for the protecting historic properties page
*/
#page[data-page-node-type="page_with_banner"] {
  $vertical-padding: 35px;
  $container-padding: 50px;
  $success-card-margin-vert: 25px;
  $success-card-margin-horiz: 20px;
  $success-card-height: 400px;
  $success-card-shadow-width: 3px;
  $success-card-width: calc((1024px - #{$container-padding} * 2 - #{$success-card-margin-horiz} * 2 - #{$success-card-shadow-width} * 3)/ 3);
  $two-card-container-width: calc(#{$success-card-width} * 2 + #{$success-card-margin-horiz} + #{$success-card-shadow-width} * 2 + #{$container-padding} * 2);
  $intro-106-img-width: 300px;
  $intro-106-img-height: 195px;
  $intro-106-img-padding: 20px;
  $e106-img-width: 100px;

  #content {
    margin: 0 auto;
    max-width: 100%;
    padding: 0;
    width: 100%;
  }
  #content_region {
        margin: 0 auto;
    max-width: 100%;
    padding: 0;
    width: 100%;

    #block-achp-content {
      article {
        margin: 0 auto;
        padding: $vertical-padding $container-padding;
      }
    }
    #block-anintroductiontosection106 {
      background: $background-color-grey2;
      padding: $vertical-padding 0;

      .block_container {
        @include clear-float;
        @include content-container;
        position: relative;

        h2 {
          padding-bottom: 10px;
        }
        img {
          float: left;
          margin-right: $intro-106-img-padding;
          max-width: $intro-106-img-width;
        }
        .intro_106_text {
          position: relative;
          height: $intro-106-img-height;

          p {
            margin: 0;
          }
          .read_more {
            bottom: 0;
            font-family: $sans-text;
            font-size: rem(14px);
            left: calc(#{$intro-106-img-width} + #{$intro-106-img-padding});
            padding: 3px 15px 0 0;
            position: absolute;

            a {
              display: inline-block;
              padding-right: 15px;

              &:after {
                right: 0;
              }
            }
          }
        }
      } 
    }
    #block-viewactivesection106casesinvolvingtheachp, #block-commentonrecentlyclosedsection106cases {
      .textblock_with_background {
        margin-bottom: $vertical-padding;
        margin-top: $vertical-padding;

        &.textblock_left {
          background-image: url('../images/half-section-section-106-map.png');
        }
        &.textblock_right {
          background-image: url('../images/half-section-section-106-comments.png');          
        }
      }
    }
    #block-featured-success-stories {
      /* IE has a lot of trouble interpreting calculated values from variables,
      so I included two values for many of the margins and widths below: the
      first as a simple px value, and the second the calculated variable-based
      value. If the second value fails, it will revert to the first.*/

      background-color: $color-lightblue3;
      clear: both;
      height: auto;
      margin-top: $vertical-padding;
      
      h2 {
        max-width: $max-content-width;
        margin: 0 auto;
        padding: $vertical-padding $container-padding 0;
      }
      & > div {
        margin: 0 auto;
        max-width: 1024px;
        padding: 0 $container-padding $vertical-padding;
        width: 100%;
      }
      .card {
        background-color: #ffffff;
        display: inline-block;
        height: $success-card-height;
        margin: 25px $success-card-margin-horiz 0 0;
        text-align: center;
        width: $success-card-width;
        
        .success_story {
          height: $success-card-height - 30px; 
          padding: 5px 10px;
          position: relative;  

          &_image {
            $success_story_image_height: 185px;
            @include fit-and-center-image($success_story_image_height);    
            margin-bottom: 15px;

            img {
              border: none !important;
            }
          }

          &_title h3 {
            text-align: inherit;
          }

          &_location {
            color: $color-lightgrey-2;
          }

          &_body p {
            font-family: $serif-text;
            font-size: rem(16px);
            margin: 5px;
            text-align: center;
          }

          &_link {
            @include center-x;
            bottom: 0;
            padding-right: 5px;

            a {
              vertical-align: 0;   
            }
          }
        }
      }
      .card.view-item-3 {
        margin-right: 0 !important;
      }
    }
    #block-moresuccessstoriesbutton-2 {
      background-color: $color-lightblue3;
      padding-bottom: $vertical-padding;

      button {
        margin: 0 auto;
      }
    }
    #block-digitallibrary {
      @include content-container-section;
      $icon-width: 46px;
      $icon-height: $icon-width;

      .library_categories {
        @include outer-container;
        font-family: $sans-text;
        max-width: 800px;
        padding: 0 0 $vertical-padding;

        .library_category {
          @include span-columns(5 of 12);
          @include shift(1);
          height: 60px;
          position: relative;
          margin-bottom: 10px;

          img {
            @include center-y;
            height: 50px;
            width: 50px;
          }
          .library_text {
            @include center-y;
            margin-left: 60px;
          }
        }
      }
      .library_button {
        button {
          margin-bottom: 0;
        }
      }
    }
    #block-electronic106submissionsystem {
      background-color: $color-lightblue3;

      .block_container {
        @include content-container-section;
        padding-bottom: 5px;

        .warning_block {
          @include clear-float;
          background-color: rgba(255,237,234,1);
          height: $e106-img-width;
          margin-bottom: $vertical-padding;
          position: relative;
          width: 100%;

          .warning_icon {
            /*@include clear-float;*/
            background: #CD1803 url('../images/warning-icon.svg') no-repeat center;
            background-size: 60px;
            display: inline-block;
            height: $e106-img-width;
            width: $e106-img-width;
            float: left;
            margin-right: 25px;  
          }
          p {
            @include center-y;
            padding-right: 15px;
            position: relative;

            a {
              color: $color-blue-primary;
            }
          }
        }
      }
    }
    #block-electronic106submissionsystembutton {
      background-color: $color-lightblue3;
      padding-bottom: $vertical-padding;   

      &>div {
        @include content-container;
      }
    }
    @media (max-width: 1040px) {
      #block-featured-success-stories > div {
        max-width: 100%;
        padding: 0 $container-padding $vertical-padding;
        width: 710px;
        width: $two-card-container-width;

        .card {
          &:nth-of-type(2) {
            margin-right: 0;
          }
        }
        .card.view-item-3 {
          margin: 25px 0 0;
          margin-left: 151px;
          margin-left: calc(#{$success-card-width} / 2);
        }
      }
    }
    @media (max-width: 950px) {
      #block-electronic106submissionsystem .block_container .warning_block {
        height: 150px;

        $mobile-img-left-padding: 15px;

        .warning_icon {
          @include center-y;
          left: $mobile-img-left-padding;
        }
        p {
          @include center-y;
          left: calc(#{$e106-img-width} + #{$mobile-img-left-padding} * 2);
          margin-top: 0;
        }
      }
    }
    @media (max-width: 750px) {
      #block-anintroductiontosection106 .block_container {
        img {
          @include center-x;
          float: none;
          position: relative;
          margin: 0 0 10px;
        }
        .intro_106_text {
          height: auto;

          .read_more {
            left: 0;
            margin-top: 15px;
            position: relative;

            a:after {
              right: auto;
            }
          }
        }
      }
      #block-viewactivesection106casesinvolvingtheachp, #block-commentonrecentlyclosedsection106cases {
        margin: 0;

        .textblock_with_background {
          height: 275px;
          margin: 0 !important;

          .split_block_container {
            @include content-container;

            p {
              margin-bottom: 25px;
            }
          }
          button {
            padding-left: 25px;
            padding-right: 25px;
          }
        }
      }
      #block-digitallibrary .library_categories {
        .library_category {
          @include span-columns(9 of 12);
          @include shift(3);
        }
      }
      #block-featured-success-stories {
        margin-top: 0;
      }
    }
    @media (max-width: 724px) {
      #block-featured-success-stories > div {
        .success-story.card {
          margin: 25px auto 0 !important;
          display: block !important;
        }
      }
    }
    @media (max-width: 700px) {
      #block-electronic106submissionsystem .block_container .warning_block {
        height: 200px;
      }
    }
    @media (max-width: 650px) {
      #block-digitallibrary .library_categories {
        .library_category {
          @include shift(0);
          height: 100px;
          text-align: center;
          width: 100%;

          .library_text, img {
            @include undo-center-y;
            display: block;
            margin: 0 auto;
          }
          .library_text {
            margin-top: 10px;
          }
        }
      }
    }
    @media (max-width: 550px) {
      #block-electronic106submissionsystem .block_container .warning_block {
        height: auto;

        .warning_icon {
          @include undo-center-y;
          float: none;
          height: 70px;
          margin: 0;
          width: 100%;
        }
        p {
          @include undo-center-y;
          padding: 0 10px 10px;
          top: 60%;
        }
      }
    }
    @media (max-width: 500px) {
      #block-anintroductiontosection106 .block_container {
        .intro_106_text .read_more a:after {
          right: 0;
        }
      }
    }
  }
}