#page[data-page-node-type="question_answer"] {
  @extend #page[data-page-node-type="page"];

  #content #content_region #block-achp-content {
    margin-bottom: 40px;
    padding: 0;

    h2 {
      text-align: left;
      
      & + p {
        margin-top: 0;
      }
    }
  }
}