/*
  This stylesheet defines the default styles
  for the Section 106 Case Profile pages.
*/
[data-page-node-type="section_106_case_profile"] {
  @import "../styleguide";
  @import "../digital_library_document_page";

  .section_106_map_case_location {
    color: $color-red;
    font-size: 1.375rem;
  }
  .section_106_map_case_body {
    color: black;
    font-size: 1rem;

    .section_106_case_field {
      font-family: $serif-text;
    }
    .section_106_map_case_contact_info > div {
      display: inline-block;
      margin-right: 25px;
    }
    .section_106_map_case_description {
      p {
        margin: 0px;
        padding: 0px;
        text-align: left;
      }
    }
    .section_106_map_case_body_agency_header_title,
    .section_106_map_case_body_contact_header_title {
      color: $color-darkblue2;
      margin-top: 10px;
    }
    .section_106_map_case_body_agency_header,
    .section_106_map_case_body_contact_header {
      margin-top: 10px;
    }
    .section_106_map_case_contact_title {
      color: rgb(186, 186, 186);
      margin-left: 10px;
      font-family: $serif-text;
    }
  }
}
