#page[data-page-path-alias="/about/staff"] {

  @mixin create-header($label) {
    content: $label;
    color: #000;
    display: block;
    font-size: rem(16px);
    font-family: $sans-text;
    font-weight: 500;
    left: -15px;
    position: relative;
    top: -30px;
  }

  $submit-button-width: 40px;

  #secondary_header_region {
    #block-breadcrumbs {
      @include content-container;
      margin: 30px auto 0;
    }
    #block-about-achp-share {
      @include content-container;
      margin: 0 auto 30px;
    }
    #block-views-block-image-carousel-block-1 {
      display: none;
    }
/*    #block-pagetitle-2 {
      @include content-container;
    }*/
  }
  #content {
    @include content-container;
    
    #content_region {
      @include outer-container (100%);
      /*@include content-container;*/
      font-size: rem(18px);

      #block-achp-content {
        @include clear-float;
        padding: 0;

        .achp_contact_box {
          @include span-columns (20);
          border: 1px solid $background-color-grey2;
          margin: 40px 0;
          padding: 20px 35px 35px;
          width: 100%;

          .contact_header {
            @include span-columns (20 of 20);

            h4 {
              display: inline-block;
              margin-top: 0;

              &:after {
                @include hr($color-red);
                content: "";
                display: block;
                margin-top: 20px;
                width: 80%;
              }
            }
          }
          .contact_column {
            .contact_box_label {
              font-family: $sans-text;
              font-weight: 600;
              margin-top: 5px;
            }
            a {
              color: $color-blue-primary;
            }
          }
          .achp_phone_fax, .achp_email {
            @include span-columns (4 of 20);
          }
          .achp_address, .achp_social {
            @include span-columns (6 of 20);       
          }
        }
      }

      #block-staff-list {
        margin-bottom: 40px;

        .item-list {
          @include clear-float;
          padding: 30px 25px 5px;

          &:first-of-type {
            border-top: 2px solid $color-lightblue-primary;
            padding-top: 0;

            h3:before {
              @include create-header('OFFICE');
            }
            ul:before {
               @include create-header('STAFF MEMBER');
            }
          }
          &:last-of-type {
            border-bottom: 2px solid $color-lightblue-primary;
          }
          &:nth-child(even) {
            background-color: $background-color-lightblue;
          }
          h3 {
            color: $color-red;
            float: left;
            font-size: rem(20px);
            padding-right: 20px;
            width: 50%;
          }
          ul {
            float: left;
            width: 50%;
            margin: 0;
            padding: 0;

            li {
              color: $color-darkgrey;
              font-family: $sans-text;
              list-style: none;
              padding-bottom: 15px;

              .views-field-title {
                color: $color-darkblue2;
                font-weight: 500;
              }
              .views-field-field-staff-position {
                color: $color-lightgrey-2;
              }
              .views-field-field-staff-phone,
              .views-field-field-staff-fax,
              .views-field-field-staff-email {
                position: relative;

                .field-content {
                  display: inline;
                  left: 75px;
                  position: absolute;   

                  a {
                    color: $color-blue-primary;
                  }             
                }
              }
            }
          }
        }
      }

      @media (max-width: 900px) {
        #block-achp-content .achp_contact_box {
          padding-bottom: 25px;

          .contact_column {
            @include span-columns (10 of 20);
            padding-bottom: 10px;
          }
        }
      }
      @media (max-width: 700px) {
        #block-achp-content .achp_contact_box {
          padding: 20px 20px 25px;

          h4 {
            font-size: rem(18px);
          }
        }
      }
      @media (max-width: 600px) {
        #block-achp-content .achp_contact_box {
          h4:after {
            width: 60%;
          }
          .contact_column {
            @include span-columns (20 of 20);
          }
        }
        #block-staff-list .item-list {
          &:first-of-type {
            padding-top: 30px;
          }
          h3, ul {
            float: none;
            width: 100%;
          }
          h3:first-of-type:before {
            content: "";
          }
          ul:first-of-type:before {
            content: "";
          }
        }
      }
    }
  }
}