/*
  This stylesheet defines the default styles
  for the User Account pages.
*/
[data-page-path^="/user/"] {
  @import "../styleguide";

  #main {
    #secondary_header_region {
      margin: 0 auto;
      max-width: $max-content-width;
      padding: 0 $margin-large;
    }
    #content_region {
      @include styleguide;

      h3 {
        @include h3($color: $color-red, $center: false);
        color: $color-red;
        text-align: left;
      }
      h4 {
        @include h4($color: $color-red, $center: false);
        color: $color-red;
        text-align: left;
      }
    }
  }
}
