/*
  This module defines the default styling for
  Page Menu blocks.
*/

.page-menu-instance-container {

  .page-menu-instance {
    position: relative;

    .page-menu-instance-menu {
      position: absolute;

      .page-menu-instance-menu-header {
        display: none;
      }
    }
  }
}
