@import "../global";

#outer_container {
  background-color: #fff;
}
#main-wrapper {
  @include outer-container(100%);

  p {
    text-align: left;
  }
}
#content {
  margin: 0 auto;
  max-width: $max-content-width;
  padding: 0 40px;

  #block-achp-page-title h1 {
    @extend h1;
    @include font-size($h1-font-sizes);
    line-height: 1;
    text-shadow: none;
    text-align: left;
  }
  #block-achp-local-tasks ul {
    list-style-type: none;
    padding-left: 0;

    li {
      display: inline;

      a {
        font-family: $sans-text;
      }
    }
  }
}
@media screen and (max-width: $mobile-breakpoint) {
  #content {
    display: block;
    padding: 0 20px;
  }
}
