/*
  This module contains styles for the page
  footer element.
*/
@import "../global";
@import "../bourbon/bourbon";

$footer-padding: 40px;
#footer {
  @include outer-container;
  background-color: $color-darkblue;
  color: white;
  font-size: rem(14);
  font-family: $sans-text;
  letter-spacing: 0.02rem;
  max-width: 100%;
  padding: $footer-padding;

  h1, h2, h3, h4, h5, p{
    color: white;
    text-align: left;
    text-transform: uppercase;
  }
  h2 {
    font-family: $sans-text;
    font-size: rem(18);
  }
  a {
    @include hover-transition-content($color-blue-primary);
    color: white;
    font-size: rem(12);
    text-decoration: none;
  }
  ul, ol {
    list-style-type: none; 
    padding: 0px;

    li {
      margin-top: 10px;

      &:last-of-type {
        margin-bottom: 10px;
      }
    }
  }
  .social_icons {
    padding-top: 20px;

    .social_media {
      padding-right: 20px;
    }
  }
  .content_wrapper {
    text-align: left;

    #footer_2_columns_left {
      @include span-columns(8);

      #footer_left {
        @include span-columns(6);
        padding-right: $footer-padding;
      }
      #footer_middle {
        @include span-columns(6);
        padding-right: $footer-padding
      }
    }
    #footer_right {
      @include span-columns(4);
    }
  }
}

@media (max-width: $hero-breakpoint) {
  #footer {
    .content_wrapper {
      #footer_2_columns_left {
        @include span-columns($grid-columns / 2);

        #footer_left {
          @include span-columns($grid-columns);
        }
        #footer_middle {
          @include span-columns($grid-columns);
          margin-top: $footer-padding;
        }
      }
      #footer_right {
        @include span-columns($grid-columns / 2);
      }
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  #footer {
    .content_wrapper {
      #footer_2_columns_left {
        @include span-columns($grid-columns);
      }
      #footer_right {
        @include span-columns($grid-columns);
      }
    }
  }
}
