@import "../global";

header {
  @include outer-container(100%);
  background-color: $color-darkblue;
  height: $header-height;
  overflow: hidden;
  width: 100%;

  #header-container {
    height: $header-height;
    margin: 0 auto;
    max-width: $max-content-width;
  }
  #header_region {
    @include outer-container(100%);
    display: inline-block;
  }
  #header_left_container, #header_right_container, #block-headerbranding, #block-headerbranding3 {
    max-height: $header-height;
  }
  #header_branding_logo {
    img {
      border: none;
      height: $header-height;
    }
  }
  #header_branding_title {
    color: #fff;
    display: inline-block;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.25;
    padding: 10px;
    padding-left: 40px;
    max-width: 400px;
    text-align: left;
    text-decoration: none;
    text-shadow: none;

    a {
      color: #fff;
      text-decoration: none;  
    }
  }

  #block-headercontactlinks, 
  [data-plugin-id="contact_us_block"] {
    color: white;
    float: right;
    font-weight: 400;
    padding: 15px 0 5px;

    a {
      @include hover-transition-content($color-lightblue-primary);
      color: white;
      font-family: $sans-text;
      font-size: 0.875rem; 
      text-decoration: none;    
    }
    .text_links a {
      border-right: 1px solid rgba(9, 144, 254, 0.6);
      padding: 5px 15px;
    }
    .social_icons {
      margin-left: 15px;
      vertical-align: sub;

      .social_media {
        @include hover-transition-content($color-lightblue-primary);
        padding-right: 10px;

        &:last-of-type {
          padding-right: 0;
        }
      }
    }
    img {
      vertical-align: text-bottom;
    }
  }
  #block-headertextdropdown, #block-headertextdropdown-3 {
    color: white;
    font-family: $sans-text;
    font-size: 0.875rem;
    font-weight: 300;
    height: 30px;

    .header_dropdown_text {
      vertical-align: text-top;
    }

    select.header_dropdown_menu {
      border: 1px solid #979797;
      border-radius: 2px;
      color: $color-lightgrey;
      font-family: $sans-text;
      font-size: 0.75rem;
      height: 100%;
      line-height: 1.25;
      margin: 1px 10px 0;
      outline: none;
      padding: 6px 7px;
      width: 50%;

      option {
        font-family: $sans-text;

        &.selection {
          color: #000;
        }
      }
    }
  }

  #header_widescreen_search_bar {
    float: right;
    height: 30px;

    #block-achp-search {
      height: auto;

      .form-item {
        height: 30px;
        width: 90%;

        input.form-search {
          border: 1px solid #979797;
          border-radius: 2px;
          font-size: 0.75rem;
          height: 100%;
          line-height: 1.25;
          outline: none;
          padding: 15px 11px;
          width: 101%;
        }
      }
      .form-actions {
        float: right;
        height: 32px; /* 30px height of text input, plus 1px each for top and bottom borders*/
        margin: 0;
        width: 11%;

        input.form-submit {
          @include hover-transition-background($color-lightblue-primary);
          background-color: $color-blue-primary;
          background-image: url('../images/search-icon.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: 63%;
          border: none;
          border-radius: 0 2px 2px 0;    
          bottom: 30px;
          color: transparent;   
          cursor: pointer;   
          height: 100%;
          position: relative;
          width: 100%;
        }
      }   
    }
  }
}

@media (min-width: $menu-breakpoint) {
  header {
    #header-container {
      margin: 0 auto;
    }
    #header_region {
      @include span-columns (12);
    }
    #header_branding_logo {
      @include span-columns(1 of 12);
    }
    #header_branding_title {
      @include span-columns(8 of 12);
    }
    #header_widescreen_search_bar {
      @include span-columns(3 of 12);
      float: right;
      width: 26.5%;
    }
  }
}

@media (max-width: $menu-breakpoint) {
  header {   
    height: $header-mobile-height;

    #header-container {
      height: $header-mobile-height;
      margin: 0 50px;
    }
    #header_left {
      margin: 0 auto;
      position: relative;
      width: $header-logo-mobile-width + $header-title-medium-width;
    }
    #header_branding_logo {
      float: left;

      img {
        height: $header-mobile-height;
      }
    }
    #header_branding_title {
      @include center-y;
      float: left;
      font-size: 1.625rem;
      padding: 0;
      right: 0;
      text-align: center;
      top: $header-mobile-height / 2;
      width: $header-title-medium-width;
    }
    #block-headercontactlinks,
    [data-plugin-id="contact_us_block"] {
      display: none;
    }
  }
}

@media (max-width: 500px) {
  header {
    #header_left {
      margin: 0 auto;
      position: relative;
      text-align: center;
      width: $header-logo-mobile-width + $header-title-small-width;
    }
    #header_branding_title {
      font-size: 1.25rem;
      width: $header-title-small-width;
    }
  }
}
