/*
  This module contains styles used within the
  Homepage Hero region.
*/

#homepage_hero_region {
  background-image: url('../images/columns-banner-bg.png');
  background-position: center;
  background-size: cover;
  height: 500px;
  padding: 25px 50px;
  position: relative;

  #homepage_hero_content {
    @include center-xy;
    color: #FFFFFF;
    max-width: $max-content-width;
    padding: 0 42px;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.50);
    width: 100%;
    
    h1 {
      @include font-size($header-font-sizes);
      text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.50);
      
      &.heading_subtitle {
        @include font-size($header-subtitle-font-sizes);
        font-weight: 300;
      }
    }
    hr {
      @include hr(#FFFFFF);
      margin-top: 20px;
    }
    p {
      @include font-size($hero-p-font-sizes);
      margin-top: 0;
    }
    button {
      margin: 40px auto 0;
    }
    @media (max-width: $hero-breakpoint) {
      margin-top: 20px;
    }
  }
}
