/*
  This module contains styles used in the
  Homepage Success region.
*/

#homepage_success_region {
  background-color: $background-color-grey;
  height: auto;
  padding: 25px 50px;

  p {
    margin-bottom: 0;
  }
  button {
    clear: both;
  }
  .success-story.card .success_story_body p {
    font-size: rem(14px);
  }
  @media (max-width: 384px) {
    padding: 25px 10px;

    #block-preservationsuccessstories {
      padding: 0 40px;
    }
    #block-moresuccessstoriesbutton {
      padding: 0 40px;
    }
  }
}
