/*
  This module contains styles used by the
  Homepage Events region.
*/

#homepage_events_region {
  background-image: url('../images/blue-columns-background.jpg');
  background-size: 2000px 1166px; // set height to a value greater than the maximum content height.
  height: auto;

  .header_container {
    padding: 25px 50px;
  }

  h2 {
    color: #FFFFFF;
  }
  hr {
    @include hr(#FFFFFF);
  }
}
