/*
  This module contains styles used in the
  Homepage Preserve America region.
*/

#homepage_preserveamerica_region {
  padding: 25px 50px;
  background-color: $background-color-grey;

  hr {
    width: 100px;
  }
}
