/*
  This module contains styles used in the
  Homepage Flowchart region.
*/

#homepage_flowchart_region {
  background-color: $background-color-lightblue;
  padding: 25px 0px 0px 0px;
  text-align: center;
  width: 100%;

  .slide-format-feature {
    background-color: white;
  }
  #block-readmoreaboutthefederalpreservationprocess {
    padding: 20px 20px 30px;
    text-transform: uppercase;
  }
}
