/*
  This module contains styles used in the
  Homepage Success region.
*/

#homepage_success_region {
  @include content-container;
  background-color: $background-color-grey;
  height: auto;
  padding-bottom: 25px;
  padding-top: 25px;

  p {
    margin-bottom: 0;
  }
  button {
    clear: both;
  }
  .success-story.card {
    max-width: 100%;

    .success_story_body p {
      font-size: rem(14px);
    }
  }
  #block-views-block-homepage-success-stories-block {
    max-width: 100%;
  }
  @media (max-width: 400px) {
    #block-moresuccessstoriesbutton {
      width: 100%;
    }
  }
}
