/*
  This module contains styles used in the
  Homepage Map region.
*/

#homepage_map_region {
  background-color: $color-darkblue;
  padding: 25px 0px 0px 0px;

  h2 {
    color: #FFFFFF;
  }
  hr {
    @include hr(#FFFFFF);
  }
}

