/*
  This module contains styles for the Homepage
  Issues region.
*/

#homepage_issues_region {
  height: auto;
  background-color: $background-color-lightblue;
  height: auto;
  padding: 25px 0px 0px 0px;
}
