/*
  This module contains styles used in the
  Homepage Flowchart region.
*/

#homepage_flowchart_region {
  padding: 25px 0px 0px 0px;
  width: 100%;
  background-color: $background-color-lightblue;
}
