/*
  This module contains styles used in the
  Homepage Impact region.
*/

#homepage_impact_region {
  padding: 25px 50px;
  margin: 0 auto;

  #block-ourimpact {
    margin: 0 auto;
  }
  .impact_item {
    @include span-columns (4 of 12);
    height: 300px;
    text-align: center;
    box-sizing: border-box;
    padding: 25px;
    margin-bottom: 15px;

    img {
      height: 120px;
    }
    .impact_number {
      color: $color-lightblue;
      font-family: $sans-text;
      @include font-size($impact_number-font-sizes);
      margin-top: 20px;
      font-weight: 500;
    }
    p {
      color: $color-grey;
      margin: 5px 0 25px;
    }
  }
  @media (max-width: 750px) {
    #block-ourimpact {
      margin-bottom: 25px;
    }
    .impact_item {
      margin-bottom: 25px;
      height: auto;
      padding: 0;
      @include span-columns (12 of 12);
      &_1 {
        margin-left: 0;
      }
      &_3 {
        margin-bottom: 25px;
      }
      .impact_number,
      p {
        margin: 0;
      }
      img {
        height: 60px;
      }
    }
  }
  button {
    clear: both;
  }
}
