/*
  This module contains styles used in the Quick
  Links region.
*/

#homepage_quicklinks_region {
  background-color: $background-color-grey;
  height: auto;
  overflow-y: visible;
  padding: 25px 50px;

  @media (max-width: 700px) {
    height: auto;
    padding: 25px 0;

    #block-quicklinks {
      margin-bottom: 5px;
    }
  }
}