{#
/**
 * @file
 * Defines the subscribe block content template.
 *
 * Available variables:
 * - subscribe.url: The URL that subscription
 *   requests should be sent to.
 * - subscribe.submit_label: The text used to
 *   label the submit button.
 *
 * Note: This form sends subscription requests
 * to createsend.ie. The form element names,
 * "mb-name" and "mb-stuk-stuk", are required by
 * this service.
#}
<div class="subscribe-container">
  <form
    class="subscribe-form"
    action="{{ subscribe.url }}"
    method="post"
  >
    <div class="subscribe-form-field subscribe-form-field-name">
      <label
        class="subscribe-form-field-label subscribe-form-field-name-label"
        for="mb-name"
      >Name:</label>
      <input
        class="subscribe-form-field-input subscribe-form-field-name-input"
        name="mb-name"
        type="text"
      />
    </div>
    <div class="subscribe-form-field subscribe-form-field-email">
      <label
        class="subscribe-form-field-label subscribe-form-field-email-label"
        for="mb-stuk-stuk"
      >Email:</label>
      <input
        class="subscribe-form-field-input subscribe-form-field-email-input"
        name="mb-stuk-stuk"
        type="text"
      />
    </div>
    <div class="subscribe-form-field subscribe-form-field-submit">
      <input value="{{ subscribe.submit_label }}" type="submit"/>
    </div>
  </form>
</div>
